<!-- import field rendering functions -->
{% from 'macros/forms/fields/boolean_field.html' import render_boolean_field %}
{% from 'macros/forms/fields/string_field.html' import render_string_field %}
{% from 'macros/forms/fields/slide_field.html' import render_slide_field %}
{% from 'macros/forms/fields/select_field.html' import render_select_field %}
{% from 'macros/forms/fields/csrf_field.html' import render_csrf_field %}
{% from 'macros/forms/fields/multiselect_field.html' import render_multiselect %}


<!-- render name+description as provided -->
{% macro render_field_header(field) -%}
  <div class='input-title' id='{{ field.name }}_label'>
    <h6 style="display: inline;">
      {{ field.label()|safe }}
    </h6>
    {% if field.description %}
      <div class='boop'>
        <i style="font-size:24px; color:white;" class="fa">&#xf059;</i>
        <span class="tooltiptext">{{ field.description }}</span>
      </div>
    {% endif %}
  </div>
{% endmacro -%}


<!-- render errors for field if they exist -->
{% macro render_field_errors(field) -%}
  {% if field.errors %}
    <p class='warning'>{{ field.errors[0] }}</p>
  {% endif %}
{% endmacro -%}


<!-- dict mapping field type to correct render function -->
{%
  set render_fn = dict([
    ('BooleanField',                render_boolean_field),
    ('StringField',                 render_string_field),
    ('TextAreaField',               render_string_field),
    ('TextField',                   render_string_field),
    ('IntegerField',                render_slide_field),
    ('SelectField',                 render_select_field),
    ('SelectMultipleField',         render_multiselect),
    ('CSRFTokenField',              render_csrf_field)
  ])
%}


{% macro render_field(field) -%}
  <div class='formtab {{ field.render_kw.get("tabclass") }}' data-field-type='{{ field.type }}' data-seconds='{{ field.render_kw["seconds"] }}' data-field-id='{{ field.id }}' data-field-validators='validate_not_empty();' id='{{ field.name }}_segment'>
    <div class="row input-segment">
      {{ render_field_header(field) }}
      {{ render_fn[field.type](field) }}
      {{ render_field_errors(field) }}
    </div>
  </div>
{% endmacro -%}
