{% from 'macros/cards/subject.html' import render_subject_tag %}

{% macro render_multiselect(field, tags=0) -%}
<div id='select-box'>
  {{ field(id='hidden-select', style='display:none;') }}
  {% set prev_data = field.data if field.data else [] %}
  <div class='row'>
    <!-- selected -->
    <div class='col' id='selectedSubjects'>
        <p class='passion-column-header'>
          Selected
        </p>
        <div class='selected-subjects multiselect-options'>
          {% for id in prev_data %}
            {{ render_subject_tag(field.choices[id-1][1]) }}
          {% endfor %}
        </div>
    </div>
    <!-- unselected -->
    <div class='col' id='unselectedSubjects'>
      <span style='display:inline-block;'>
        <p>
          <u>Unselected (scroll for more)</u>
          <i class="fas fa-search"></i>
          <input class='select-clean' style='font-size:100%; width:30%;' type="text" placeholder="search..." id="unselectedSearch" onkeyup="filterFunction('unselectedSearch', 'unselectedSubjects')">
        </p>
      </span>
      <div class='unselected-subjects multiselect-options'>
        {% for id, subject in field.choices %}
          {% if not id in prev_data %}
            {{ render_subject_tag(subject) }}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
// sessionStorage.setItem('n', 0);
  var select_box = document.getElementById('select-box');
  var subject_tags = select_box.getElementsByClassName('subject-tag');
  var select = document.getElementById('hidden-select');
  // start selected subjects as selected
  var prev_selected = select_box.getElementsByClassName('selected-subjects')[0];
  for(var i=0; i<prev_selected.lenght; i++) {
    var id = prev_selected[i].getAttribute("data");
    select.getElementsByTagName('option')[id-1].selected = true;
  }
  var subject_click = function () {
    var subject_id = this.getAttribute("data");
    var selected = this.getAttribute('selected');
    this.remove();
    if (selected=='false') {
      $('.selected-subjects').append(this);
      this.setAttribute('selected', 'true');
      select.getElementsByTagName('option')[subject_id-1].selected = true;
      // sessionStorage.setItem('n', sessionStorage.getItem('n')+1);
    } else {
      $('.unselected-subjects').append(this);
      this.setAttribute('selected', 'false');
      select.getElementsByTagName('option')[subject_id-1].selected = false;
      // sessionStorage.setItem('n', sessionStorage.getItem('n')-1);
    }
  }
  for(var i=0;i<subject_tags.length;i++){
      var tag = subject_tags[i];
      tag.addEventListener('click', subject_click, false);
      var prev_selected = tag.parentElement.classList.contains('selected-subjects');
      if (prev_selected) {
        var subject_id = tag.getAttribute("data");
        tag.setAttribute('selected', 'true');
        select.getElementsByTagName('option')[subject_id-1].selected = true;
      }
  }
</script>
{% endmacro -%}
