{% from 'macros/cards/subject.html' import render_subject_tag %}

{% macro render_multiselect(field, tags=0) -%}
<div id='select-box'>
  {{ field(id='hidden-select', style='display:none;') }}
  {% set prev_data = field.data if field.data else [] %}
  <div class='col'>
    <div class='row'>
      <p class='passion-column-header'>Selected</p>
    </div>
    <div class='row selected-subjects'>
      {% for id in prev_data %}
        {{ render_subject_tag(field.choices[id-1][1]) }}
      {% endfor %}
    </div>
    <br>
    <div class='row'>
      <p class='passion-column-header'>Unselected (scroll for more)</p>
    </div>
    <div class='row unselected-subjects'>
      {% for id, subject in field.choices %}
        {% if not id in prev_data %}
          {{ render_subject_tag(subject) }}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<script>
  <script src="js/chat.js"></script>
</script>
{% endmacro -%}
