<!-- this maybe should still be preserved for competitions -->
{% macro render_searchable_select_field(field) -%}
  {{ field(class='input add-select', style='display: none;') }}
  <div class='col' id='searchableOptions-{{ field.id }}'>
    <span style='display:inline-block;'>
      <p>
        <u>Options (scroll for more)</u>
        <i class="fas fa-search"></i>
        <input class='select-clean' style='font-size:100%; width:30%;' type="text" placeholder="search..." id="optionSearch-{{ field.id }}" onkeyup="filterFunction('optionSearch-{{ field.id }}', 'searchableOptions-{{ field.id }}')">
      </p>
    </span>
  </div>
  {% for id, option in field.choices %}
    <p class='searchable'>{{ option }}</p>
  {% endfor %}
{% endmacro -%}


{% macro render_select_field(field) -%}
  {% if field.render_kw.get('searchable') %}
    {{ render_searchable_select_field(field) }}
  {% else %}
    <div class='input-control select_field' id='{{ field.id }}'>
      {% for i, name in field.choices %}
        {% set data = field.render_kw['datamap'][i] %}
        <input id="{{ name }}-{{ field.id }}" class="toggle" name="{{ field.name }}" value='{{ i }}' type="radio" data-key="{{ data['key'] }}" onclick="{{ data['action'] }}">
        <label for="{{ name }}-{{ field.id }}" class="btn">
          <i class="{{ data['icon'] }} fa-2x"></i>
          <br>
          <span class='presskey'>
            {{ data['key'] }}
          </span>
          {{ name }}
        </label>
      {% endfor %}
    </div>
  {% endif -%}
{% endmacro -%}
