{% from 'macros/listbox.html' import render_listbox with context %}

{% extends 'home_base.html' %}

{% block title %}Message{% endblock %}

{% block head %}
  {{ super() }}
  <meta name="description" content="See your notifications on TheProjectProject.">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="/css/scroll_styles.css">
  <link rel="stylesheet" href="/css/project_styles.css">
  <link rel='stylesheet' href="/css/badge_styles.css">
{% endblock %}

{% block content %}
  <div class='container my-1 main' style='padding:0px; margin:0px;'>
    <div style='padding-top: 15px; padding-bottom: 15px; margin-left:10px; margin-right:30px;'>
      <input class='select-clean' type="text" placeholder="Search messages..." id="messagesSearch" onkeyup="filterFunction('messagesSearch', 'listbox-messages')">
    </div>
    {{
      render_listbox(
        id_postfix='messages',
        card_type='channel',
        data=messages,
        size='big',
        background='transparent'
      )
    }}
  </div>
{% endblock %}
