{% from 'macros/listbox.html' import render_listbox with context %}

{% extends 'home_base.html' %}

{% block title %}Message{% endblock %}

{% block head %}
  {{ super() }}
  <meta name="description" content="See your notifications on TheProjectProject.">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="/css/scroll_styles.css">
  <link rel="stylesheet" href="/css/project_styles.css">
  <link rel='stylesheet' href="/css/badge_styles.css">
{% endblock %}

{% block content %}
  <h4>Messages</h4>
  <input class='select-clean' type="text" placeholder="search.." id="messagesSearch" onkeyup="filterFunction('messagesSearch', 'messagesDropdown')">
  <div class='container my-1 main'>
    {{
      render_listbox(
        id_postfix='messages',
        card_type='channel',
        data=messages,
        size='big'
      )
    }}
  </div>
{% endblock %}
