{% extends "home_base.html" %}
{% from 'components/form_macros.html' import render_multiselect %}
{% from 'macros/forms/field.html' import render_field %}
{% from 'macros/forms/field.html' import render_field_header %}

{% block title %}Add Project{% endblock %}
{% set is_add = true %}


{% block head %}
  {{ super() }}
  <meta name="description" content="Share your ideas on TheProjectProject!">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- custom stylesheets -->
  <link type="text/css" href="/css/add_styles.css" rel="stylesheet">
  <link type='text/css' href='/css/select_styles.css' rel='stylesheet'>
  <link type='text/css' href='/css/slider_styles.css' rel='stylesheet'>
{% endblock %}

{% block content %}

<form class='container' style='border:1px solid white;background:black; min-width:90%; min-height:80%;' id='project_form' method='post'>
    <div class='row row-button'>
      <div class='col'>
        <div class='input-title'>
        </div>
        <u><h3 style='text-align:left; margin:0px;'>
          describe your idea.
          <div class='boop'>
            <i style="font-size:24px; color:white;" class="fa">&#xf059;</i>
            <span class="tooltiptext">
              <p style='font-size: 60%; text-align: left; margin-bottom:0px;'>
              </p>
            </span>
          </div>
        </h3></u>
      </div>
      <div class='col col-lg-2 add-button' onclick='submit()'>
        add project.
      </div>
    </div>
    {{ form.csrf_token }}
    <div class='row head-row'>
      <div class='col left'>
        <h3>description</h3>
      </div>
      <div class='col left right'>
        <h3>team</h3>
      </div>
      <div class='col right'>
        <h3>management</h3>
      </div>
    </div>
    <div class='row top'>
      <div class='col left top'>
        {% for field in [form.name, form.oneliner, form.summary]%}
          {{ render_field(field) }}
        {% endfor %}
      </div>
      <div class='col left right'>
        {% for field in [form.complete, form.open, form.requires_application, form.application_question] %}
          {{ render_field(field) }}
        {% endfor %}
      </div>
      <div class='col right'>
        {% for elt in [form.estimated_time, form.team_size, form.subjects, form.competition] %}
          {% if elt.name=='estimated_time' %}
            <div class="row input-segment" id='{{ elt.name }}_segment'>
              {{ render_field_header(elt) }}
              <div class="slidecontainer">
                <input type="range" min="1" max="30" value="7" class="slider"
                      name='{{ elt.name }}' id="time_slider">
              </div>
              <p id='time-out' style='display: inline;'></p>
            </div>
          {% elif elt.name=='team_size' %}
            <div class="row input-segment" id='{{ elt.name }}_segment'>
              <div class="slidecontainer">
                <input type="range" min="{{ elt.render_kw['min'] }}"
                  max="{{ elt.render_kw['max'] }}"
                  value="{{ elt.render_kw['start'] }}" class="slider"
                      name='{{ elt.name }}' id="team_slider">
              </div>
            </div>
            <p id='team-out' style='display: inline;'></p>
          {% else %}
            {{ render_field(elt) }}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <br>
</form>

<script>
  // query sliders
  var time_slider = document.getElementById("time_slider");
  var team_slider = document.getElementById("team_slider");
  // query outputs
  var time_out = document.getElementById("time-out");
  var team_out = document.getElementById("team-out");
  // defaults
  time_out.innerHTML = time_slider.value + ' days';
  team_out.innerHTML = team_slider.value + ' people';
  // time sliding
  time_slider.oninput = function() {
    if (this.value==1) {
      time_out.innerHTML = 'n.a.';
    }
    else {
      time_out.innerHTML = this.value + ' days';
    }
  };
  team_slider.oninput = function() {
    team_out.innerHTML = (this.value) + ' people';
  };

  function submit() {
    document.getElementById("project_form").submit();
  };

  // toggles //
  function is_complete() {
    // change timing
    document.getElementById("time_slider").disabled = true;
    time_out.innerHTML = 'n.a.';
    document.getElementById("time_slider").value = 1;
    document.getElementById("estimated_time_segment").style.opacity = 0.4;
    // project isn't open
    document.getElementById('off-open').checked = true;
    toggle_open();
  };

  function not_complete() {
    document.getElementById("time_slider").disabled = false;
    time_out.innerHTML = '7 days';
    document.getElementById("time_slider").value = 7;
    document.getElementById("estimated_time_segment").style.opacity = 1;
    document.getElementById('on-open').checked = true;
    toggle_open();
  };

  function is_open() {
    // change team to 10
    document.getElementById("team_slider").disabled = false;
    document.getElementById("team_slider").value = 10;
    team_out.innerHTML = '10 people';
    document.getElementById("team_size_segment").style.opacity = 1;
    // requires application set to true
    document.getElementById('on-requires_application').checked = true;
    document.getElementById('off-complete').checked = true;
    toggle_requires_application();
  };

  function not_open() {
    // turn off team slider
    document.getElementById("team_slider").disabled = true;
    document.getElementById("team_slider").value = 1;
    team_out.innerHTML = '1 person';
    document.getElementById("team_size_segment").style.opacity = 0.4;
    // turn off application
    document.getElementById('off-requires_application').checked = true;
    toggle_requires_application();
  }

  function no_application() {
    document.getElementById("application_question").disabled = true;
    document.getElementById("application_question_segment").style.opacity = 0.4;
  };

  function yes_application() {
    document.getElementById("application_question").disabled = false;
    document.getElementById("application_question_segment").style.opacity = 1;
    document.getElementById('on-open').checked = true;
    document.getElementById('off-complete').checked = true;
  };

  function toggle_complete() {
    if (document.getElementById('on-complete').checked) {
        is_complete();
      } else {
        not_complete();
      }
  }

  function toggle_open() {
    if (document.getElementById('on-open').checked) {
        is_open();
      } else {
          not_open();
      }
  }

  function toggle_requires_application() {
    if (document.getElementById('on-requires_application').checked) {
          yes_application();
      } else {
          no_application();
      }
  }

  // start with not completed and default subsequents
  document.getElementById("off-complete").checked = true;
  toggle_complete();
</script>

{% endblock %}
