{% extends "home_base.html" %}
{% from 'components/form_macros.html' import render_multiselect %}

{% block title %}Add Project{% endblock %}

{% set is_add = true %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- custom stylesheets -->
  <link type="text/css" href="/css/add_styles.css" rel="stylesheet">
  <link type='text/css' href='/css/select_styles.css' rel='stylesheet'>
  <link type='text/css' href='/css/slider_styles.css' rel='stylesheet'>
{% endblock %}

{% block content %}
<form class='big-box container justify-content-center'>
  <center>
    <div class="row input-segment">
      <h6 style="display: inline;">
        What type of project are you working on?
      </h6>
      <div class="input-control" onclick='toggle_a()' id='a'>
        <input id="on-a" class="toggle toggle-left" name="a" value="true" type="radio">
        <label for="on-a" class="btn">
          <span class='presskey'>A</span>
          Company
        </label>
        <input id="off-a" class="toggle toggle-right" name="a" value="false" type="radio">
        <label for="off-a" class="btn">
          <span class='presskey'>B</span>
          Research
        </label>
      </div>
    </div>
  </center>
</form>
{% endblock %}
