{% extends "home_base.html" %}
{% from 'components/form_macros.html' import render_multiselect %}

{% block title %}Add Project{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- custom stylesheets -->
  <link type="text/css" href="/css/add_styles.css" rel="stylesheet">
  <link type='text/css' href='/css/select_styles.css' rel='stylesheet'>
  <link type='text/css' href='/css/slider_styles.css' rel='stylesheet'>
{% endblock %}

{% block content %}
<form class='big-box container justify-content-center'>
  <div class="row input-segment">
    <h6 style="display: inline;">
      Boop
    </h6>
    <div class="input-control">
      <input class="toggle" value="true" type="radio">
      <label class="btn"><span>A</span> Yes</label>

      <input class="toggle" value="false" type="radio">
      <label class="btn"><span>B</span> No</label>

      <input class="toggle" value="false" type="radio">
      <label class="btn"><span>C</span>Slm</label>

      <input class="toggle" value="false" type="radio">
      <label class="btn"><span>C</span>Slm</label>

    </div>
  </div>
</form>
{% endblock %}
