{% extends "home_base.html" %}
{% from 'components/form_macros.html' import render_multiselect %}

{% block title %}Add Project{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- custom stylesheets -->
  <link type="text/css" href="/css/add_styles.css" rel="stylesheet">
  <link type='text/css' href='/css/select_styles.css' rel='stylesheet'>
  <link type='text/css' href='/css/slider_styles.css' rel='stylesheet'>
{% endblock %}

{% block content %}
<form class='big-box container justify-content-center'>
  <center>
    {% for elt in form %}
      {{ elt }}
    {% endfor %}
  </center>
</form>
{% endblock %}
