{% from 'macros/carousels.html' import render_carousel with context %}
{% from 'macros/listbox.html' import render_listbox with context %}
{% from 'macros/tabs.html' import render_safe_tabs with context %}
{% from 'macros/cards/project.html' import render_project_action_bar %}
{% from 'macros/cards/badge.html' import render_badge_icon_bigger %}


{% extends "home_base.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block head %}
  {{ super() }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="css/scroll_styles.css">
    <link rel="stylesheet" href="css/project_styles.css">
    <link rel='stylesheet' href="css/badge_styles.css">
    <link rel='stylesheet' href="css/mobile_profile_styles.css">
{% endblock %}

{% block content %}
    <!-- GLOBALS -->
    {% set is_member = current_user in project.members %}
    {% set is_owner = (project.owner==current_user) %}
    <!-- PAGE -->
    <div class='container' style="min-width:100%;padding:0px;">
        <nav class='sidebar-header sticky-top' id='nameNav'>
        <div class='nav-keep' style='padding-bottom:2vh; padding-top:2vh;'>
          <p class='float-right'>
            <i class="fa fa-star"></i>
            {{ project.stars.all()|length }}
            <!-- edit button -->
            {% if is_owner %}
              <br>
              <button type='button' data-toggle='modal' data-target='#edit_modal' class='edit-button'>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                Edit
              </button>
            {% endif %}
          </p>
          <h3>
            {{ project.name }}
            {% if project.complete %}
              <i class="fa fa-check-circle" aria-hidden="true"></i>
            {% elif not project.open %}
              <i class="fa fa-lock" aria-hidden="true"></i>
            {% endif %}
          </h3>
          <p>
            by
            <a class='user-name' href='user={{ project.owner.code }}'>
              {{ project.owner.name }}
            </a>
          </p>
        </div>
        <!-- extra project info -->
        <div id='nav-expanded'>
          <div class='about-text'>
            <p>{{ project.oneliner }}</p>
            <p>{{ project.summary }}</p>
          </div>
          {% if current_user.is_authenticated %}
            <center>
              {{ render_project_action_bar(current_user, project) }}
            </center>
          {% endif %}
          <br>
        </div>
      </nav>

      {%
        set carousels = [
          (
            'To Do',
            (
              render_listbox(
                label='To Do',
                id_postfix='To Do',
                card_type='todo-task',
                icon_type='todo',
                data=project.todo_tasks().all(),
                empty_message='No tasks to do right now.',
                size='default'
              )
              {% if is_member and not project.complete %}
                <form class='post_form' id='task_form' method='post'
                  action="{{url_for('project.add_task', project_id=project.id)}}">
                  {{ task_form.hidden_tag() }}
                  {{ task_form.text(class='post-input', placeholder='Task') }}
                  <button>Add</button>
                </form>
              {% endif %}
            )
          ),
          (
            'Completed',
            (
              render_listbox(
                label='Completed',
                id_postfix='completed',
                card_type='complete-task',
                icon_type='complete',
                data=project.completed_tasks().all(),
                empty_message='No tasks completed yet.',
                size='default'
              )
            )
          )
        ]
      %}


      <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Tasks')" id="defaultOpen">Tasks</button>
        <button class="tablinks" onclick="openTab(event, 'Members')">Members</button>
        {% if current_user==project.owner %}
          {% if recommended_members!=False %}
            <button class="tablinks" onclick="openTab(event, 'Recommended')">Recommended</button>
            <button class="tablinks" onclick="openTab(event, 'Applications')">Applications</button>
            <button class="tablinks" onclick="openTab(event, 'Invitations')">Invitations</button>
          {% endif %}
        {% endif %}
        <button class="tablinks" onclick="openTab(event, 'Subjects')">Subjects</button>
      </div>

      <div id="Tasks" class="tabcontent">
        {% set todo_tasks = project.todo_tasks() %}
        {% set completed_tasks = project.completed_tasks() %}
        <h4 class='tabname-big'>
          Tasks
          <i class="fa fa-clock-o" style='color:#FF5D00;'></i>
          {{ todo_tasks.all()|length }}
          <i class="fa fa-check-circle" style='color:#FF5D00;'></i>
          {{ completed_tasks.all()|length }}
        </h4>
        <div class="list-group">
          <!-- todo tasks -->
          {% for task in todo_tasks %}
            <div class="list-group-item list-group-item-action flex-column align-items-start">
              <h6 class="mb-1">{{ task.text }}</h6>
              <div class="d-flex w-100 justify-content-between">
                <small>Requested
                {% if current_user.is_authenticated %}
                  by
                  <a href='user={{ task.author.code }}' class="mb-1">
                    {% if task.author %}
                      <u>{{ task.author.name }}</u>
                    {% else %}
                      Anonymous
                    {% endif %}
                  </a>
                {% endif %}
                on {{ time_to_str(task.post_stamp) }}</small>
              </div>
              {% if is_member %}
                <div class='action-bar'>
                  {% if current_user==task.author %}
                    <div class='hoverable'>
                      <a class='delete-btn task-btn float-left' href="{{ url_for('project.change_task_status', project_id=project.id, task_id=task.id, action='delete') }}">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                      </a>
                      <span class='tooltiptext'>Delete Task</span>
                    </div>
                  {% endif %}
                  <a class='complete-btn task-btn float-right' href="{{ url_for('project.change_task_status', project_id=project.id, task_id=task.id, action='complete') }}">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                  </a>
                </div>
              {% endif %}
            </div>
          {% endfor %}
          <!-- completed tasks -->
          {% for task in completed_tasks|reverse %}
            <div class="list-group-item list-group-item-action flex-column align-items-start">
              <h6 class="mb-1">{{ task.text }}</h6>
              <div class="d-flex w-100 justify-content-between">
                <small>Completed
                  {% if (task.workers|length > 0) and current_user.is_authenticated %}
                    by
                    {% for worker in task.workers %}
                        {% if loop.index==(task.workers|length) %}
                          <a href='user={{ worker.code }}' class='user-name'>
                            {{ worker.name }}
                          </a>
                        {% elif (task.workers|length)==2 %}
                          <a href='user={{ worker.code }}' class='user-name'>
                            {{ worker.name }}
                          </a>
                          and
                        {% else %}
                          <a href='user={{ worker.code }}' class='user-name'>
                            {{ worker.name }}
                          </a>
                        {% endif %}
                    {% endfor %}
                  {% endif %}
                on {{ time_to_str(task.complete_stamp) }}</small>
              </div>
              {% if is_member %}
                <div class='action-bar'>
                  {% if current_user in task.workers %}
                    <div class='hoverable'>
                      <a class='back-btn task-btn float-left' href="{{ url_for('project.change_task_status', project_id=project.id, task_id=task.id, action='back') }}">
                        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                      </a>
                      <span class='tooltiptext'>Actually, I Didn't Help</span>
                    </div>
                  {% else %}
                    <a class='complete-btn task-btn float-right' href="{{ url_for('project.change_task_status', project_id=project.id, task_id=task.id, action='complete') }}">
                      <i class="fa fa-check-circle" aria-hidden="true"></i>
                    </a>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        {% if is_member and not project.complete %}
          <form class='post_form' id='task_form' method='post'
            action="{{url_for('project.add_task', project_id=project.id)}}">
            {{ task_form.hidden_tag() }}
            {{ task_form.text(class='post-input', placeholder='Task') }}
            <button>Add</button>
          </form>
        {% endif %}
      </div>

      <div id="Members" class="tabcontent">
        <h4 class='tabname-big'>
          Members
          <i class="fa fa-user-circle" style='color:#FF5D00;'></i>
          {{ project.members.count() }}
        </h4>
        {% for member in project.members %}
          {{ macros.render_user_card(current_user, member, carousel_type='member') }}
        {% endfor %}
      </div>

      {% if recommended_members!=False %}
        <div id="Recommended" class="tabcontent">
          <h4 class='tabname-big'>
            Recommended
          </h4>
          {% for member in recommended_members %}
            {{ macros.render_user_card(current_user, member, carousel_type='member') }}
          {% endfor %}
        </div>
      {% endif %}

      <div id="Applications" class="tabcontent">
        <h4 class='tabname-big'>
          Applications
          <i class="fa fa-bell" aria-hidden="true"></i>
          {{ project.pending.all()|length }}
        </h4>
        {% for application in project.pending %}
          {{ macros.render_application_card(application, project) }}
        {% endfor %}
      </div>


      <div id="Subjects" class="tabcontent">
        <h4 class='tabname-big'>
          Subjects
          <i class="fa fa-flask" style='color:#FF5D00;'></i>
          {{ project.subjects.count() }}
        </h4>
        {% for subject in project.subjects %}
          {{ macros.render_subject_card(subject) }}
        {% endfor %}
      </div>

    </div>

    <!-- modals -->
    <div style='display:hidden;'>
      <!-- join/leave modal -->
      {{ macros.render_join_modal(current_user, project, project_application) }}
      <!-- collaborate modals -->
      {% if recommended_members != False %}
        {% for user in recommended_members %}
          {{ macros.render_collaborate_modal(current_user, user, project) }}
        {% endfor %}
      {% endif %}
      {% if current_user == project.owner %}
        <!-- edit modal -->
        {% set elapsed = calc_days_since(now(), project.posted_on) %}
        {% set est = project.estimated_time %}
        {% set elapsed_style = elapsed_style(elapsed, est) %}
        {{ macros.render_edit_project_modal(project, edit_form, {'elapsed':elapsed, 'est':est, 'elapsed_style':elapsed_style}) }}
        <!-- complete modal -->
        {{ macros.render_complete_modal(project) }}
        <!-- open/closed modal -->
        {{ macros.render_open_modal(project) }}
        <!-- requires application modal -->
        {{ macros.render_requires_application_modal(project, edit_application_form) }}
      {% endif %}
    </div>
    <!-- /modals -->

    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

    <!-- custom js -->
    <script src="js/tabs.js"></script>
    <script src="js/stars.js"></script>

  {% endblock %}
