{% from 'macros/carousels.html' import render_carousel with context %}
{% from 'macros/listbox.html' import render_listbox with context %}

{% from 'macros/cards/project.html' import render_project_action_bar, render_edit_project_modal, render_complete_modal, render_open_modal, render_requires_application_modal %}
{% from 'macros/cards/question.html' import render_question_card, render_add_question_card %}
{% from 'macros/cards/link.html' import render_add_link_card, render_project_link_card, render_private_link %}
{% from 'macros/cardbox.html' import render_cardbox with context %}

{% extends "home_base.html" %}


{% block title %}{{ project.name }}{% endblock %}

{% block head %}
  {{ super() }}
  <meta name="description" content="{{ project.name }} on TheProjectProject. Here's the gist: '{{ project.oneliner }}'">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/scroll_styles.css">
  <link rel="stylesheet" href="/css/project_styles.css">
  <link rel='stylesheet' href="/css/badge_styles.css">
{% endblock %}

{% block content %}
    <!-- GLOBALS -->
    {% set is_member = current_user in project.members %}
    {% set is_owner = (project.owner==current_user) %}
    <!-- PAGE -->
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <p class='float-right' style='text-align: right;'>
                  <span id='starcount_{{ project.id }}'>
                    {{ project.stars.all()|length }}
                    <i class="fa fa-star"></i>
                  </span>
                  <!-- edit button -->
                  {% if is_owner %}
                  <br>
                  <button type='button' data-toggle='modal' data-target='#edit_modal' class='edit-button'>
                    Edit
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </button>
                  {% endif %}
                </p>
                <a href='/project={{ project.code }}'>
                  <h3>
                    {{ project.name }}
                    {% if project.complete %}
                      <i class="fa fa-check-circle" aria-hidden="true"></i>
                    {% elif not project.open %}
                      <i class="fa fa-lock" aria-hidden="true"></i>
                    {% endif %}
                  </h3>
                </a>
                <p>
                  by
                  <a class='user-name' href='user={{ project.owner.code }}'>
                    {{ project.owner.name }}
                  </a>
                </p>
            </div>
            {{ render_project_action_bar(project) }}
            <br>
            <ul class="list-unstyled components">
              <div class='bio'>
                <p>
                  {{ project.oneliner }}
                </p>
                <p>{{ project.summary }}</p>
                <p>
                  {% if project.competition %}
                    {% set competition = project.competition.competition %}
                    <i class='fa fa-trophy' style='color: gold;'></i>
                    <a class='user-name' href='{{ competition.get_url() }}'>
                      {{ competition.name }}
                      &nbsp;
                      <i class='fa fa-clock-o'></i>
                      {% set total_length = competition.total_length() %}
                      {% set time_progressed = smallest(total_length, competition.time_progressed()) %}
                      {{ time_progressed }} / {{ total_length }} days
                    </a>
                  {% endif %}
                </p>
                <center>
                  {% if not project.complete %}
                    {% set elapsed = project.elasped() %}
                    {% set est = project.estimated_time_safe() %}
                    {% set elapsed_style = elapsed_style(elapsed, est) %}
                    <p style="margin:0px;">Progress: {{ elapsed }}/{{ est }} days</p>
                    <div class="progress" style='width:80%;'>
                      <div class="progress-bar" role="progressbar"
                          style='{{ elapsed_style }}'
                          aria-valuenow="{{ elapsed }}" aria-valuemin="0"
                          aria-valuemax="{{ est }}"></div>
                    </div>
                  {% else %}
                    <p style="margin:0px;">Project Complete!</p>
                    <div class="progress" style='width:80%;'>
                      <div class="progress-bar" role="progressbar"
                          style='width: 100%;'/>
                    </div>
                  {% endif %}
                </center>
                <br>
              </div>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">
          <!-- TAB BUTTONS -->
          <div class="tab" style='margin-bottom:10px;'>
            <button type="button" id="sidebarCollapse" style='background:transparent;'>
              <i class="fa fa-crosshairs" style='color:black; vertical-align: middle;'></i>
            </button>
            <button class="tablinks" onclick="openTab(event, 'Activity')" id="Activity_Button">
              Activity
              {% if is_member %}
                {% set n_todo = project.n_todo() %}
                {% if n_todo > 0 %}
                  <span class="badge" style='background:#FF5D00;; vertical-align:top;'>
                    {{ n_todo }}
                  </span>
                {% endif %}
              {% endif %}
            </button>
            <!-- about -->
            <button class="tablinks" onclick="openTab(event, 'About')" id='About_Button'>
              About
              {% if is_member %}
                {% set n_unanswered = project.n_unanswered() %}
                {% if n_unanswered > 0 %}
                  <span class="badge" style='background:#FF5D00;; vertical-align:top;'>
                    {{ n_unanswered }}
                  </span>
                {% endif %}
              {% endif %}
            </button>
            <!-- members -->
            <button class="tablinks" onclick="openTab(event, 'Members')" id='Members_Button'>
              Members
              {% if is_member %}
                {% set n_member_notes = project.n_applications() %}
                {% if recommended %}
                  {% set n_member_notes = n_member_notes + (recommended|length) %}
                {% endif %}
                {% if n_member_notes > 0 %}
                  <span class="badge" style='background:#FF5D00;; vertical-align:top;'>
                    {{ n_member_notes }}
                  </span>
                {% endif %}
              {% endif %}
            </button>
            {% if project.is_member(current_user) %}
              <button class="tablinks" onclick="openTab(event, 'Private')" id='Private_Button'>Private</button>
            {% endif %}
          </div>

          <!-- ACTIVITY TAB -->
          <div id='Activity' class='tabcontent'>
            <!-- CHARTS -->
            <div class="row">
              <div class="col-sm-4">
                <h6><u>Daily Activity</u></h6>
                {% if activity_data != False %}
                  <canvas id="activity_chart"></canvas>
                {% else %}
                  <p class='empty-text'>No activity yet.</p>
                {% endif %}
              </div>
              <div class="col-sm-4">
                <h6><u>Member Activity</u></h6>
                {% if ((authored|length) > 0) %}
                  <canvas id="tasks_complete"></canvas>
                {% else %}
                  <p class='empty-text'>No tasks yet.</p>
                {% endif %}
              </div>
              <div class="col-sm-4">
                <h6><u>Team Skills</u></h6>
                {% if project_subjects %}
                  <canvas id="team_skills"></canvas>
                {% else %}
                  <p class='empty-text'>No subjects yet.</p>
                {% endif %}
              </div>
            </div>
            <div class="line"></div>

            <!-- TASKS AND COMMENTS -->
            <div class="row">
              <div class="col">
                <div class='row'>

                  <!-- todo tasks -->
                  <div class='col'>
                    {{
                      render_listbox(
                        label='To Do',
                        id_postfix='todo',
                        card_type='todo-task',
                        icon_type='todo',
                        data=project.todo_tasks().all(),
                        empty_message='No tasks to do right now.',
                        form=task_form
                      )
                    }}
                  </div>

                  <!-- complete tasks -->
                  <div class='col'>
                    {{
                      render_listbox(
                        label='Completed',
                        id_postfix='completed',
                        card_type='complete-task',
                        icon_type='complete',
                        data=project.completed_tasks().all(),
                        empty_message='No tasks completed yet.'
                      )
                    }}
                  </div>

                  <div class='col'>
                    {{
                      render_listbox(
                        label='Comments',
                        id_postfix='comments',
                        card_type='comment',
                        data=project.ordered_comments(),
                        empty_message='No commments yet.',
                        form=comment_form
                      )
                    }}
                  </div>
              </div>
            </div>
          </div>
        </div>

        <!-- MEMBER TAB -->
        <div id='Members' class='tabcontent'>
          {% if not is_owner %}
            {{
              render_carousel(
                label='Members',
                id_postfix='members',
                card_type='user',
                icon_type='user',
                data=members
              )
            }}
          {% else %}
            <!-- pending members -->
            {{
              render_carousel(
                label='Applications',
                id_postfix='applications',
                card_type='application',
                icon_type='notification',
                data=applications
              )
            }}
            <!-- recommended members -->
            {%
              set rec_tooltip =
                "We found some members you might want to work with on this project!"
                if (project.invitations.count()==0) else None
            %}
            {{
              render_carousel(
                label='Recommended',
                id_postfix='recommended',
                card_type='user',
                icon_type='recommended',
                data=recommended,
                tooltip=rec_tooltip
              )
            }}
            <!-- invited members -->
            {{
              render_carousel(
                label='Invitations',
                id_postfix='invitations',
                card_type='invitation',
                icon_type='sent',
                data=invitations
              )
            }}
            <!-- current members -->
            {{
              render_carousel(
                label='Members',
                id_postfix='members',
                card_type='member',
                icon_type='user',
                data=members
              )
            }}
          {% endif %}
        </div>

        <!-- About -->
        <div id='About' class='tabcontent'>
          <div class='row'>
            <!-- QUESTIONS -->
            <div class='col'>
              {{
                render_cardbox(
                  id_postfix='questions',
                  project_id=project.id,
                  card_type='question',
                  data=project.questions,
                  add_card=True
                )
              }}
            </div>
            <!-- LINKS -->
            <div class='col'>
              {% if project.is_member(current_user) %}
                {{ render_add_link_card(link_form, 'Link', "fas fa-link", 'https://developmentwebsite.com', project, 1, 0) }}
              {% endif %}
              <div id='public-links-box' class='about-col'>
                {% for link in project.public_links() %}
                  {{ render_project_link_card(link, project, is_owner) }}
                  <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <div id='Private' class='tabcontent'>
          <div class='row' style='vertical-align: middle;'>
            <p><u>Private: Content posted here will be visible only to project members.</u></p>
          </div>
          <div class='row'>
            <form class='col right-border' id='instruction_form' method="post">
              <div class='row bottom-border'>
                <h4>
                  Notes
                </h4>
                <div class='float-right'>
                  <div class='complete-btn float-right' id='saveInstructions' style='background:transparent;border:0px;margin-bottom:0px; display:none;'>
                      &nbsp;
                      <i class="fa fa-check-circle" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <br>
              <textarea name='instructions' style='width:100%; height:70vh;' id='instructions' onkeydown="document.getElementById('saveInstructions').style.display = 'none'"
                    maxlength="3000">{% if project.instructions %}{{ project.instructions }}{% endif %}</textarea>
            </form>
            <!-- LINKS -->
            <div class='col'>
              <div class='row bottom-border'>
                <h4>
                  Links
                </h4>
              </div>
              <br>
              {{ render_add_link_card(link_form, 'Private Link', "fas fa-link", 'https://developmentwebsite.com', project, 0, 0) }}
              {% for category in range(1,5) %}
                {{ render_private_link(link_form, category, project, is_owner) }}
              {% endfor %}
              {% for link in project.get_other_private_links() %}
                {{ render_project_link_card(link, project, is_owner) }}
              {% endfor %}
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- modals -->
    {% if is_owner %}
      <div>
        {{ render_edit_project_modal(project, edit_form) }}
        {{ render_complete_modal(project) }}
        {{ render_open_modal(project) }}
        {{ render_requires_application_modal(project, edit_application_form) }}
      </div>
    {% endif %}
    <!-- /modals -->

    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

    <!-- Custom JS -->
    <!-- for toggeling between tabs -->
    <script src="/js/tabs.js"></script>
    <!-- for toggeling between divs with input covers -->
    <script src="/js/covers.js"></script>
    <!-- allow starring and unstarring of project -->
    <script src="/js/stars.js"></script>

    {% if not open_tab %}
      <script>
        $(document).ready(function () {
          // toggle open tab
          opened = sessionStorage.getItem(window.location.href + '_opened');
          if (opened) {
            document.getElementById(opened).click();
          } else {
            document.getElementById("Activity_Button").click();
          }
          // toggle sidebar // TODO: make this work without flashes or long slides
          // barstate = sessionStorage.getItem(window.location.href + '_sidebar');
        });
      </script>
    {% else %}
      <script>
        $(document).ready(function () {
          document.getElementById("{{ open_tab }}_Button").click();
        });
      </script>
    {% endif %}

    <script>
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
        $(this).toggleClass('active');
        sessionStorage.setItem(window.location.href + '_sidebar',
                           $('#sidebarCollapse').hasClass('active'));
      });
    </script>

    <script>
      //setup before functions
      let typingTimer;                //timer identifier
      let doneTypingInterval = 500;  //time in ms (5 seconds)
      let instructions = document.getElementById('instructions');
      //on keyup, start the countdown
      instructions.addEventListener('keyup', () => {
          clearTimeout(typingTimer);
          if (instructions.value) {
              typingTimer = setTimeout(doneTyping, doneTypingInterval);
          }
      });

      //user is "finished typing," do something
      function doneTyping () {
        var form_data = JSON.stringify({'data' : document.getElementById('instructions').value});
        $.ajaxSetup({
          headers: {'X-CSRFToken': '{{ csrf_token() }}'}
        })
        $.ajax({
          url   : "{{ url_for('project.save_instructions', project_id=project.id) }}",
          type  : 'POST',
          dataType : 'json',
          contentType: "application/json",
          data  : form_data,
          success: function() {
              showSaveButton('saveInstructions');
          }
        })
      }

    </script>

    <script>
    Chart.defaults.global.legend.display = false;
    // contribution chart
    {% if activity_data != False %}
      var ctx = document.getElementById('activity_chart');
      Chart.defaults.global.legend.display = false;
      new Chart(ctx, {
        type: 'line',
        data: {
          labels: [{% for i in range(activity_data['earliest']) %}
                    '{{ i }}',
                   {% endfor %}],
          datasets: [
            {
              data: [{% for activity in activity_data['end_activity'] %}
                        '{{ activity }}',
                      {% endfor %}],
              label: "Tasks Completed",
              borderColor: "#FF5D00",
              backgroundColor: "rgba(255,93,0,0.5)",
              fill: false
            },
            {
              data: [{% for activity in activity_data['start_activity'] %}
                        '{{ activity }}',
                      {% endfor %}],
              label: "Tasks Posted",
              borderColor: "#5D00FF",
              backgroundColor: "rgba(93, 0, 255,0.5)",
              fill: false
            }
          ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
                xAxes: [{
                  ticks: {
                      display: false
                  }
                }]
            }
        }
      });
    {% endif %}

    // task completion chart
    {% if (authored|length) > 0 %}
      var ctx = document.getElementById('tasks_complete');
      var myChart = new Chart(ctx, {
          type: 'horizontalBar',
          data: {
              labels: [{% for k in authored.keys() %}'{{ k.name }}',{% endfor %}],
              datasets: [{
                  data: [{% for v in authored.values() %}'{{ v }}',{% endfor %}],
                  backgroundColor: 'rgba(93, 0, 255,0.5)',
                  borderColor: '#5D00FF',
                  borderWidth: 1,
                  label: 'Authored Tasks'
              },
              {% if (completed|length) > 0 %}
                {
                    data: [{% for v in completed.values() %}'{{ v }}',{% endfor %}],
                    backgroundColor: 'rgba(255,93,0,0.5)',
                    borderColor: '#FF5D00',
                    borderWidth: 1,
                    label: 'Completed Tasks'
                }
              {% endif %}
            ],
          },
          options: {
              scales: {
                  xAxes: [{
                      stacked: true,
                      ticks: {
                          beginAtZero: true
                      }
                  }],
                  yAxes: [{
                    stacked: true
                  }]
              }
          }
      });
    {% endif %}

    // subject breakdown chart
    {% if project_subjects %}
      var ctx = document.getElementById('team_skills');
      var myRadarChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: [{% for subject in project_subjects.keys() %}
                      '{{ subject }}',
                    {% endfor %}],
            datasets: [{
              label: 'Filled Roles',
              data: [{% for skill in project_subjects.values() %}
                        '{{ skill }}',
                      {% endfor %}],
              fill: true,
              backgroundColor: 'rgba(93, 0, 255,0.5)',
              borderColor: '#5D00FF',
              pointBorderColor: '#5D00FF',
              pointBackgroundColor: '#5D00FF',
              pointHoverBackgroundColor: '#5D00FF',
              pointHoverBorderColor: '#5D00FF'
            }
          ]
        },
        options: {
          scale: {
                angleLines: {
                display: false
            },
            ticks: {
                suggestedMin: 0,
                display: false
            },
          }
        }
      });
    {% endif %}
    </script>

    {% if show_edit_modal %}
    <script>
      $(document).ready(function(){
        $('#edit_modal').modal({show : true});
      });
    </script>
    {% endif %}

    <script>
      window.onload = function() {
        var gliders = document.getElementsByClassName('glider');
        for (i=0; i<gliders.length; i++) {
          Glider(gliders[i]).refresh();
        }
      }
    </script>

  {% endblock %}
