{% from 'macros/carousels.html' import render_carousel with context %}
{% from 'macros/listbox.html' import render_listbox with context %}
{% from 'macros/cards/badge.html' import render_badge_icon_bigger %}
{% from 'macros/cards/user.html' import render_user_action_bar, render_edit_user_modal, render_delete_account_modal %}

{% extends "home_base.html" %}


{% block title %}{{ user.name }}{% endblock %}

{% block head %}
  {{ super() }}
  <meta name="description" content='{{ user.name }} on TheProjectProject. Bio: {{ user.about }}.'>
  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="/css/scroll_styles.css">
  <link rel="stylesheet" href="/css/project_styles.css">
  <link rel='stylesheet' href="/css/badge_styles.css">
{% endblock %}

{% block content %}
    <!-- PAGE -->
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <p class='float-right info-nums' style='text-align:right;'>
                  {{ user.total_stars() }}
                  <i class="fa fa-star"></i>
                  <!-- edit button -->
                  {% if user == current_user %}
                      <br>
                      <button type='button' data-toggle='modal' data-target='#edit_modal' class='edit-button'>
                        Edit
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </button>
                  {% endif %}
                </p>
                <a class='username-big' href='/user={{ user.code }}'>
                  <h3>
                    {{ user.name }}
                    {% set badge = user.choose_badge('search') %}
                    {% if badge %}
                      {{ render_badge_icon_bigger(badge) }}
                    {% endif %}
                    {% if user.recently_active() %}
                      <i class="fa fa-circle fa-sm" style='color:#00FF5D;'></i>
                    {% endif %}
                  </h3>
                </a>
            </div>
            <!-- TODO: make sure action bar is always centered -->
            {% if current_user.is_authenticated %}
              {{ render_user_action_bar(user) }}
            {% endif %}
            <br>
            <ul class="list-unstyled components">
              <div class='bio'>
                <p>{{ user.about }}</p>
                <center>
                  <p style="margin:0px;">
                    {{ user.xp }} XP
                  </p>
                  <div class="progress" style='width:80%;'>
                    <div class="progress-bar" role="progressbar"
                        style='{{ user.xp_progressbar_width() }}'></div>
                  </div>
                </center>
                <br>
              </div>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">
          <div class="tab" style='margin-bottom:10px;'>
            <button type="button" id="sidebarCollapse" style='background:transparent;'>
              <i class="fa fa-crosshairs" style='color:black; vertical-align: middle;'></i>
            </button>
            <button class="tablinks" onclick="openTab(event, 'About')" id="About_Button">
              About
            </button>
            {% if current_user==user %}
              {% set invitation_count = current_user.invitations.count() %}
              {% set application_count = current_user.invitations.count() %}
              {% if (invitation_count + application_count) > 0 %}
                <button class="tablinks" onclick="openTab(event, 'Invitations')" id="Invitations_Button">
                  Invitations
                  {% if invitation_count > 0 %}
                    <span class="badge" style='background:#FF5D00; vertical-align:top;'>
                      {{ invitation_count }}
                    </span>
                  {% endif %}
                </button>
              {% endif %}
            {% endif %}
          </div>


          <div id='About' class='tabcontent'>
            <div class="row">
              <div class="col-sm-4">
                <h6><u>Daily Activity</u></h6>
                {% if task_data %}
                  <canvas id="activity_chart"></canvas>
                {% else %}
                  <p class='empty-text'>No activity yet.</p>
                {% endif %}
              </div>

              <div class="col-sm-4">
                {{
                  render_listbox(
                    label='Completed',
                    id_postfix='completed',
                    card_type='complete-task-sparse',
                    icon_type='complete',
                    data=user.tasks_worked,
                    empty_message='No tasks completed yet.',
                    size='small'
                  )
                }}
              </div>

              <div class="col-sm-4">
                <h6><u>Subject Breakdown</u></h6>
                {% if subject_data %}
                  <canvas id="role_breakdown"></canvas>
                {% else %}
                  <p class='empty-text'>No subjects yet.</p>
                {% endif %}
              </div>
            </div>
            <!-- PROJECTS -->
            <div class='container my-2' style='min-width: 100%;'>
              <!-- owned carousel -->
              {% set redirect_empty = '/add_project' if current_user==user else False %}
              {{
                render_carousel(
                  label='Owned Projects',
                  id_postfix='owned',
                  card_type='project-big',
                  icon_type='project',
                  data=owned,
                  redirect_empty=redirect_empty
                )
              }}
              <!-- member carousel -->
              {% set redirect_empty = '/home' if current_user==user else False %}
              {{
                render_carousel(
                  label='Member Projects',
                  id_postfix='member',
                  card_type='project-mid',
                  icon_type='project-member',
                  data=member,
                  redirect_empty=redirect_empty
                )
              }}
            </div>
          </div>

        {% if current_user==user %}
          <div id='Invitations' class='tabcontent'>
            {{
              render_carousel(
                label='Invitations',
                id_postfix='invitations',
                card_type='project-invitation',
                data=user.invitations.all(),
                tooltip='The owners of these projects want to collaborate with you!'
              )
            }}
            {{
              render_carousel(
                label='Applications',
                id_postfix='applications',
                card_type='project-application',
                data=user.pending.all()
              )
            }}
          </div>
        {% endif %}
      </div>
    </div>

    <!-- modals -->
    <!-- NOTE: modals currently here -->
    {% if current_user==user %}
      <div>
        {{ render_edit_user_modal(user, edit_form) }}
        {{ render_delete_account_modal(user) }}
      </div>
    {% endif %}
{% endblock %}


{% block scripts %}
  {{ super() }}

  <!-- external imports -->
  <!-- Popper.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

  <!-- custom external js -->
  <!-- allow starring and unstarring of project -->
  <script src="/js/stars.js"></script>
  <!-- tabs -->
  <script src="/js/tabs.js"></script>

  <!-- document ready functions -->
  <script>
    $(document).ready(function () {
      opened = sessionStorage.getItem(window.location.href + '_opened');
      if (opened) {
        document.getElementById(opened).click();
      } else {
        document.getElementById("About_Button").click();
      }
    });
  </script>

  <script>
    $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('active');
      $(this).toggleClass('active');
    });
  </script>

  <script>
    Chart.defaults.global.legend.display = false;

    // daily activity
    {% if task_data %}
      var ctx = document.getElementById('activity_chart');
      new Chart(ctx, {
        type: 'line',
        data: {
          labels: [{% for i in range(task_data['earliest']) %}
                    '{{ i }}',
                  {% endfor %}],
          datasets: [
            {
              data: [{% for activity in task_data['end_activity'] %}
                        '{{ activity }}',
                      {% endfor %}],
              label: "Task Completed",
              borderColor: "#FF5D00",
              backgroundColor: "rgba(255,93,0,0.5)",
              fill: false
            }
          ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
                xAxes: [{
                  ticks: {
                      display: false
                  }
                }]
            }
        }
      });
    {% endif %}

    {% if subject_data %}
      var ctx = document.getElementById('role_breakdown');
      var myRadarChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: [{% for k in subject_data.keys() %}
                      '{{ k }}',
                    {% endfor %}],
            datasets: [{
              data: [{% for v in subject_data.values() %}
                        '{{ v }}',
                      {% endfor %}],
              fill: true,
              backgroundColor: ['rgba(93, 0, 255,0.5)'],
              borderColor: '#5D00FF',
              pointBorderColor: '#5D00FF',
              pointBackgroundColor: '#5D00FF',
              pointHoverBackgroundColor: '#5D00FF',
              pointHoverBorderColor: '#5D00FF'
            }
          ]
        },
        options: {
          scale: {
            ticks: {
                suggestedMin: 0,
                display: false
            },
          }
        }
      });
    {% endif %}
  </script>

  {% if show_edit_modal %}
  <script>
    $(document).ready(function(){
      $('#edit_modal').modal({show : true});
    });
  </script>
  {% endif %}

  <script>
    window.onload = function() {
      gliders = document.getElementsByClassName('glider');
      for (i=0; i<gliders.length; i++) {
        Glider(gliders[i]).refresh();
      }
    }
  </script>

{% endblock %}
