{% extends "home_base.html" %}

{% block title %}{{ subject.name }}{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link type="text/css" href="css/scroll_styles.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class='container my-2'>
  <p>Subject: {{ subject.name }}</p>
  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Projects')" id="defaultOpen">Projects</button>
    <button class="tablinks" onclick="openTab(event, 'Users')">Users</button>
  </div>


</div>

<div>
  {% for project in recommended_projects %}
    {{ macros.render_join_modal(current_user, project, project_application) }}
  {% endfor %}
</div>

{% endblock %}
