{% from 'macros/carousels.html' import render_carousel with context %}
{% from 'macros/tabs.html' import render_safe_tabs with context %}

{% extends "home_base.html" %}


{% block title %}{{ subject.name }}{% endblock %}

{% block head %}
  {{ super() }}
  <link type="text/css" href="css/scroll_styles.css" rel="stylesheet">
  <link rel='stylesheet' href="css/badge_styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class='container my-1 main'>
    <!-- projects -->
    {% set carousels = [
        (
          'Projects',
          render_carousel(
            label='Projects',
            id_postfix='projects',
            card_type='project-big',
            data=projects,
            icon_type='project'
          )
        ),
        (
          'Users',
          render_carousel(
            label='Users',
            id_postfix='users',
            card_type='user',
            data=users,
            icon_type='user'
          )
        )
      ]
    %}
    {{ render_safe_tabs(carousels) }}

</div>
<script src="js/stars.js"></script>
{% endblock %}
