{% from 'macros/carousels.html' import render_carousel with context %}

{% extends "home_base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
  {{ super() }}
  <meta name="description" content="Welcome to TheProjectProject! Explore
                                recommended and trending projects here!">
  <link type="text/css" href="/css/scroll_styles.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class='container my-1 main'>
  <!-- recommendations -->
  {% set rec_label = 'Recommended' if not request.MOBILE else False %}
  {{
    render_carousel(
      label=rec_label,
      id_postfix='recommended',
      card_type='project-big',
      data=recommended,
      interval=5000,
      tooltip="We've picked out some projects you might be interested in. Everyone here wants to work with you; just click join to make that happen!")
  }}
  <!-- trending -->
  {% if trending %}
    {{
      render_carousel(
        label='Trending',
        id_postfix='trending',
        card_type='project-mid',
        data=trending)
    }}
  {% endif %}
  <!-- owned -->
  {% if my!=False %}
    {{
      render_carousel(
        label='My',
        id_postfix='my',
        card_type='project-small',
        data=my,
        redirect_empty='/add_project'
      )
    }}
  {% endif %}
</div>

{% if current_user.about=='' %}
  <div id="bio_modal" class="modal fade" role="dialog" style='z-index:9999;'>
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h5>Add a Bio</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class='modal-body'>
          Users with bios are more likely to recieve collaborations and
          have their projects publicized!
        </div>
        <div class="modal-footer">
          <center>
            <a class='btn' href='{{ current_user.get_url() }}/true'>Add</a>
          </center>
        </div>
      </div>
    </div>
  </div>
  <script>
    $('#bio_modal').modal('show');
  </script>
{% endif %}

<!-- show help tooltips on first login if not mobile dev -->
{% if not request.MOBILE %}
  <!--  -->
  {% if (current_user.n_owned() < 1) %}
    <script>
      $(function () {
        $('#add-project').tooltip('show');
      })
    </script>
  {% endif %}
  <!--  -->
  {% if ((current_user.n_owned()+current_user.n_applied()) < 1) %}
    <script>
      $(function () {
        $('#tooltip-recommended').tooltip('show');
      })
    </script>
  {% endif %}
{% endif %}

<!-- custom js imports -->
<!-- allow card starring -->
<script src="js/stars.js"></script>
<!-- allow collab ajax -->
<script src="js/collab.js"></script>


{% endblock %}
