{% extends "home_base.html" %}

{% block title %}Search{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link type="text/css" href="css/scroll_styles.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class='container my-2' style='min-width: 99%'>
  <ul class="list-unstyled components">
    <h4 style='text-align:left;'>Projects</h4>
    <hr class="my-2">
    {% for project in project_results %}
      <div class='row'>
        {{ macros.render_big_project_card(current_user, project, now, calc_days_since) }}
      </div>
    {% endfor %}
  </ul>
</div>

<div>
  {% for project in recommended_projects %}
    {{ macros.render_join_modal(current_user, project, project_application) }}
  {% endfor %}
</div>

{% endblock %}
