{% extends "home_base.html" %}

{% block title %}Search{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link type="text/css" href="css/scroll_styles.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class='container my-2' style='min-width: 99%'>
  <ul class="list-unstyled components">
    <!-- PROJECT -->
    {% if results['project'][1]!=0 %}
      <li>
        <a href="#projectScroll" data-toggle="collapse" aria-expanded="false">
          <h4 style='text-align:left;'>
            Projects
            <i class="fa fa-circle" style='color:#FF5D00;'></i>
            {{ results['project'][1] }}
          </h4>
          <small style='padding:0px;margin:0px;color:grey;'>Click to view</small>
        </a>
        <ul class="collapse list-unstyled" id="projectScroll">
          {% for project in results['project'][0] %}
            <li>
              {{ macros.render_big_project_card(current_user, project, now, calc_days_since) }}
            </li>
          {% endfor %}
        </ul>
      </li>
      <hr class="my-2">
    {% endif %}
    <!-- USER -->
    {% if results['user'][1]!=0 %}
      <li>
        <a href="#userScroll" data-toggle="collapse" aria-expanded="false">
          <h4 style='text-align:left;'>
            Users
            <i class="fa fa-user-circle" style='color:#FF5D00;'></i>
            {{ results['user'][1] }}
          </h4>
          <small style='padding:0px;margin:0px;color:grey;'>Click to view</small>
        </a>
        <ul class="collapse list-unstyled" id="userScroll">
          {% for user in results['user'][0] %}
            <li>
              {{ macros.render_user_card(current_user, user) }}
            </li>
          {% endfor %}
        </ul>
      </li>
      <hr class="my-2">
    {% endif %}
    <!-- SUBJECT -->
    {% if results['subject'][1]!=0 %}
      <li>
        <a href="#subjectScroll" data-toggle="collapse" aria-expanded="false">
          <h4 style='text-align:left;'>
            Subject
            <i class="fa fa-flask" style='color:#FF5D00;'></i>
            {{ results['subject'][1] }}
          </h4>
          <small style='padding:0px;margin:0px;color:grey;'>Click to view</small>
        </a>
        <ul class="collapse list-unstyled" id="subjectScroll">
          {% for subject in results['subject'][0] %}
            <li>
              {{ macros.render_subject_card(subject) }}
            </li>
          {% endfor %}
        </ul>
      </li>
      <hr class="my-2">
    {% endif %}
  </ul>
</div>

<div>
  {% for project in recommended_projects %}
    {{ macros.render_join_modal(current_user, project, project_application) }}
  {% endfor %}
</div>

{% endblock %}
