{% from 'macros/carousels.html' import render_carousel with context %}

{% extends "home_base.html" %}
{% block title %}Search{% endblock %}

{% block head %}
  {{ super() }}
  <link type="text/css" href="css/scroll_styles.css" rel="stylesheet">
  <link rel='stylesheet' href="css/badge_styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class='container my-1 main'>
  <p style='text-align:left;'>Results for "{{ search_text }}"</p>
  <hr class="my-1">

  {{
    render_carousel(
      label='Projects',
      id_postfix='projects',
      card_type='project-big',
      data=results['project'][0],
      icon_type='project'
    )
  }}

  {{
    render_carousel(
      label='Users',
      id_postfix='users',
      card_type='user',
      data=results['user'][0],
      icon_type='user'
    )
  }}

  {{
    render_carousel(
      label='Subjects',
      id_postfix='subject',
      card_type='subject',
      data=results['subject'][0],
      icon_type='subject'
    )
  }}


<!-- modals/ -->
<div>
  <!-- project modals -->
  {% for tab in results['project'][0] %}
    {% for project in tab %}
      {{ macros.render_join_modal(current_user, project, project_application) }}
    {% endfor %}
  {% endfor %}
  <!-- user modals -->
  {% for tab in results['user'][0] %}
    {% for user in tab %}
      {{ macros.render_collaborate_modal(current_user, user) }}
      {% if not user==current_user %}
        {{ macros.render_report_modal(user) }}
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
<!-- /modals -->



<script>
// log tabs
$('#project-carousel').on('slid.bs.carousel', function () {
  var cur = $('#project-carousel div.active').index();
  sessionStorage.setItem('recSlide', cur);
  $('#project-count').html(cur);
  });

$('#user-carousel').on('slid.bs.carousel', function () {
  var cur = $('#user-carousel div.active').index();
  sessionStorage.setItem('trendingSlide', cur);
  $('#user-count').html(cur);
  });

$('#subject-carousel').on('slid.bs.carousel', function () {
  var cur = $('#subject-carousel div.active').index();
  sessionStorage.setItem('mySlide', cur);
  $('#subject-count').html(cur);
  });

// rescroll carousels
if(sessionStorage.recSlide){
    $("#project-carousel").carousel(sessionStorage.recSlide*1);
  }

if(sessionStorage.trendingSlide){
    $("#user-carousel").carousel(sessionStorage.trendingSlide*1);
  }

if(sessionStorage.mySlide){
    $("#subject-carousel").carousel(sessionStorage.mySlide*1);
  }
</script>


{% endblock %}
