{% from 'macros/carousels.html' import render_carousel with context %}
{% from 'macros/tabs.html' import render_safe_tabs with context %}


{% extends "home_base.html" %}
{% block title %}Search{% endblock %}

{% block head %}
  {{ super() }}
  <meta name="description" content="Search all the incredible projects and people
                                  on TheProjectProject.">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link type="text/css" href="css/scroll_styles.css" rel="stylesheet">
  <link rel='stylesheet' href="css/badge_styles.css">
  <link rel="stylesheet" href="/css/project_styles.css">
{% endblock %}

{% block content %}
<div class='container my-1 main'>
  <p style='text-align:left;'>Results for "{{ search_text }}"</p>
  <hr class="my-1">
  {% set carousels = [] %}
  <!-- add projects -->
  {% if results['project'][1] > 0 %}
    {%
      set carousels = carousels + [
        (
          'Projects',
          render_carousel(
            label='Projects',
            id_postfix='projects',
            card_type='project-big',
            data=results['project'][0],
            icon_type='project'
          )
        )
      ]
    %}
  {% endif %}
  
  {% if results['company'][1] > 0 %}
    {%
      set carousels = carousels + [
        (
          'Companies',
          render_carousel(
            label='Companies',
            id_postfix='companies',
            card_type='company',
            data=results['company'][0],
            icon_type='company'
          )
        )
      ]
    %}
  {% endif %}

  {% if results['user'][1] > 0 %}
    {%
      set carousels = carousels + [
        (
          'Users',
          render_carousel(
            label='Users',
            id_postfix='users',
            card_type='user',
            data=results['user'][0],
            icon_type='user'
          )
        )
      ]
    %}
  {% endif %}
  {% if results['subject'][1] > 0 %}
    {%
      set carousels = carousels + [
        (
          'Subjects',
          render_carousel(
            label='Subjects',
            id_postfix='subjects',
            card_type='subject',
            data=results['subject'][0],
            icon_type='subject'
          )
        )
      ]
    %}
  {% endif %}

  {{ render_safe_tabs(carousels) }}
</div>

<!-- custom js -->
<!-- allow card starring -->
<script src="js/stars.js"></script>
<!-- allow collab ajax -->
<script src="js/collab.js"></script>
{% endblock %}
