{% from 'macros/listbox.html' import render_listbox with context %}

{% extends "home_base.html" %}

{% block title %}Notifications{% endblock %}

{% block head %}
  {{ super() }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="css/scroll_styles.css">
    <link rel="stylesheet" href="css/project_styles.css">
    <link rel='stylesheet' href="css/badge_styles.css">
{% endblock %}


{% block content %}
<div class='container'>
  {{
    render_listbox(
      label='Notifications',
      id_postfix='notifications',
      icon_type='notification',
      card_type='notification',
      data=all_notes,
      n_override=n,
      size='big'
    )
  }}




  <div class="row">
    <div class='col'>
      <br>
      <h4 class='tabname-big'>
        Notifications
        {% if n > 0 %}
          <i class="fas fa-bell"></i>
          {{ n }}
        {% endif %}
      </h4>
      <div class="list-group" style=''>
        {% for (notification, seen) in all_notes %}
          <a {% if notification.redirect %}href='{{ notification.redirect  }}'{% endif %}
            class="list-group-item list-group-item-action flex-column align-items-start"
            {% if not seen %}style='background-color: rgba(0,0,255,0.05)'{% endif %}>
            <h6 class="mb-1">
              {% if notification.important %}
                <i class="fa fa-exclamation-circle orange" aria-hidden="true"></i>
              {% endif %}
              {{ notification.text }}
            </h6>
            <div class="d-flex w-100 justify-content-between">
              <small>
                {{ time_to_str(notification.timestamp) }}
              </small>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
