.card-text {
    min-height: 200px;
    max-height: 200px;
    overflow: scroll;
    text-align: left;
}

.card-head {
  text-align: left;
  white-space: normal;
  text-overflow: clip;
  min-height: 50px;
  max-height: 50px;
}

.little {
  min-height: 45px;
  max-height: 45px;
}

.tiny {
  min-height: 30px;
  max-height: 30px;
}

a {
  color: black;
}

a:hover {
  color: blue;
}

.card-head a {
  color: blue;
}

.card-head h5 {
  text-decoration: underline;
  margin-bottom: 0px;
}

.card-head p {
  padding: 0px;
  margin: 0px;
  color: rgba(0,0,0,0.5);
}

.card-foot {
  color: rgba(0,0,0,0.5);
}

.fa-star {
  color: gold;
}

.fa-star-o:hover {
  color: gold;
}

.fa-share-alt:hover {
  color: blue;
}

/* .action-bar { */
/* } */
