.card-head {
  text-align: left;
}

.card-head a {
  color: blue;
}

.card-head h5 {
  text-decoration: underline;
  margin-bottom: 0px;
}

.card-head p {
  padding: 0px;
  margin: 0px;
  color: rgba(0,0,0,0.5)
}

.card-text {
  overflow: scroll;
}

/* .action-bar i {
  color: white;
  border: 1px solid black;
} */
