.card-head {
  text-align: left;
}

a {
  color: black;
}

a:hover {
  color: blue;
}

.card-head a {
  color: blue;
}

.card-head h5 {
  text-decoration: underline;
  margin-bottom: 0px;
}

.card-head p {
  padding: 0px;
  margin: 0px;
  color: rgba(0,0,0,0.5);
}

.card-text {
  text-align: left;
  overflow: scroll;
}

.card-foot {
  color: rgba(0,0,0,0.5);
}

/* .action-bar { */
/* } */
