body {
  background-color: black;
  font-family: 'Varela Round';
}


.box {
  background-color: red;
  vertical-align: middle;
  text-align: center;
  height: 50%;
  width: 60%;
  /* color: #008CFF; */
  color: #FFF300;
}


h1 {
  font-size: 100px;
}
