body {
  background-color: black;
  color: white;
  font-family: 'Varela Round';
}

mark {
  background-color: white;
  padding: 0 0.1em;
}

.container {
  background: red;
  color: white;
  width: 100%;
}




/*
.container {
  text-align: center;
  background-color: red;
  color: #FFF300;
  position: absolute;
  padding: 1.5%;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}

.row {
  padding-left: 10px;
}

.col {
  background-color: blue;
  width: 1%;
}

.login {
  background-color: purple;
}

h1 {
  font-size: 100px;
} */
