{% from 'macros/carousels.html' import render_carousel with context %}
{% from 'macros/tabs.html' import render_safe_tabs with context %}

{% extends "home_base.html" %}

{% block title %}Perks{% endblock %}

{% block head %}
  {{ super() }}
  <link type="text/css" href="css/scroll_styles.css" rel="stylesheet">
  <link rel="stylesheet" href="css/project_styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class='container main'>
  {% set carousels = [
      ('Competitions',
        render_carousel(
          label='Competitions',
          id_postfix='competitions',
          card_type='competition',
          data=competitions,
          interval=5000,
          override_partition=1
        )
      ),
      ('Badges'
        render_carousel(
          label=badge_label,
          id_postfix='my',
          card_type='user_badge',
          data=my_badges
        )
      )

    ]
  %}
  {{

  }}
  <!-- badges in progress -->
  {% set badge_label = 'My Badges' if not request.MOBILE else 'Badges' %}
  {{
    render_carousel(
      label=badge_label,
      id_postfix='my',
      card_type='user_badge',
      data=my_badges
    )
  }}
  <!-- other badges -->
  {% set badge_label = 'Badges' if not request.MOBILE else False %}
  {{
    render_carousel(
      label=badge_label,
      id_postfix='other',
      card_type='badge',
      data=other_badges
    )
  }}
{% endblock %}
