<!-- WARNING: janky imports for render carousles to change type. very bad -->
{% from 'macros/tabs.html' import render_safe_tabs with context %}

{% extends "home_base.html" %}

{% block title %}Perks{% endblock %}

{% block head %}
  {{ super() }}
  <meta name="description" content="TheProjectProject offers all sorts of cool perks
                                    and competitions to our members!">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- custom css -->
  <link type="text/css" href="/css/scroll_styles.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/project_styles.css">
{% endblock %}

{% block content %}
<div class='container main'>
  <!-- slide carousels -->
  {% from 'macros/carousels.html' import render_carousel with context %}
  {% set carousels = [
      ('Competitions',
        render_carousel(
          label='Competitions',
          id_postfix='competitions',
          card_type='competition',
          data=competitions,
          interval=5000,
          override_partition=1
        )
      ),
      ('Progress',
        render_carousel(
          label='Progress',
          id_postfix='my',
          card_type='user-badge',
          data=my_badges
        )
      )
    ]
  %}
  <!-- old carousels -->
  {% from 'macros/old_carousels.html' import render_carousel with context %}
  {% set carousels = carousels +
    [
      ('Badges',
        render_carousel(
          label='Badges',
          id_postfix='other',
          card_type='badge',
          data=other_badges
        )
      )
    ]
  %}
  {{ render_safe_tabs(carousels, 'Competitions') }}
{% endblock %}
