<!-- renders badge card that user has started work on -->
{% macro render_user_badge_card(user_badge) -%}
<div class="col-md-4">
  <div class="card mb-2">
    <div class="card-body">
      <div class='card-head' style='text-align:center;'>
        <img scr='{{ user_badge.badge.icon }}'/>
        <h5>{{ user_badge.badge.name }}</h5>
        <br>
        <center>
          <p style="margin:0px;">
              {{ user_badge.progress }} / {{ user_badge.badge.criteria }}
            </p>
            <div class="progress" style='width:80%;'>
              <div class="progress-bar" role="progressbar"
                  style='{{ user_badge.get_progressbar_width() }}'></div>
            </div>
        <center>
      </div>
      <hr class="my-4">
      <div class='card-text'>
        <p class='oneliner'>
          {{ user_badge.badge.description }}
        </p>
        <ul>
          {% for perk in user_badge.badge.perks %}
          <li>{{ perk.text }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}


<!-- renders badge card that user hasnt started work on -->
{% macro render_badge_card(badge) -%}
<div class="col-md-4">
  <div class="card mb-2">
    <div class="card-body">
      <div class='card-head' style='text-align:center;'>
        <img scr='apple-touch-icon.png' alt='nope'/>
        <h5>{{ badge.name }}</h5>
      </div>
      <hr class="my-4">
      <div class='card-text'>
        <p class='oneliner'>
          {{ badge.description }}
        </p>
        <ul>
          {% for perk in badge.perks %}
          <li>{{ perk.text }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}
