{% macro render_user_badge_card(user_badge) -%}
<div class="col-md-4">
  <div class="card mb-2">
    <div class="card-body">
      <div class='card-head tiny'>
        <a class='project-name'>
          <h5>
            {{ user_bagdge.badge.name }}
          </h5>
          <div class="progress" style='width:80%;'>
              <div class="progress-bar" role="progressbar"
                  style='{{ user.get_progressbar_width() }}'/>
          </div>
        </a>
      </div>
      <div class='card-oneline' style=''>
        <p class='oneliner'>
          boop
        </p>
      </div>
      <hr class="my-2">
      {{ render_user_action_bar(current_user, user) }}
    </div>
  </div>
</div>
{% endmacro -%}
