{% extends "home_base.html" %}
{% import "badge_macros.html" as badge_macros %}

{% block title %}Perks{% endblock %}

{% block head %}
  {{ super() }}
  <link type="text/css" href="css/scroll_styles.css" rel="stylesheet">
  <link rel="stylesheet" href="css/project_styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}



{% block content %}
<div class='container my-2' style='min-width: 90%'>
  <!-- PROGRESS BADGES -->
  <h4 style='text-align:left;'>Badges</h4>
  <hr class="my-2">
  {% for user_badge in progress_badges %}
    <div class='row'>
      {{ badge_macros.render_user_badge_card(user_badge) }}
    </div>
  {% endfor %}
  {% for badge in other_badges %}
    <div class='row'>
      {{ badge_macros.render_badge_card(badge) }}
    </div>
  {% endfor %}
</div>
{% endblock %}
