{% extends "home_base.html" %}
{% from 'macros/forms/field.html' import render_field %}

{% block title %}Add Project{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- custom stylesheets -->
  <link type="text/css" href="/css/add_styles.css" rel="stylesheet">
  <!-- <link type="text/css" href="/css/form_styles.css" rel="stylesheet"> -->
  <link type='text/css' href='/css/select_styles.css' rel='stylesheet'>
  <link type='text/css' href='/css/slider_styles.css' rel='stylesheet'>
{% endblock %}

{% block content %}
<div class='big-box container justify-content-center'>
  <form id='add_form'>
    <div class='formtab' id='start_segment'>
      <div class="row input-segment">
        <h4>Describe your idea...</h4>
        <p>
          ...and let's make it happen! Whether you have a fully developed
          startup or just concept you want to work on, TheProjectProject
          is here to help you bring it to reality and showcase the results.
          Projects you post here will be added to your page. If you need a
          team, we will recommend your project to other members and help
          you manage development. If we like your project, we will publicize
          it on our social media and help connect you to funding and resources.
          You're going to build incredible things and it all starts right here!
        </p>
        <button class='formtab_button' type="button" onclick="nextPrev(1);">
          <span class='presskey' style='margin-bottom:1px;'>
            Enter
          </span>
          Get Started!
        </button>
      </div>
    </div>
    {% for field in form %}
      {% if not field.type=='CSRFTokenField' %}
        {{ render_field(field) }}
      {% endif %}
    {% endfor %}
  </form>
  <!-- temp navigator -->
  <div>
    <p class='float-left' style="display:none;">
      <span id='form_time_inc'>200</span>
      seconds remaining
    </p>
    <div style="overflow:auto; width:95%;">
      <div class='float-left'>
        <button class='formtab_button' type="button" id="prevBtn" onclick="nextPrev(-1)">
          <span class='presskey' style='margin-bottom:1px;'>
            Shift + Tab
          </span>
          Back
        </button>
      </div>
      <div class='float-right'>
        <button class='formtab_button' type="button" id="nextBtn" onclick="nextPrev(1)">
          <span class='presskey' style='margin-bottom:1px;'>
            Enter
          </span>
          Next
        </button>
      </div>
    </div>
  </div>
</div>

<script src='js/form.js'></script>

<script>
  var currentTab = 0; // Current tab is set to be the first tab (0)
  showTab(currentTab); // Display the current tab

  $(document).keydown(function(e) {
    var field = getCurrentTab();
    var field_type = field.getAttribute('data-field-type');
    field_keydown(e, field);
  })

</script>
{% endblock %}


<!-- $(document).keydown(function(e) {
  // tab is clicked
  if (e.keyCode==9) {
    // shift is also down = backward
    if (e.shiftKey) {
      e.preventDefault();
      nextPrev(-1);
    }
    // just tab = forward
    else {
      e.preventDefault();
      nextPrev(1);
    }
  }
  else if (e.keyCode==13) {
    nextPrev(1);
  }
  else if (e.keyCode==89) {
    // WARNING: CHANGE TO BE ON BOOLEAN FIELD TAB IF NUM FIELDS CHANGES
    if (currentTab==4) {
      $('input[type="radio"]').not(':checked').prop("checked", true);
    }
  }
}); -->
