{% extends "home_base.html" %}
{% from 'macros/forms/field.html' import render_field %}

{% block title %}Add Project{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- custom stylesheets -->
  <link type="text/css" href="/css/add_styles.css" rel="stylesheet">
  <link type="text/css" href="/css/form_styles.css" rel="stylesheet">
  <link type='text/css' href='/css/select_styles.css' rel='stylesheet'>
  <link type='text/css' href='/css/slider_styles.css' rel='stylesheet'>
{% endblock %}

{% block content %}
<form class='big-box container justify-content-center' id='add_form'>
  {{ form.csrf_token() }}
  {% for field in form %}
    {% if not field.type=='CSRFTokenField' %}
      <div class='formtab'>
        {{ render_field(field) }}
      </div>
    {% endif %}
  {% endfor %}

  <!-- temp navigator -->
  <div style="overflow:auto; width:95%;">
      <div style="float:right;">
        <button class='formtab_button' type="button" id="prevBtn" onclick="nextPrev(-1)">Back</button>
        <button class='formtab_button' type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
      </div>
  </div>
</form>

<script>
  function submit() {
    document.getElementById("add_form").submit();
  };

  var currentTab = 0; // Current tab is set to be the first tab (0)
  showTab(currentTab); // Display the current tab

  function showTab(n) {
    // This function will display the specified tab of the form ...
    var x = document.getElementsByClassName("formtab");
    x[n].style.display = "block";
    x[n].getElementsByTagName('input')[0].focus();
    // ... and fix the Previous/Next buttons:
    if (n == 0) {
      document.getElementById("prevBtn").style.display = "none";
    } else {
      document.getElementById("prevBtn").style.display = "inline";
    }
    if (n == (x.length - 1)) {
      document.getElementById("nextBtn").innerHTML = "Submit";
    } else {
      document.getElementById("nextBtn").innerHTML = "Next";
    }
  }

  function nextPrev(n) {
    // This function will figure out which tab to display
    var x = document.getElementsByClassName("formtab");
    // Exit the function if any field in the current tab is invalid:
    if (n == 1 && !validateForm()) return false;
    // Can't go backwards on first tab
    if (n == -1 && currentTab==0) return false;
    // Hide the current tab:
    x[currentTab].style.display = "none";
    // Increase or decrease the current tab by 1:
    currentTab = currentTab + n;
    // if you have reached the end of the form... :
    if (currentTab >= x.length) {
      //...the form gets submitted:
      submit();
      return false;
    }
    // Otherwise, display the correct tab:
    showTab(currentTab);
  }

  $(document).keydown(function(e) {
    // tab is clicked
    if (e.keyCode==9) {
      // shift is also down = backward
      if (e.shiftKey) {
        e.preventDefault();
        nextPrev(-1);
      }
      // just tab = forward
      else {
        e.preventDefault();
        nextPrev(1);
      }
    }
    else if (e.keyCode==13) {
      nextPrev(1);
    }
    else if (e.keyCode==89) {
      // WARNING: CHANGE TO BE ON BOOLEAN FIELD TAB IF NUM FIELDS CHANGES
      if (currentTab==4) {
        $('input[type="radio"]').not(':checked').prop("checked", true);
      }
    }
  });

  function validateForm() {
    // This function deals with validation of the form fields
    var x, y, i, valid = true;
    x = document.getElementsByClassName("formtab");
    y = x[currentTab].getElementsByTagName("input");
    // A loop that checks every input field in the current tab:
    for (i = 0; i < y.length; i++) {
      // If field has input tag
      if (y[i].id!="") {
        // If a field is empty...
        if (y[i].value == "") {
          // add an "invalid" class to the field if not interests
          y[i].className += " invalid";
          // and set the current valid status to false:
          valid = false;
        }
      }
    }
    return true; // return the valid status
  }
</script>
{% endblock %}
