body {
  background: black;
  color: white;
}

.head-row {
  padding-top: 2%;
  border-bottom: 1px solid white;
}

.left {
  border-right: 1px solid white;
  padding-right: 5%;
}

.right {
  border-left: 1px solid white;
  padding-left: 5%;
}

.col {
  padding-top: 2%;
  padding-bottom: 2%;
}

.row {
  margin-left: 5%;
  margin-right: 5%;
}

.row-button {
  margin: 0px !important;
  padding: 0px !important;
  background: black;
}

.add-button {
  background: white;
  border: 1px solid white;
  margin-right: -2%;
  color: black;
}

.add-button:hover {
  background: black;
  color: white;
}

.add-button:active {
  background: black;
  color: gold;
}

#project_form {
  text-align: center;
  position: relative;
}

.input-segment {
  padding-bottom: 10%;
  display: block;
}

.input-box {
  padding: 1%;
  display: block;
}

input[type='text'] {
  border-radius: 2%;
  border-color: transparent;
  width: 100%;
}

textarea {
  border-radius: 2%;
  border-color: transparent;
  width: 100%;
}


.input-control {
  text-align: center;
}
