#messageBox .message-btn {
  min-height: 60px;
  max-height: 60px;
}

/* Button used to open the chat form - fixed at the bottom of the page */
#messageBox .open-button {
  background-color: #5D00FF;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 0px;
  right: 28px;
  width: 500px;
  border-radius: 0px;
  vertical-align: middle;
  display: table-cell;
}

#messageBox .open-button:hover {
  background-color: #5D00FF;
  opacity: 1;
}

#messageBox .chat-popup .fa-times-circle {
  position: absolute;
  top:    -12px;
  right:  -12px;
  color: black;
}

#messageBox .chat-popup .fa-times-circle:hover {
  color: red;
}

/* The popup chat - hidden by default */
#messageBox  .chat-popup {
  position: fixed;
  bottom: 0;
  right: 15px;
  /* border: 1px solid black; */
  z-index: 9;
  width: 500px;
}

/* Add styles to the form message */
#messageBox .form-container {
  display: none;
  background-color: white;
  padding-bottom: 10px;
  overflow: hidden;
}

/* When the textarea gets focus, do something */
#messageBox .form-container input:focus {
}

/* Set a style for the submit/login button */
#messageBox .form-container .btn {
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
#messageBox .form-container .cancel {
  background-color: #5D00FF;
  border-radius: 0px;
}

/* Add some hover effects to buttons */
#messageBox  .form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#messageBox .chatname {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#messageBox .chatname:hover {
  text-decoration: underline;
}

/* Chat messages */
#messageBox  .messages {
  max-height:     30vw;
  min-height:     30vw;
  padding-right:  10px;
  padding-left:   10px;
  overflow-y: scroll;
}

#messageBox  .message {
  background-color: #f1f1f1;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  overflow: scroll;
  height: auto;
}

#messageBox .message:hover {
  border-color: black;
}

#messageBox .message:active .time-right {
  display: block !important;
}

/* Darker chat message */
#messageBox .me {
  margin-left: 30px;
  background: rgba(93, 0, 255, 0.1);
}

#messageBox .other {
  margin-right: 30px;
}

/* Clear floats */
#messageBox .message::after {
  content: "";
  clear: both;
  display: table;
}

/* Style time text */
#messageBox .time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
#messageBox .time-left {
  float: left;
  color: #999;
}

#messageBox .chat-action {
  border: 0px;
  padding-left: 2px;
  padding-right: 2px;
}

#messageBox .chat-action i {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.message-btn {
  text-align: center;
  font-size: 20px;
}

/* mobile queries */
@media (max-width: 996px) {
  #messageBox .open-button {
    width: 100%;
    right: 0px;
  }

  #messageBox .chat-popup {
    width: 100%;
    left:  0;
    right: 0;
  }

  #messageBox .messages {
    max-height: 90vw;
    min-height: 90vw;
  }

  #messageBox .chat-popup .fa-times-circle {
      position: absolute;
      top:   5px;
      right:  5px;
      color: red;
  }

  #messageBox .message-btn {
    height: 50px;
    opacity: 1 !important;
  }

  #messageBox .form-container .cancel {
    border-top: 1px solid white;
  }
}



/* channel cards */
/* WARNING: currently only styled for mobile */
.channel_card {
  padding-left:     15px;
  padding-right:    15px;
  padding-top:      15px;
  padding-bottom:   15px;
  margin: 0px;
}

.channel_card:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* center */
    width: 98%;
    padding-top: 20px; /* create some space between the element and border */
    border-bottom: 1px solid grey; /* creat border */
}

.channel_card .chatname {
  font-weight: bold;
}

.channel_card .channel_meta .last_active {
  font-size: 80%;
  color: #aaa;
}

.channel_card .chatname:hover {
  text-decoration: underline;
}

.channel_card .chanel_meta {

}

.channel_card .last_message {
  color: grey;
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-overflow: ellipsis;
  width:98%;
  overflow:hidden;
}
