/* background colors */
@media (min-width: 1000px) {
  .dark-purple-background {
    background-color: #5D00FF;
  }

  .light-purple-background {
    background-color: #DD00FF;
  }

  .pink-background {
    background-color: #FF00A2;
  }

  .orange-background {
    background-color: #FF5D00;
  }

  .yellow-background {
    background-color: #F1D004;
  }

  .light-blue-background {
    background-color: #00A3FF;
  }

  .green-background {
    background-color: #04F15A;
  }

  .red-background {
    background-color: #FF0023;
  }

  .dark-blue-background {
    background-color: #006CFF;
  }
}

/* background colors */
@media (max-width: 1000px) {
  .dark-purple-background {
    color: #5D00FF;
  }

  .light-purple-background {
    color: #DD00FF;
  }

  .pink-background {
    color: #FF00A2;
  }

  .orange-background {
    color: #FF5D00;
  }

  .yellow-background {
    color: #F1D004;
  }

  .light-blue-background {
    color: #00A3FF;
  }

  .green-background {
    color: #04F15A;
  }

  .red-background {
    color: #FF0023;
  }

  .dark-blue-background {
    color: #006CFF;
  }
}
