/* formtab stuff */
.formtab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

.step.invalid {
  background-color: red;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: white;
}

/* Style the input fields */
.formtab input[type='text'] {
  width: 90%;
  background-color: transparent;
  border: 0px solid;
  border-radius: 0px;
  color: white;
  font-size: 300%;
  border-bottom: 1px solid white;
}


.formtab input[type='number'] {
  border: 0px solid;
  border-radius: 0px;
  color: white;
  border-bottom: 1px solid white;
  background-color: transparent;
  text-align: center;
  width: 30%;
}


.formtab textarea {
  border: 1px solid white;
  width: 100%;
  height: 10vw;
  background: transparent;
  color: white;
}


@media (max-width: 996px) {
  .form .input {
    font-size: 130%;
  }
  .form .input-segment {
    max-width: 95%;
  }
}

.form .input:focus {
  background-color: transparent;
  color: white;
}

::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.formtab_button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.formtab_button:hover {
  background-color: white;
  color: black;
}

.formtab_button:focus {
  background-color: white;
  color: black;
}


/* subject select stuff */
.multiselect-options {
  max-height: 20vw;
  overflow-y: scroll;
}

  .passion-column-header {
    text-align: center;
  }

.subject-tag:hover {
    border: 1px solid white;
    cursor: pointer;
  }

.selected-subjects .subject-tag {
  margin-left:  2px;
  margin-right: 2px;
}

.unselected-subjects .subject-tag {
  margin-left:  2px;
  margin-right: 2px;
}

.passion-column-header {
  text-decoration: underline;
}


/* radio select */
input[type="radio"] {
  border: 1px solid white;
}

input[type="radio"].toggle {
  display: none;
}

input[type="radio"].toggle + label {
  cursor: pointer;
  min-width: 200px;
  max-width: 200px;
  text-align: center;
}

input[type="radio"].toggle + label:hover {
  background: none;
  color: #FFF;
}

input[type="radio"].toggle + label:after {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: left 100ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: left 100ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
  z-index: -1;
}

input[type="radio"].toggle.toggle-left + label {
}

input[type="radio"].toggle.toggle-left + label:after {
  left: 100%;
}

input[type="radio"].toggle.toggle-right + label {
  margin-left: 10px;
}

input[type="radio"].toggle.toggle-right + label:after {
  left: -100%;
}

input[type="radio"].toggle:checked + label {
  background: #FFF;
  cursor: default;
  color: #000;
}

input[type="radio"].toggle:checked + label:after {
  left: 0;
}

.lowercase {
  text-transform: lowercase;
}

.hidden {
  display: none !important;
}
