body {
  background-color: white;
  color: black;
}

#mainNav {
  background-color: black;
}

#mainNav .search-bar {
  color: white;
  border-color: transparent;
  border-bottom: 1px solid white;
  background-color: black;
  border-radius: 0%;
  padding: 0px;
}

/* icons */
#mainNav .icon-background {
  color: white;
}

#mainNav .icon-top {
  color: black;
}


#mainNav .fa-stack:hover .icon-background {
  color: rgba(255, 255, 255, 0.2);
}

#mainNav .fa-stack:hover .icon-top {
  color: white;
}


#mainNav .nav-link {
  padding-left:  10px;
  padding-right: 10px;
}

#mainNav .dropdown-toggle {
  background: black !important;
}

#mainNav .dropdown-toggle[aria-expanded="true"] {
  /* text-decoration: underline; */
}

#mainNav .badge {
  text-decoration: none !important;
}

#mainNav .searchbox:active {
  background: transparent !important;
}

#mainNav .dropdown-item:hover {
  background: rgba(255, 93, 0, 0.4) !important;
}

#mainNav .dropdown-item:active {
  background: rgba(255, 93, 0, 0.8) !important;
}

#mainNav .searchbox:hover {
  background: transparent !important;
}

#mainNav .dropdown-toggle::after {
  display: none;
}

#mainNav #channelList {
  max-height: 600px;
  min-width: 400px;
  max-width: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
  margin: 0px;
  padding: 0px;
}

#channelList::-webkit-scrollbar {
  display: initial !important;
}


/* mobile navbar dropdowns */
@media (max-width: 996px) {
  #mainNav .dropdown-menu {
    background: black;
    border: 1px solid white;
  }

  #mainNav #channelList {
    color: white;
    max-width: none !important;
  }

  #messagesSearch {
    color: white;
  }

  /* dropdown items */
  #mainNav .dropdown-item {
    color: white;
  }

  /* search bars */
  #mainNav .select-clean {
    border-color: white;
  }
}


/* show scrollbars in dropdown menu */
#mainNav .dropdown-menu ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

#mainNav .dropdown-menu ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


.badge {
  background:#FF5D00;
  vertical-align: top;
}


.main {
  min-width: 100%;
  padding-top: 3vh;
}

.search-bar:focus {
  background-color: black;
  color: white;
  border-color: transparent;
  border-bottom: 1px solid white;
}

.tab {
  overflow: auto;
  white-space: nowrap;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  display: inline-block;
  background-color: inherit;
  border: none;
  outline: none;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.tab button:focus {
  outline: none;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}

.tabname-big {
  text-align: left;
  text-decoration: underline;
}

.tabname-big i {
  color: #FF5D00;
}


/* list groups */
.list-group {
  min-height: 40vh;
  max-height: 40vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: rgba(0,0,0,0.02);
}

.list-small {
  min-height: 20vh;
  max-height: 20vh;
}

.list-big {
  min-height:80vh;
  max-height:80vh;
}


/* card columns take up almost full width */
@media (max-width: 600px) {
  [class*='col-'] {
    padding-left:   0px;
    padding-right:  0px;
  }
}
