body {
  background-color: white;
  color: black;
}

#mainNav {
  background-color: black;
}

#mainNav .search-bar {
  color: white;
  border-color: transparent;
  border-bottom: 1px solid white;
  background-color: black;
  border-radius: 0%;
  padding: 0px;
}

#mainNav .dropdown-toggle {
  background: black !important;
}

#mainNav .dropdown-toggle[aria-expanded="true"] {
  text-decoration: underline;
}

#mainNav .searchbox:hover {
  background: transparent !important;
}

#mainNav .searchbox:active {
  background: transparent !important;
}

#mainNav .searchable:hover {
  background: rgba(255, 93, 0, 0.4) !important;
}

#mainNav .searchable:active {
  background: rgba(255, 93, 0, 0.8) !important;
}

#mainNav .dropdown-toggle::after {
  display: none;
}



.main {
  min-width: 100%;
  padding-top: 3vh;
}

.search-bar:focus {
  background-color: black;
  color: white;
  border-color: transparent;
  border-bottom: 1px solid white;
}

.tab {
  overflow: auto;
  white-space: nowrap;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  display: inline-block;
  background-color: inherit;
  border: none;
  outline: none;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.tab button:focus {
  outline: none;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}

.tabname-big {
  text-align: left;
  text-decoration: underline;
}

.tabname-big i {
  color: #FF5D00;
}


/* list groups */
.list-group {
  min-height: 40vh;
  max-height: 40vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: rgba(0,0,0,0.02);
}

.list-small {
  min-height: 20vh;
  max-height: 20vh;
}

.list-big {
  min-height:80vh;
  max-height:80vh;
}


/* card columns take up almost full width */
@media (max-width: 600px) {
  [class*='col-'] {
    padding-left:   0px;
    padding-right:  0px;
  }
}
