body {
  background-color: black;
  color: white;
}

#mainNav {
  background-color: black;
}

@media (max-width: 992px) {
  #navbarResponsive {
    z-index: 999;
  }
}


@media (max-width: 991px) {
  .big-head {
    display: none;
  }
  .small-head {
    display: block;
  }
}

@media (min-width: 992px) {
  .big-head {
    display: block;
  }
  .small-head {
    display: none;
  }
}
