body {
  background-color: black;
  color: white;
}

#mainNav {
  background-color: transparent;
}

@media (max-width: 991px) {
  .big-head {
    display: none;
  }
  .small-head {
    display: block;
  }
}

@media (min-width: 992px) {
  .big-head {
    display: block;
  }
  .small-head {
    display: none;
  }
}

/* Style the input fields */
input {
  width: 90%;
  background-color: transparent;
  border: 0px solid;
  border-bottom: 2px solid;
  border-color: white;
  border-radius: 0%;
  color: white;
  font-size: 300%;
}

@media (max-width: 991px) {
  input {
    font-size: 130%;
  }
  .input-segment {
    max-width: 95%;
  }
}

input:focus {
  background-color: transparent;
  color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

button {
  background-color: transparent;
  border-color: transparent;
  color: white;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

.step.invalid {
  background-color: red;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: white;
}

select option::selection {
  background-color: red;
}

@media (min-width: 996px) {
  select {
    width:90%;
    height:40vh;
    font-size:150%;
  }
}
