#mainNav {
  position: absolute;
}

#nameNav {
  min-width:100%;
  color:white;
  background:#5D00FF;
  padding-left:   25px;
  padding-right:  25px;
}

.tab {
  overflow: auto;
  white-space: nowrap;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  display: inline-block;
  background-color: inherit;
  border: none;
  outline: none;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tabname-big {
  text-align: left;
  text-decoration: underline;
}

.my-2 {
  color: white;
}

body {
  flex: 1 0 auto;
}

.about-text {
  max-height: 10vh;
  overflow-y: scroll;
}


.list-group {
  min-height: 10vh;
  max-height: 10vh;
}
