#mainNav {
  position: absolute;
}

#nameNav {
  min-width:100%;
  color:white;
  background:#5D00FF;
  padding-left:   25px;
  padding-right:  25px;
}

.my-2 {
  color: white;
}

.about-text {
  max-height: 10vh;
  overflow-y: scroll;
}
