.controls-top {
    text-align: center;
}

.controls-top a:active {
  color: #5D00FF;
}

.controls-top a:hover {
    color: #5D00FF;
}

.controls-top a:focus {
  color: #5D00FF;
}

.glider-slide {
    margin: 10px;
}

.glider-dot.active {
  background: rgba(93, 0, 255, 0.7);
}

.card {
  background: rgba(0, 0, 255, 0.01);
}

@media (min-width: 996px) {
  .card:hover {
    background: rgba(0, 0, 255, 0.005);
    border-color: rgba(0 ,0, 0, 0.5);
  }
}

.card-text {
  min-height: 10vh;
  max-height: 10vh;
  overflow: scroll;
  text-align: left;
}


.card-oneline {
  min-height: 5vh;
  max-height: 5vh;
  overflow: scroll;
}

.counter {
  display: inline;
}

.info-nums {
  text-align: right;
}

.card-head {
  text-align: left;
  white-space: nowrap;
  text-overflow: clip;
  overflow-x: scroll;
}

.little {
  min-height: 5vh;
  max-height: 5vh;
}

.tiny {
  min-height: 3vh;
  max-height: 3vh;
}

@media (max-width: 600px) {
  .tiny {
    min-height: 5vh;
    max-height: 5vh;
  }
  .card-text {
    min-height: 25vh;
    max-height: 25vh;
  }
  .card-oneline {
    min-height: 12vh;
    max-height: 12vh;
  }
}

a {
  color: black;
}

a:hover {
  color: #5D00FF;
}

.card-head a {
  color: #5D00FF;
}

.card-head h5 {
  margin-bottom: 0px;
}

.card-head p {
  padding: 0px;
  margin: 0px;
  color: rgba(0,0,0,0.5);
}

.project-name h5 {
  color: #5D00FF;
}

.project-name h5:hover {
  color: #FF5D00;
}

.hoverable {
  display: inline;
}

.owner:hover {
  display: inline;
  color: black;
}

@media (max-height: 800px) {
  .owner {
    display: none;
  }
}

/* Tooltip text */
.hoverable .tooltiptext {
  display: none;
  text-align: left;
  padding: 1px 7px;
  color: white;
  border-radius: 6px;
  position: absolute;
  z-index: 9999;
  border: 1px solid white;
}

/* Show the tooltip text when you mouse over the tooltip container */
.hoverable:hover .tooltiptext {
  display: inline;
  opacity: 1;
  background: rgba(0,0,0,0.9);
}

.tooltiptext a {
  color: white;
}

.tooltiptext a:hover {
  color: #FF5D00;
}

.oneliner {
  margin: 0px;
  padding: 0px;
  text-decoration:bold;
  color: #FF5D00;
  text-align: left;
}

@media (min-width: 480px) {
  .card-body {
    padding-bottom: 1vw;
  }
  .oneliner {
    max-height: 3vw;
    min-height: 3vw;
    overflow: scroll;
  }
}

.card-foot {
  color: rgba(0,0,0,0.5);
  max-width: 100%;
  white-space: nowrap;
  overflow: auto;
  overflow-y: hidden;
  -ms-overflow-y: hidden;
}

.fa-star {
  color: gold;
}

.fa-star-o:hover {
  color: gold;
}

.fa-share-alt:hover {
  color: #FF5D00;
}

.action-bar {
  text-align: center;
  position: relative;
  padding: 0px;
  margin: 0px;
}

.add_button {
  color: #5D00FF;
  background: transparent;
  border: 0px;
  -webkit-appearance:none !important;
}

.btn {
  color: black;
  background: white;
  border: 1px solid black;
}

.btn:hover {
  color: white;
  background-color: #FF5D00;
}

.join-input {
  border: 0px;
  border-bottom: 1px solid black;
  width: 100%;
}

.select-clean {
  border:0px;
  border-bottom: 1px solid black;
  width:100%;
  background: transparent;
  border-radius: 0px;
  -webkit-appearance:none;
}


.subject-tag {
  border-radius: 5%;
  text-align: center;
  display: inline-block;
  font-size: 80%;
  color: white;
  padding: 0px 6px 0px 6px;
  white-space: nowrap;
}
