/* div styles */
body {
  font-family: 'Varela Round' !important;
  scrollbar-width: none;
}

mark {
  background-color: white;
  padding: 0 0.1em;
  color: black;
}

select option {
    background-color: black;
    color: white;
    border: 1px solid white;
}

@media (max_width: 996px) {
  .input-segment {
    width: 100%;
    text-align: center;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}

a {
  color: #46FF43;
}

a:focus, a:hover {
  text-decoration: none;
  color: #43B5FF;
}

#mainNav {
  min-height: 56px;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: white;
  border: 1px solid white;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #161616;
  font-weight: 700;
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .mobile-show {
  color: white;
}

@media (max-width: 992px) {
  #navbarResponsive {
    border: 1px solid white;
    background: black;
    padding-left: 10px;
  }
  .navbar-light .navbar-nav .nav-link {
    color: white;
  }
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 996px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(255, 255, 255, 1);
  }
  #mainNav .form-inline {
    padding-right: 20px;
  }
  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.9);
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .dropbtn {
    color: black;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #161616;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #FF8C45;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #FF731E;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #FF731E;
    outline: none;
    border-bottom: 0.25rem solid #6376FF;
  }
  #mainNav .mobile-show {
    display: none;
  }
}

@media (max-width: 996px) {
  #mainNav .mobile-show {
    display: inline-block;
  }
}

.small-head {
  color: white;
}

.navbar-toggler .navbar-toggler-right {
  color: white;
}

.big-box {
  text-align: center;
  position: absolute;
  padding: 1.5%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
  width: 90%;
}

.box {
  color: black;
  background-color: white;
  height: 30%;
  text-align: center;
  padding: 3%;
}

.box:hover {
  background-color: rgba(255, 255, 255, 0.9)
}

.box:active{
  background-color: rgba(255, 255, 255, 0.7)
}

form {
  overflow: scroll;
}

.warning {
  color: red;
  padding: 0%;
}

/* Tooltip container */
.boop {
  display: inline;
  color: white;
}

/* Tooltip text */
.boop .tooltiptext {
  display: none;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  border: 1px solid white;
}

/* Show the tooltip text when you mouse over the tooltip container */
.boop:hover .tooltiptext {
  display: inline;
  opacity: 1;
  background: black;
}

.btn {
  border: 1px solid #808080;
  display: inline-block;
  padding: 5px 10px;
  font-size: 20px;
  position: relative;
  text-align: left;
  border-radius: 3px;
  -webkit-transition: background 600ms ease, color 600ms ease;
  transition: background 600ms ease, color 600ms ease;
}

.presskey {
  border: 1px solid #808080;
  display: inline-block;
  padding: 1px 6px;
  font-size: 12px;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
}

.embedly-card .card .action {
  color: #fa4b2a;
}

.orange {
  color: #FF5D00;
}

body ::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body  {
  scrollbar-width: none;  /* Firefox */
}

.tooltip {
  z-index: 900 !important;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  vertical-align: middle;
  border: 0px;
  padding-left: 0px;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  border-color: transparent;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 2%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10%;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {background-color: #ddd;} */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  /* color: grey; */
}

.subject-tag {
  border-radius: 5%;
  text-align: center;
  display: inline-block;
  font-size: 80%;
  color: white;
  padding: 0px 6px 0px 6px;
  white-space: nowrap;
}
