{% if current_user.admin==True %}
  {% extends 'admin/master.html' %}
  {% block body %}
    <div class='container'>
      <div class='row'>
        <div class='col'>
          <h1>{{ view_data['view_count'] }} views</h1>
        </div>
        <div class='col'>
          <h1>{{ view_data['user_count'] }} users</h1>
        </div>
      </div>
      <div class='row'>
        <canvas id="activity_chart"></canvas>
      </div>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <script>
    var ctx = document.getElementById('activity_chart');
    Chart.defaults.global.legend.display = false;
    new Chart(ctx {
      type: 'line':
      data: {
        labels: [
          {% for i in view_data['hourly_activity'] %}
            '{{ i[0] }}',
          {% endfor %}
        ],
        datasets: [
          {
            data: [
              {% for i in view_data['hourly_activity'] %}
                '{{ i[1] }}',
              {% endfor %}
            ],
            label: 'Activity',
            borderColor: "#FF5D00",
            backgroundColor: "rgba(255,93,0,0.5)",
            fill: false
          }
        ]
      },
      options: {
        scale: {
              angleLines: {
              display: false
          },
          ticks: {
              suggestedMin: 0,
              display: false
          },
        }
      }
    })
  </script>

  {% endblock %}

{% else %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
                                  initial-scale=1,
                                  shrink-to-fit=no">
    <meta name="description" content="Welcome to the The Project Project!
                                      We're excited to have you.">
    <meta name="author" content="Landon Smith">
    <title>Admin | TheProjectProject</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <style>
    body {
      background: black;
      color: white;
      font-family: 'Varela Round';
    }
    a {
      color: white;
    }
    </style>
  </head>

  <body>
    <br><br><br>
    <div style='text-align:center;'>
      <h1 style='font-size:300%;'>Not Authorized</h1>
      <p>Please <a href='/'>return to menu</a>.</p>
    </div>
  </body>
{% endif %}
