{% extends "base.html" %}

{% block content %}

<div class='big-box container text-left'>
  <center>
    <h1 style='text-decoration: underline;'>about the project project.</h1>
  </center>
  The Project Project fosters collaboration between college innovators.
  We were founded at Harvard in July 2020 with the belief that students
  can complete increadible, self-directed projects with the proper team and
  support. We provide a space for similarly-minded people to connect and do
  exactly that. Here's how it works:
  <ul>
    <li style='text-decoration: underline; text-align:left; margin:10px 0 0 0;'>
      Apply:
    </li>
    Students at supported colleges (currently just Harvard) apply by describing
    their interests and previous projects. We are looking for people at all skill
    levels with an entrepreneurial mindset and a lot of passion. We are focused
    on computer science work (it lends itself to remote collaboration), but all
    disciplines are welcome.
    <li style='text-decoration: underline; text-align:left; margin:10px 0 0 0;'>
      Join:
    </li>
    Applicants who we think will fit in our community will recieve
    an invitation to join as members. They will be able to login to the
    collaborative space, access membership perks, and join our email list.

    <li style='text-decoration: underline; text-align:left; margin:10px 0 0 0;'>
      Collaborate:
    </li>
    Members can suggest project ideas that they have.
    These might be anything from a research paper to an app or website to
    a full-fledge startup. These suggestions are posted to the community-wide
    collaborative space where members can browse and join projects that pique
    their interest. Creators retain full control of their projects and who
    can join the team.

    <li style='text-decoration: underline; text-align:left; margin:10px 0 0 0;'>
      Get Support:
    </li>
    Completed projects will be publicized on our website. We will help developers
    get access to cloud computing resources or data they might need. We will help
    connect entrepreneurial projects to Venture Capital firms or other funding
    sources.
  </ul>

We hope you will <a href='apply'>apply</a>! If you want to join, but your school
or area of study is not supported, please <a href='contact'>reach out</a>. We
look forward to hearing from you!
</div>


{% endblock %}
