{% extends "base.html" %}
{% block content %}

<div class='big-box container text-left'>
  <center>
    <h1 style='text-decoration: underline;'>about the project project.</h1>
  </center>
  The Project Project fosters collaboration between college innovators.
  We believe that, with the proper team and support, students can produce
  increadible


  We were founded at Harvard College in July 2020 to help keep students
  connected . Here's how it works:

  <ul>
    <li style='text-decoration: underline; text-align:left;'>Apply:</li>
    Students at supported colleges (currently just Harvard) apply by describing
    their interests and previous projects. We are looking for people at all skill
    levels with an innovative mindset and a lot of passion.

    <li style='text-decoration: underline; text-align:left;'>Join:</li>
    Applicants who we think will fit in our community will recieve
    an invitation to join as members. They will be able to login to the
    collaborative space, access membership perks, and join our email list.

    <li style='text-decoration: underline; text-align:left;'>Collaborate:</li>
    Members of the collaborative space can suggest projects to the community.
    These can be anything from a research paper to an app or website to
    a full-fledge startup. 

  </ul>

</div>


{% endblock %}
