{% extends "home_base.html" %}

{% block title %}{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link type="text/css" href="css/add_styles.css" rel="stylesheet">
{% endblock %}

{% block content %}

<form class='container big-box'>
    {{ form.csrf_token }}
    <div class='row'>
      <div class='col'>
        <h3>description</h3>
        {% for elt in [form.name, form.summary, form.url]%}
          <div class="row input-segment" style='text-align:left;'>
            <div class='input-title'>
              <h6 style="display: inline;">{{ elt.label }}</h6>
              {% if elt.description %}
                <div class='boop'>
                  <i style="font-size:24px; color:white;" class="fa">&#xf059;</i>
                  <span class="tooltiptext">{{ elt.description}}</span>
                </div>
              {% endif %}
            </div>
            <div class='input-box'>
              {% if not elt.errors %}
                {{ elt(class='input valid', placeholder=elt.render_kw['placeholder']) }}
              {% else %}
                {{ elt(class='input invalid') }}
                <p class='warning'>{{ elt.errors[0] }}</p>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class='col'>
        <h3>team</h3>
        {% for elt in [form.open, form.requires_application, form.application_question] %}
          <div class="row input-segment">
            <div class='input-title'>
              <h6 style="display: inline;">{{ elt.label }}</h6>
              {% if elt.description %}
                <div class='boop'>
                  <i style="font-size:24px; color:white;" class="fa">&#xf059;</i>
                  <span class="tooltiptext">{{ elt.description }}</span>
                </div>
              {% endif %}
            </div>
            {% if elt.type=='BooleanField' %}
              <div class="input-control">
                <input id="toggle-on-q{{ loop.index }}" class="toggle toggle-left" name="{{ elt.name }}" value="yes" type="radio">
                <label for="toggle-on-q{{ loop.index }}" class="btn"><span>A</span> Yes</label>
                <input id="toggle-off-q{{ loop.index }}" class="toggle toggle-right" name="{{ elt.name }}" value="no" type="radio">
                <label for="toggle-off-q{{ loop.index }}" class="btn"><span>B</span> No</label>
              </div>
            {% else %}
              <div class='input-box'>
                {% if not elt.errors %}
                  {{ elt(class='input valid', placeholder=elt.render_kw['placeholder']) }}
                {% else %}
                  {{ elt(class='input invalid') }}
                  <p class='warning'>{{ elt.errors[0] }}</p>
                {% endif %}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <div class='col'>
        <h3>management</h3>
        {% for elt in [form.complete, form.estimated_time] %}
          <div class="row input-segment">
            <div class='input-title'>
              <h6 style="display: inline;">{{ elt.label }}</h6>
              {% if elt.description %}
                <div class='boop'>
                  <i style="font-size:24px; color:white;" class="fa">&#xf059;</i>
                  <span class="tooltiptext">{{ elt.description }}</span>
                </div>
              {% endif %}
            </div>
            {% if elt.type=='BooleanField' %}
              <div class="input-control">
                <input id="toggle-on-q{{ loop.index + 2 }}" class="toggle toggle-left" name="{{ elt.name }}" value="yes" type="radio">
                <label for="toggle-on-q{{ loop.index + 2}}" class="btn"><span>A</span> Yes</label>
                <input id="toggle-off-q{{ loop.index + 2}}" class="toggle toggle-right" name="{{ elt.name }}" value="no" type="radio">
                <label for="toggle-off-q{{ loop.index + 2}}" class="btn"><span>B</span> No</label>
              </div>
            {% elif elt.type=='FloatField' %}
              <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
              </div>
              <p id='day-out' style='display: inline;'></p>
            {% else %}
              <div class='input-box'>
                {% if not elt.errors %}
                  {{ elt(class='input valid', placeholder=elt.render_kw['placeholder']) }}
                {% else %}
                  {{ elt(class='input invalid') }}
                  <p class='warning'>{{ elt.errors[0] }}</p>
                {% endif %}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  <center>
    <div class='row'>
      <button>Submit</button>
    </div>
  </center>
</form>

<script>
  var slider = document.getElementById("myRange");
  var output = document.getElementById("day-out");
  output.innerHTML = slider.value; // Display the default slider value
  slider.oninput = function() {
    if (this.value==1) {
      output.innerHTML = 'n.a.';
    }
    else if (this.value==100) {
      output.innerHTML = 'long term';
    }
    else {
      output.innerHTML = this.value + ' days';
    }
  }
</script>

{% endblock %}
