{% extends "home_base.html" %}

{% block title %}{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link type="text/css" href="css/add_styles.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
{% endblock %}

{% block content %}

<form class='container big-box' id='project_form'>
    {{ form.csrf_token }}
    <div class='row'>
      <div class='col'>
        <h3>description</h3>
        {% for elt in [form.name, form.summary, form.url]%}
          <div class="row input-segment" style='text-align:left;'>
            <div class='input-title'>
              <h6 style="display: inline;">{{ elt.label }}</h6>
              {% if elt.description %}
                <div class='boop'>
                  <i style="font-size:24px; color:white;" class="fa">&#xf059;</i>
                  <span class="tooltiptext">{{ elt.description}}</span>
                </div>
              {% endif %}
            </div>
            <div class='input-box'>
              {% if not elt.errors %}
                {{ elt(class='input valid', placeholder=elt.render_kw['placeholder']) }}
              {% else %}
                {{ elt(class='input invalid') }}
                <p class='warning'>{{ elt.errors[0] }}</p>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class='col'>
        <h3>team</h3>
        {% for elt in [form.complete, form.open, form.requires_application, form.application_question] %}
          <div class="row input-segment" id='{{ elt.name }}_segment'>
            <div class='input-title' id='{{ elt.name }}_label'>
              <h6 style="display: inline;">{{ elt.label }}</h6>
              {% if elt.description %}
                <div class='boop'>
                  <i style="font-size:24px; color:white;" class="fa">&#xf059;</i>
                  <span class="tooltiptext">{{ elt.description }}</span>
                </div>
              {% endif %}
            </div>
            {% if elt.type=='BooleanField' %}
              <div class="input-control" onclick='toggle_{{ elt.name }}()'>
                <input id="on-{{ elt.name }}" class="toggle toggle-left" name="{{ elt.name }}" value="yes" type="radio">
                <label for="on-{{ elt.name }}" class="btn"><span>A</span> Yes</label>
                <input id="off-{{ elt.name }}" class="toggle toggle-right" name="{{ elt.name }}" value="no" type="radio">
                <label for="off-{{ elt.name }}" class="btn"><span>B</span> No</label>
              </div>
            {% else %}
              <div class='input-box'>
                {% if not elt.errors %}
                  {{ elt(class='input valid', placeholder=elt.render_kw['placeholder']) }}
                {% else %}
                  {{ elt(class='input invalid') }}
                  <p class='warning'>{{ elt.errors[0] }}</p>
                {% endif %}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <div class='col'>
        <h3>management</h3>
        {% for elt in [form.estimated_time, form.team_size] %}
          <div class="row input-segment" id='{{ elt.name }}_segment'>
            <div class='input-title'>
              <h6 style="display: inline;">{{ elt.label }}</h6>
              {% if elt.description %}
                <div class='boop'>
                  <i style="font-size:24px; color:white;" class="fa">&#xf059;</i>
                  <span class="tooltiptext">{{ elt.description }}</span>
                </div>
              {% endif %}
            </div>
            {% if elt.type=='FloatField' %}
              <div class="slidecontainer">
                <input type="range" min="1" max="100" value="40" class="slider"
                      name='{{ elt.name }}' id="time_slider">
              </div>
              <p id='time-out' style='display: inline;'></p>
            {% elif elt.type=='IntegerField' %}
              <div class="slidecontainer">
                <input type="range" min="2" max="30" value="10" class="slider"
                      name='{{ elt.name }}' id="team_slider">
              </div>
              <p id='team-out' style='display: inline;'></p>
            {% else %}
              <div class='input-box'>
                {% if not elt.errors %}
                  {{ elt(class='input valid', placeholder=elt.render_kw['placeholder']) }}
                {% else %}
                  {{ elt(class='input invalid') }}
                  <p class='warning'>{{ elt.errors[0] }}</p>
                {% endif %}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class='row box' onclick='submit()' style='padding:1px;'>
      <p>share</p>
    </div>
</form>

<script>
  // query sliders
  var time_slider = document.getElementById("time_slider");
  var team_slider = document.getElementById("team_slider");
  // query outputs
  var time_out = document.getElementById("time-out");
  var team_out = document.getElementById("team-out");
  // defaults
  time_out.innerHTML = time_slider.value + ' days';
  team_out.innerHTML = team_slider.value + ' people';
  // time sliding
  time_slider.oninput = function() {
    if (this.value==1) {
      time_out.innerHTML = 'n.a.';
    }
    else if (this.value==100) {
      time_out.innerHTML = 'long term';
    }
    else {
      time_out.innerHTML = this.value + ' days';
    }
  };
  team_slider.oninput = function() {
    if (this.value==30) {
      team_out.innerHTML = 'comunity-wide';
    }
    else {
      team_out.innerHTML = (this.value) + ' people';
    }
  };

  function submit() {
    document.getElementById("project_form").submit();
  };

  // toggles
  function is_complete() {
    // change timing
    document.getElementById("time_slider").disabled = true;
    time_out.innerHTML = 'n.a.';
    document.getElementById("time_slider").value = "1";
    document.getElementById("estimated_time_segment").style.opacity = 0.4;
    // project isn't open
    document.getElementById('off-open').checked = true;
    toggle_open();
  };

  function not_complete() {
    document.getElementById("time_slider").disabled = false;
    document.getElementById("estimated_time_segment").style.opacity = 1;
    document.getElementById('on-open').checked = true;
    toggle_open();
  };

  function is_open() {
    // change team to 2
    document.getElementById("team_slider").disabled = false;
    document.getElementById("team_slider").style.opacity = 1;
    document.getElementById("team_slider").value = "2";
    team_out.innerHTML = '2 people';
    // requires application set to true
    document.getElementById('on-requires_application').checked = true;
    toggle_requires_application();
  };

  function not_open() {
    // turn off team slider
    document.getElementById("team_slider").disabled = true;
    document.getElementById("team_slider").value = "1";
    team_out.innerHTML = '1 person';
    document.getElementById("team_slider").style.opacity = 0.4;
    // turn off application
    document.getElementById('off-requires_application').checked = true;
    toggle_requires_application();
  }

  function no_application() {
    document.getElementById("application_question").disabled = true;
    document.getElementById("application_question_segment").style.opacity = 0.4;
  };

  function yes_application() {
    document.getElementById("application_question").disabled = false;
    document.getElementById("application_question_segment").style.opacity = 1;
  };

  function toggle_complete() {
    // alert(document.getElementById('on-open').checked);
    if (document.getElementById('on-complete').checked) {
        is_complete();
      } else {
        not_complete();
      }
  }

  function toggle_open() {
    if (document.getElementById('on-open').checked) {
          is_open();
      } else {
          not_open();
      }
  }

  function toggle_requires_application() {
    if (document.getElementById('on-requires_application').checked) {
          yes_application();
      } else {
          no_application();
      }
  }

</script>

{% endblock %}
