{% extends "base.html" %}
{% block content %}

{% block head %}
  {{ super() }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
  <!-- <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script> -->
  <link type="text/css" href="css/admin_styles.css" rel="stylesheet">
  <style>
    body {
      background: grey;
      color: black !important;
    }
  </style>
{% endblock %}

<div class='container' style='position: relative; padding-top:30vh;'>
  <div class='row'>
    <table id="user_table" class="table table-hover" style="width:100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Github</th>
        <th>About</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      {% if user.confirmed %}
        <tr>
          <th>
            {{ user.name }}
          </th>
          <th>
            <a href='mailto:{{ user.email }}'>{{ user.email }}</a>
          </th>
          <th>
            <a href='{{ user.github }}'>{{ user.github }}</a>
          </th>
          <th>
            {{ user.about }}
          </th>
          <th>
            {% if user.accepted %}
              <form class='user-data' method="post" action="/reject">
                <button type="submit" name='reject' value="{{ user.id }}">
                  Reject
                </button>
              </form>
            {% else %}
              <form class='user-data' method="post" action="/accept">
                <button type="submit" name='accept' value="{{ user.id }}">
                  Accept
                </button>
              </form>
            {% endif %}
          </th>
        </tr>
      {% endif %}
      {% endfor %}
    </tbody>
    </table>
  </div>

  <div class='row'>
    <table id="report_table" class="table table-hover" style="width:100%">
    <thead>
      <tr>
        <th>Reported</th>
        <th>Reporter</th>
        <th>Time</th>
        <th>Text</th>
      </tr>
    </thead>
    <tbody>
      {% for report in reports %}
        <tr>
          <th>
            {{ report.reported.name }}
          </th>
          <th>
            {{ report.reporter.name }}
          </th>
          <th>
            {{ report.timestamp }}
          </th>
          <th>
            {{ report.text }}
          </th>
        </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>

</div>

<script>
$(document).ready( function () {
  $('#user_table').DataTable({
    language: {
      search: "_INPUT_",
      searchPlaceholder: "Search users..."
    },
    "scrollX": true,
    "bPaginate": false,
    "paging":   false,
    'info': false,
  });

  $('.dataTables_length').addClass('bs-select');
} );
</script>

{% endblock %}
