{% extends "home_base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
  {{ super() }}
  <link type="text/css" href="css/scroll_styles.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class='container my-4' style='min-width: 90%'>
  <h4 style='text-align:left;'>Recommended Projects</h4>
  <hr class="my-4">
  <div id="rec-carousel" class="carousel slide carousel-multi-item" data-ride="carousel">
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      {% for tab in recommended_tabs %}
        {% if loop.index==1 %}
        <div class="carousel-item active">
        {% else %}
        <div class="carousel-item">
        {% endif %}
          <div class='row'>
            {% for project in tab %}
              {{ macros.render_big_project_card(current_user, project, now, calc_days_since) }}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#rec-carousel" data-slide="prev"><i class="fa fa-chevron-circle-left fa-lg"></i></a>
      <p id='rec-count' class='counter'>0</p>
      <a class="btn-floating" href="#rec-carousel" data-slide="next"><i class="fa fa-chevron-circle-right fa-lg"></i></a>
    </div>
    <!--/.Controls-->
  </div>

  <div id="trending-carousel" class="carousel slide carousel-multi-item" data-ride="carousel">
    <h4 style='text-align:left;'>Trending Projects</h4>
    <hr class="my-4">
    <div class="carousel-inner" role="listbox">
      {% for tab in top_tabs %}
        {% if loop.index==1 %}
        <div class="carousel-item active">
        {% else %}
        <div class="carousel-item">
        {% endif %}
          <div class='row'>
            {% for project in tab %}
              {{ macros.render_mid_project_card(current_user, project, now, calc_days_since) }}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <!--Controls-->
  <div class="controls-top">
    <a class="btn-floating" href="#trending-carousel" data-slide="prev"><i class="fa fa-chevron-circle-left fa-lg"></i></a>
    <p id='trending-count' class='counter'>0</p>
    <a class="btn-floating" href="#trending-carousel" data-slide="next"><i class="fa fa-chevron-circle-right fa-lg"></i></a>
  </div>
  <!--/.Controls-->

  <h4 style='text-align:left;'>My Projects</h4>
  <hr class="my-4">
  {% if user_project_count>0 %}
    <div id="my-carousel" class="carousel slide carousel-multi-item" data-ride="carousel">
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        {% for tab in user_tabs %}
          {% if loop.index==1 %}
          <div class="carousel-item active">
          {% else %}
          <div class="carousel-item">
          {% endif %}
            <div class='row'>
              {% for project in tab %}
                {{ macros.render_small_project_card(current_user, project, now, calc_days_since) }}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#my-carousel" data-slide="prev"><i class="fa fa-chevron-circle-left fa-lg"></i></a>
      <p id='my-count' class='counter'>0</p>
      <a class="btn-floating" href="#my-carousel" data-slide="next"><i class="fa fa-chevron-circle-right fa-lg"></i></a>
    </div>
    <!--/.Controls-->
  {% else %}
  <div style='text-align:center;'>
    <a type="button" href="/add_project">
      <i class="fa fa-plus-circle fa-3x add_button" aria-hidden="true"></i>
    </a>
  </div>
  {% endif %}
</div>

<div>
  {% for tab in recommended_tabs %}
    {% for project in tab %}
      {{ macros.render_join_modal(current_user, project, project_application) }}
    {% endfor %}
  {% endfor %}
</div>



<script>
// log tabs
$('#rec-carousel').on('slid.bs.carousel', function () {
  var cur = $('#rec-carousel div.active').index()
  sessionStorage.setItem('recSlide', cur);
  $('#rec-count').html(cur);
  });

$('#trending-carousel').on('slid.bs.carousel', function () {
  var cur = $('#trending-carousel div.active').index()
  sessionStorage.setItem('trendingSlide', cur);
  $('#trending-count').html(cur);
  });

$('#my-carousel').on('slid.bs.carousel', function () {
  var cur = $('#my-carousel div.active').index()
  sessionStorage.setItem('mySlide', cur);
  $('#my-count').html(cur);
  });

// rescroll carousels
if(sessionStorage.recSlide){
    $("#rec-carousel").carousel(sessionStorage.recSlide*1);
  }

if(sessionStorage.trendingSlide){
    $("#trending-carousel").carousel(sessionStorage.trendingSlide*1);
  }

if(sessionStorage.mySlide){
    $("#my-carousel").carousel(sessionStorage.mySlide*1);
  }
</script>


{% endblock %}
