{% extends "home_base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
  {{ super() }}
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link type="text/css" href="css/scroll_styles.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class='big-box'>
<div class='container my-4'>
  <h4 style='text-align:left;'>Recommended Projects</h4>
  <hr class="my-4">
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </div>
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
      <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      {% for tab in recommended_tabs %}
        {% if loop.index==1 %}
        <div class="carousel-item active">
        {% else %}
        <div class="carousel-item">
        {% endif %}
          <div class='row'>
            {% for project in tab %}
              <div class="col-md-4">
                <div class="card mb-2">
                  <div class="card-body">
                    <p class="float-right">
                      <i class='far fa-user-circle'></i>
                      {{ project.members|length + 1 }}
                      <br>
                      <i class="fa fa-star"></i>
                      {{ project.stars }}
                    </p>
                    <div class='card-head'>
                      <a href='project={{ project.name }}'>
                        <h5>{{ project.name }}</h5>
                      </a>
                      <a href='user={{ project.creator.email }}'>
                        <p>{{ project.creator.email }}</p>
                      </a>
                      {% if project.url %}
                        <a href='{{ project.url }}'>{{ project.url }}</a>
                      {% endif %}
                    </div>
                    <hr class="my-4">
                    <!-- summary -->
                    <p class="card-text" style='margin:0px;padding:0px;text-decoration:bold;color:green;'>
                      {{ project.oneliner }}
                    </p>
                    <p class="card-text" style='color:rgba(0,0,0,0.7);'>{{ project.summary }}</p>
                    <div class='card-foot'>
                      <p class='float-left' style='display:inline;'>
                        <i class="fa fa-clock-o"></i>
                        {{ project.estimated_time }} days left
                      </p>
                    </div>
                    <br>
                    <hr class="my-4">
                    <div class='action-bar'>
                      <i class="fa fa-star-o"></i>
                      &nbsp;
                      <a class="btn">Join</a>
                      &nbsp;
                      <i class="fa fa-share-alt" aria-hidden="false"></i>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class='container my-4'>
  <h4 style='text-align:left;'>Top Projects</h4>
  <hr class="my-4">
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </div>
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
      <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      {% for tab in top_tabs %}
        {% if loop.index==1 %}
        <div class="carousel-item active">
        {% else %}
        <div class="carousel-item">
        {% endif %}
          <div class='row'>
            {% for project in tab %}
              <div class="col-md-4">
                <div class="card mb-2">
                  <div class="card-body">
                    <p class="float-right">
                      <i class='far fa-user-circle'></i>
                      {{ project.members|length + 1 }}
                    </p>
                    <div class='card-head'>
                      <a href='project={{ project.name }}'>
                        <h5>{{ project.name }}</h5>
                      </a>
                      <a href='user={{ project.creator.email }}'>
                        <p>{{ project.creator.email }}</p>
                      </a>
                    </div>
                    <!-- summary -->
                    <p class="card-text" style='margin:0px;padding:0px;text-decoration:bold;color:green;'>
                      {{ project.oneliner }}
                    </p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class='container my-4'>
  <h4 style='text-align:left;'>My Projects</h4>
  <hr class="my-4">
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </div>
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
      <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      {% for tab in users_tabs %}
        {% if loop.index==1 %}
        <div class="carousel-item active">
        {% else %}
        <div class="carousel-item">
        {% endif %}
          <div class='row'>
            {% for project in tab %}
              <div class="col-md-4">
                <div class="card mb-2">
                  <div class="card-body">
                    <p class="float-right">
                      <i class='far fa-user-circle'></i>
                      {{ project.members|length + 1 }}
                    </p>
                    <div class='card-head'>
                      <a href='project={{ project.name }}'>
                        <h5>{{ project.name }}</h5>
                      </a>
                    </div>
                    <!-- summary -->
                    <p class="card-text" style='margin:0px;padding:0px;text-decoration:bold;color:green;'>
                      {{ project.oneliner }}
                    </p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

</div>
{% endblock %}
