<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- metas -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
                                  initial-scale=1,
                                  shrink-to-fit=no">
    <meta name="description" content="Strada Routing designs AI Tools for
                                      optimal bundling, pricing, and routing
                                      of truck loads.">
    <meta name="author" content="Landon Smith">
    <!-- css -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link type="text/css" href="css/stylesheet.css" rel="stylesheet">
  </head>

  <body id='page-top'>
    <div class='container'>
      <h1>Collab Commons</h1>
      <div class='row no-gutters'>
        <div class='col align-self-center' style='background-color: blue;'>
          <p>asdf</p>
        </div>
        <div class='col-9' style='background-color: blue;'>
          <p>1234134</p>
        </div>
      </div>
    </div>
  </body>


</html>
