<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- metas -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
                                  initial-scale=1,
                                  shrink-to-fit=no">
    <meta name="description" content="Strada Routing designs AI Tools for
                                      optimal bundling, pricing, and routing
                                      of truck loads.">
    <meta name="author" content="Landon Smith">
    <!-- css -->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link type="text/css" href="css/stylesheet.css" rel="stylesheet">
  </head>

  <body id='page-top'>
    <div class='box'>
      <h1>Collab Commons</h1>
    </div>
  </body>


</html>
