<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- metas -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
                                  initial-scale=1,
                                  shrink-to-fit=no">
    <meta name="description" content="Strada Routing designs AI Tools for
                                      optimal bundling, pricing, and routing
                                      of truck loads.">
    <meta name="author" content="Landon Smith">
    <!-- css -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link type="text/css" href="css/stylesheet.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/#page-top">
          <h3><mark>Co</mark>llab<br><mark>Co</mark>mmons</h3>
          <p>
            a venue for harvard<br>
            connection and innovation
          </p>
        </a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href='/careers'>Careers</a>
              </li>
            </ul>
        </div>

  </body>


</html>
