<!-- CARDS -->
<!-- project cards -->
{% macro render_big_project_card(current_user, project, now, calc_days_since) -%}
<div class="col-md-4">
  <div class="card mb-2">
    <div class="card-body">
      <div class='float-right'>
        <i class='far fa-user-circle'></i>
        {{ project.members.all()|length }}
        <br>
        <i class="fa fa-star"></i>
        {{ project.stars.all()|length }}
      </div>
      <div class='card-head'>
        <a class='project-name' href='project={{ project.name }}'>
          <h5>{{ project.name }}</h5>
        </a>
        <a href='user={{ project.owner.email }}'>
          <p class='owner'>{{ project.owner.name }}</p>
        </a>
      </div>
      <hr class="my-4">
      <!-- summary -->
      <div class='card-text'>
        <p class='oneliner'>
          {{ project.oneliner }}
        </p>
        <p style='color:rgba(0,0,0,0.7);'>{{ project.summary }}</p>
      </div>
      <div class='card-foot float-left'>
        <p style="padding-bottom:0px; margin-bottom:0px;">
          <i class="fa fa-clock-o"></i>
          {{ calc_days_since(now(), project.posted_on) }} / {{ project.estimated_time }}
          days
        </p>
        <div>
          <i class="fa fa-flask" aria-hidden="true"></i>
          {% for subject in project.subjects|reverse %}
            <a href='/subject={{ subject.code }}'>
              {% if loop.index>1 %}
              ,
              {% endif %}
              <p class='subject-tag' style='background:{{ subject.color }};'>
                {{ subject.name }}
              </p>
            </a>
          {% endfor %}
        </div>
      </div>
      <br><br>
      <hr class="my-4">
      <div class='action-bar'>
        {% if current_user.has_starred(project) %}
          <a href="{{ url_for('like_action', project_id=project.id, action='unlike') }}">
            <i class="fa fa-star"></i>
          </a>
        {% else %}
          <a href="{{ url_for('like_action', project_id=project.id, action='like') }}">
            <i class="fa fa-star-o"></i>
          </a>
        {% endif %}
        &nbsp;
        {% if not current_user in project.members %}
          <button type="button" class="btn" data-toggle="modal" data-target="#modal_{{ project.id }}">
              Join
          </button>
        {% elif current_user in project.pending %}
            Pending
        {% else %}
          <button type="button" class="btn" data-toggle="modal" data-target="#modal_{{ project.id }}">
              Leave
          </button>
        {% endif %}
        &nbsp;
        <i class="fa fa-share-alt" aria-hidden="false"></i>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}


{% macro render_mid_project_card(current_user, project, now, calc_days_since) -%}
<div class="col-md-4">
  <div class="card mb-2">
    <div class="card-body">
      <p class="float-right">
        <i class='far fa-user-circle'></i>
        {{ project.members.all()|length  }}
        <br>
        <i class="fa fa-star"></i>
        {{ project.stars.all()|length }}
      </p>
      <div class='card-head little'>
        <a class='project-name' href='project={{ project.name }}'>
          <h5>{{ project.name }}</h5>
        </a>
        <a href='user={{ project.owner.email }}'>
          <p>{{ project.owner.name }}</p>
        </a>
      </div>
      <p class='oneliner'>
        {{ project.oneliner }}
      </p>
    </div>
  </div>
</div>
{% endmacro -%}


{% macro render_small_project_card(current_user, project, now, calc_days_since) -%}
<div class="col-md-4">
  <div class="card mb-2">
    <div class="card-body">
      <div class='float-right'>
        {% if current_user==project.owner %}
          {% set pending = project.pending_members.all()|length %}
          {% if pending>0 %}
            <i class="fa fa-bell" aria-hidden="true"></i>
          {% else %}
            <i class="fa fa-bell-o" aria-hidden="true"></i>
          {% endif %}
          {{ pending }}
          <br>
        {% endif %}
        <i class="fa fa-star"></i>
        {{ project.stars.all()|length }}
      </div>
      <div class='card-head tiny'>
        <a class='project-name' href='project={{ project.name }}'>
          <h5>{{ project.name }}</h5>
        </a>
      </div>
      <!-- summary -->
      <p class='oneliner'>
        {{ project.oneliner }}
      </p>
    </div>
  </div>
</div>
{% endmacro -%}


<!-- user cards -->
{% macro render_user_card(user) -%}
<div class="col-md-4">
  <div class="card mb-2">
    <div class="card-body">
      <div class='card-head little'>
        <a class='project-name' href='user={{ user.email }}'>
          <h5>{{ user.name }}</h5>
        </a>
        <a href='mailto:{{ user.email }}'>
          <p>{{ user.email }}</p>
        </a>
      </div>
      <p class='oneliner'>
        {{ user.about }}
      </p>
    </div>
  </div>
</div>
{% endmacro -%}


<!-- subject cards -->
{% macro render_subject_card(subject) -%}
<div class="col-md-4">
  <div class="card mb-2">
    <div class="card-body"
    style='background: {{ subject.color }}'>
      <p class="float-right" style='color:white;'>
        <i class='fa fa-circle'></i>
        {{ subject.projects.all()|length  }}
        <br>
        <i class='fa fa-user-circle'></i>
        {{ subject.users|length  }}
      </p>
      <div class='card-head tiny'>
        <a class='project-name' href='subject={{ subject.code }}'>
          <h5 style='color:white;'>{{ subject.name }}</h5>
        </a>
      </div>
    </div>
  </div>
</div>
{% endmacro -%}


<!-- MODALS -->
{% macro render_join_modal(current_user, project, project_application) -%}
    {% if not current_user in project.members %}
      <div id="modal_{{ project.id }}" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <a href='project={{ project.name }}' style='color:black;'>
                <h5>{{ project.name }}</h5>
              </a>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form action="{{ url_for('join_project', project_id=project.id) }}" method='post'>
              <div class="modal-body">
                {% if project.requires_application %}
                  "{{ project.application_question }}"</p>
                    {{ project_application.hidden_tag() }}
                    {{ project_application.response(class='join-input', placeholder='Response', required=True) }}
                {% else %}
                  <p>Welcome to {{ project.name }}! Click to join.</p>
                {% endif %}
              </div>
              <div class="modal-footer">
                <button class='btn'>Join</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% else %}
      <div id="modal_{{ project.id }}" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <a href='project={{ project.name }}' style='color:black;'>
                <h5>{{ project.name }}</h5>
              </a>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form action="{{ url_for('leave_project', project_id=project.id) }}" method='post'>
                <div class="modal-body">
                  {% if project.owner==current_user %}
                    {% if project.members.all()|length>1 %}
                      <label for="new_owner">Select new project owner:</label>
                      <br>
                      <select name="new_owner" id="new_owner" style='border:0px; border-bottom:1px solid black; width:100%;'>
                        {% for member in project.members %}
                          {% if not member==project.owner %}
                            <option value="{{ member.id }}">{{ member.name }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    {% else %}
                      <p>
                        If you leave {{ project.name }}, there will be no members left and the
                        project will be deleted. Are you sure you want to leave?
                      </p>
                    {% endif %}
                  {% else %}
                    <p>Are you sure you want to leave {{ project.name }}?</p>
                  {% endif %}
                </div>
                <div class="modal-footer">
                  <button class='btn'>Leave</button>
                </div>
              </form>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{%- endmacro %}
