{% extends 'home_base.html' %}

{% block title %}{{ project.name }}{% endblock %}

{% block head %}
  {{ super() }}
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link href="css/scroll_styles.css" rel="stylesheet">
  <link href="css/sidebar.css" rel="stylesheet">
{% endblock %}

{% block content %}
<body>
  <div class="wrapper">
      <!-- Sidebar -->
      <nav id="sidebar">
          <div class="sidebar-header">
              <p class='float-right'>
                <i class="fa fa-star"></i>
                {{ project.stars|length }}
                &nbsp;
                <i class='far fa-user-circle'></i>
                {{ project.members|length }}
              </p>
              <h3>{{ project.name }}</h3>
              <p>
                by <a class='user-name' href='user={{ project.owner.email }}'>{{ project.owner.name }}</a>
              </p>
          </div>

          <ul class="list-unstyled components">
              <p class='oneliner'>
                {{ project.oneliner }}
              </p>
              <p>{{ project.summary }}</p>
              <li class="active">
                  <a href="#memberSubmenu" data-toggle="collapse" aria-expanded="false">
                    Members
                  </a>
                  <ul class="collapse in list-unstyled" id="memberSubmenu">
                    {% for member in project.members %}
                      <li>
                          <a href="user={{ member.user.email }}">
                            {{ member.user.name }}
                            &nbsp;
                            {% for role in [member.role] %}
                              {% if loop.index!=1 %}
                              ,
                              {% endif %}
                              {{ role.name }}
                            {% endfor %}
                          </a>
                      </li>
                    {% endfor %}
                  </ul>
              </li>
              <li>
                  <a href="#mediaSubmenu" data-toggle="collapse" aria-expanded="false">
                    Media
                  </a>
                  <ul class="collapse list-unstyled" id="mediaSubmenu">
                    {% for link in [project.url] %}
                      <li>
                          <a href="{{ link }}">{{ link }}</a>
                      </li>
                    {% endfor %}
                  </ul>
              </li>
              <li>
                  <a href="#subjectSubmenu" data-toggle="collapse" aria-expanded="false">
                    Subjects
                  </a>
                  <ul class="collapse list-unstyled" id="subjectSubmenu">
                    {% for subject in project.subjects %}
                      <li>
                          <a href="#">{{ subject }}</a>
                      </li>
                    {% endfor %}
                  </ul>
              </li>
          </ul>
      </nav>
  </div>
</body>
{% endblock %}

<script type="text/javascript">
  // $(document).ready(function () {
    // $('#memberSubmenu').collapse('in')
  // });
    // $(document).ready(function () {
    //     $("#sidebar").mCustomScrollbar({
    //         theme: "minimal"
    //     });
    //
    //     $('#dismiss, .overlay').on('click', function () {
    //         // hide sidebar
    //         $('#sidebar').removeClass('active');
    //         // hide overlay
    //         $('.overlay').removeClass('active');
    //     });
    //
    //     $('#sidebarCollapse').on('click', function () {
    //         // open sidebar
    //         $('#sidebar').addClass('active');
    //         // fade in the overlay
    //         $('.overlay').addClass('active');
    //         $('.collapse.in').toggleClass('in');
    //         $('a[aria-expanded=true]').attr('aria-expanded', 'false');
    //     });
    // });
</script>

</html>
