{% extends "base.html" %}
{% block content %}

<div class='big-box about container text-left'>
  <center>
    <h1 style='text-decoration: underline;'>terms and conditions.</h1>
  </center>
  The Project Project is a nonprofit, safe, welcoming space for creators to connect.
  Hatred, intolerance and theft fly directly in the face of our mission and will
  be met with swift reprecussions. There is zero tolerance for the violation of
  our community guidelines, and consequences will range from expulsion to legal
  action.
  <ul>
    <li class='list-bullet'>
      Theft:
    </li>
    The Project Project only works if members feel faith in the community.

    <li class='list-bullet'>
      Hate Speech:
    </li>
    Applicants who we think will fit in our community will recieve
    an invitation to join as members. They will be able to login to the
    collaborative space, access membership perks, and join our email list.

    <li class='list-bullet'>
      Hacking:
    </li>
    boop

    <li class='list-bullet'>
      Harmful Content:
    </li>
    beep

    <li class='list-bullet'>
      Harmful Content:
    </li>
    beep

    <li class='list-bullet'>
      Misrepresentation:
    </li>
    beep
  </ul>

We hope you will <a href='apply'>apply</a>! If you want to join, but your school
or area of study is not supported, please <a href='contact'>reach out</a>. We
look forward to hearing from you!
</div>


{% endblock %}
