<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
                                  initial-scale=1,
                                  shrink-to-fit=no">
    <meta name="description" content="Welcome to the The Project Project!">
  </head>
  <body>
    {% for tab in recommended_tabs %}
      {% for project in tab %}
        <h1>{{ project.name }}</h1>
        <p>{{ project.owner }}</p>
        {{ project.url }}
        {{ project.members|length }}
        <!-- {% for role in project.members %} -->
          <!-- <p>{{ role.user }}{{ role.role }}</p> -->
        <!-- {% endfor %} -->
      {% endfor %}
    {% endfor %}
  </body>
</html>
