{% macro render_comment(comment) -%}
  {% set project = comment.project %}
  <div id='comment-{{ comment.id }}' class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <div class="mb-1">
        <a href='user={{ comment.author.code }}' style='text-decoration: underline;'>
          {{ comment.author.name }}
        </a>
        {% if (comment.author == comment.project.owner) %}
          <div class='hoverable'>
            <i class="fa fa-circle" style='color:#FF5D00;'></i>
            <span class='tooltiptext'>Owner</span>
          </div>
        {% elif project.is_member(comment.author) %}
          <div class='hoverable'>
            <i class="fa fa-circle-thin" style='color:#FF5D00;'></i>
            <span class='tooltiptext'>Member</span>
          </div>
        {% endif %}
        {% if project.is_owner(current_user) %}
          <div class='pin {% if comment.pinned %}pinned{% endif %}' onclick='pin({{comment.project.id}}, {{ comment.id }});'>
            <i class="fa fa-thumb-tack" aria-hidden="true"></i>
          </div>
        {% endif %}
      </div>
      <small>{{ comment.timestamp | ago }}</small>
    </div>
    <p class="mb-1">{{ comment.text }}
      {% if g.current_user in [comment.author, comment.project.owner] %}
        <div class='hoverable'>
          <div class='delete-btn task-btn float-right' onclick="delete_comment({{comment.project.id}}, {{ comment.id }});">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
          </div>
          <span class='tooltiptext'>Delete Comment</span>
        </div>
      {% endif %}
    </p>
  </div>
{% endmacro -%}
