{% macro render_big_company_card(company) -%}
  <div class="card mb-2" style='border-color: orange;'>
    <div class="card-body">
      <div class='float-right info-nums'>
        {{ company.members.count() }}
        <i class='far fa-user-circle'></i>
        <br>
        <p id='starcount_{{ project.id }}'>
          {{ company.projects.count() }}
          <i class="fa fa-star"></i>
        </p>
      </div>
      <div class='card-head'>
        {{ company.name }}
      </div>
      <hr class="my-2">
      <!-- summary -->
      <div class='card-text'>
        <p style='color:#FF5D00; margin-bottom:0px;'>
          {{ company.oneliner }}
        </p>
        <p style='color:rgba(0,0,0,0.7);'>
          {{ company.summary }}
        </p>
      </div>
      <div class='card-foot float-left'>
        <div>
          {% for subject in company.subjects|reverse %}
            <a href='/subject={{ subject.code }}'>
              {% if loop.index>1 %}
              ,
              {% endif %}
              {{ render_subject_tag(subject) }}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endmacro -%}
