{% from 'macros/icon.html' import icon_types %}

{% macro render_big_company_card(company) -%}
  <div class="card mb-2">
    <div class="card-body">
      <div class='float-right info-nums'>
        {{ company.members.count() }}
        <i class='far fa-user-circle'></i>
        <br>
        <p>
          {{ company.projects.count() }}
          <i class="{{ icon_types['project'] }}" style='color:#FF5D00;'></i>
        </p>
      </div>
      <div class='card-head'>
        <a class='project-name' href='{{ company.get_url() }}'>
          <h5>
            {{ company.name }}
          </h5>
        </a>
      </div>
      <hr class="my-2">
      <!-- summary -->
      <div class='card-text'>
        <p style='color:#FF5D00; margin-bottom:0px;'>
          {{ company.oneliner }}
        </p>
        <p style='color:rgba(0,0,0,0.7);'>
          {{ company.summary }}
        </p>
      </div>
      <div class='card-foot float-left'>
        <div>
          {% for subject in company.subjects|reverse %}
            <a href='/subject={{ subject.code }}'>
              {% if loop.index>1 %}
              ,
              {% endif %}
              {{ render_subject_tag(subject) }}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endmacro -%}
