{% set category_maps = {
  1:['Repository', "fab fa-github", 'https://github.com/me/example'],
  2:['Communications', "fab fa-slack", 'https://example.slack.com/messages/channel'],
  3:['Drive', "fab fa-google", 'https://drive.google.com/drive/example'],
  4:['Management', "fas fa-tasks", 'https://app.asana.com/example']}
%}


{% macro render_add_link_card(link_form, name, icon, placeholder, project, public, category=0) -%}
  {% set cover_id = '{fname}_Cover'.format(fname=name) %}
  {% set input_id = '{fname}_Input'.format(fname=name) %}
  <div class='card mb-2'>
    <div class='card-body card-cover' id='{{ cover_id }}' onclick="toggleInput('{{ cover_id }}','{{ input_id }}')" style='color:black; text-align:center;'>
      <i class='{{ icon }} fa-2x'></i>
      <h5>Add {{ name }}</h5>
    </div>
    <div class='card-body' id='{{ input_id }}' style='color:black; text-align:center; display:none;'>
      <center><i class="{{ icon }}" style='display:inline;'></i></center>
      <form action="{{ url_for('project.add_link', project_id=project.id, public=public, category=category) }}" method='post'>
        {{ link_form.hidden_tag() }}
        {{ link_form.link(class='select-clean', placeholder=placeholder) }}
        <div class='float-right'>
          <div class='back-btn task-btn' style='border:0px; background:transparent; display:inline-block;' onclick="toggleInput('{{ cover_id }}','{{ input_id }}')">
            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
          </div>
          <button class='complete-btn task-btn float-right' type='submit' style='background:transparent;border:0px;margin-bottom:0px; display:inline-block;'>
              <i class="fa fa-check-circle" aria-hidden="true"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
{% endmacro -%}


{% macro render_project_link_card(link, project, is_owner) -%}
  <div class='card mb-2'>
    <div style='padding-right:20px; padding-top:5px; margin-bottom:0px; padding-bottom:0px;'>
      <a class='delete-btn task-btn float-right' style='background: transparent;'
        href="{{ url_for('project.remove_link', project_id=project.id, link_id=link.id) }}">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
      </a>
    </div>
    <div class='card-body' style='text-align:center; padding-top:0px;'>
      <style class="embedly-css">
        .card .action {
          color: #fa4b2a;
        }
      </style>
      <blockquote class="embedly-card" data-card-controls='0' data-card-key="1d5c48f7edc34c54bdae4c37b681ea2b">
        <h4>
          <a href="{{ link.url }}"></a>
        </h4>
        {% if link.has_description() %}
          <p>{{ link.description }}.</p>
        {% endif %}
      </blockquote>
    </div>
  </div>
{% endmacro -%}


{% macro render_private_link(link_form, category, project, is_owner) -%}
  {% set link = project.get_link_category(category) %}
  {% set name, icon, placeholder = category_maps[category] %}
  {% if link %}
    <div class='card mb-2'>
      <div style='padding-right:20px; padding-top:5px; margin-bottom:0px; padding-bottom:0px;'>
        <a class='delete-btn task-btn float-right' style='background: transparent;'
          href="{{ url_for('project.remove_link', project_id=project.id, link_id=link.id) }}">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
      </div>
      <div class='card-body' style='text-align:center; padding-top:0px;'>
        <i class='{{ icon }} fa-2x'></i>
        <a href='{{ link.url }}' style='color:#5D00FF;'><h6>{{ link.url }}</h6></a>
      </div>
    </div>
  {% elif is_owner %}
    {{ render_add_link_card(link_form, name, icon, placeholder, project, 0, category) }}
  {% endif %}
{% endmacro -%}
