{% from 'macros/badges.html' import render_badge_icon %}

<!-- PROJECTS -->
{% macro render_project_name(project, user) -%}
{% if user.is_authenticated %}
  <a class='project-name' href='project={{ project.code }}'>
{% else %}
  <a class='project-name' href='/login'>
{% endif %}
  <h5>
    {{ project.name }}
    {% if project.complete %}
      <i class="fa fa-check-circle" aria-hidden="true" style='color:#00FF5D;'></i>
    {% elif not project.open %}
      <i class="fa fa-lock" aria-hidden="true" style='color:#F4D510;'></i>
    {% elif project.recently_active() %}
      <i class="fa fa-circle" aria-hidden="true" style='color:#00FF5D;'></i>
    {% endif %}
  </h5>
</a>
{% endmacro -%}


{% macro render_share_button(obj, type) -%}
  {% set base_url = "http://theprojectproject.io/{type}={code}".format(type=type, code=obj.code) %}
  <div class='hoverable'>
    <i class="fa fa-share-alt" aria-hidden="false"></i>
    <span class='tooltiptext'>
      <!-- twitter -->
      <!-- <a class="twitter-share-button"
          href="https://twitter.com/share?url={{ base_url }}"
          data-size="large">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a> -->
      <!-- facebook -->
      <!-- <a class="facebook-share-button"
        href="https://www.facebook.com/sharer/sharer.php?u={{ base_url }}" target="_blank">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </a> -->
      <!-- linkedin -->
      <!-- <a class="linkedin-share-button"
          href="https://www.linkedin.com/sharing/share-offsite/?url={{ base_url }}"
          target="_blank">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </a> -->
      <!-- email -->
      <a class="email-share-button"
          href="mailto:?subject={{ obj.name }} on TheProjectProject&body=Check out {{ obj.name }} on TheProjectProject:%0D%0A{{ base_url }}">
          <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
    </span>
  </div>
{% endmacro -%}


{% macro render_big_project_card(project) -%}
<div class="col-md-4">
  <div class="card mb-2">
    <div class="card-body">
      <div class='float-right info-nums'>
        {{ project.members.all()|length }} / {{ project.team_size }}
        <i class='far fa-user-circle'></i>
        <br>
        {{ project.stars.all()|length }}
        <i class="fa fa-star"></i>
      </div>
      <div class='card-head'>
        {{ render_project_name(project, g.current_user) }}
        <a href='user={{ project.owner.code }}'>
          <p class='owner'>
            {{ project.owner.name }}
            {% set badge = project.owner.choose_badge('project') %}
            {% if badge %}
              {{ render_badge_icon(badge) }}
            {% endif %}
          </p>
        </a>
      </div>
      <hr class="my-4">
      <!-- summary -->
      <div class='card-text'>
        <p class='oneliner'>
          {{ project.oneliner }}
        </p>
        <p style='color:rgba(0,0,0,0.7);'>{{ project.summary }}</p>
      </div>
      <div class='card-foot float-left'>
        <p style="padding-bottom:0px; margin-bottom:0px;">
          <i class="fa fa-clock-o"></i>
          {{ calc_days_since(g.now(), project.posted_on) }} / {{ project.estimated_time }}
          days
        </p>
        <div>
          {% for subject in project.subjects|reverse %}
            <a href='/subject={{ subject.code }}'>
              {% if loop.index>1 %}
              ,
              {% endif %}
              <p class='subject-tag' style='background:{{ subject.color }};'>
                {{ subject.name }}
              </p>
            </a>
          {% endfor %}
        </div>
      </div>
      {% if g.current_user.is_authenticated %}
        <br><br>
        <hr class="my-4">
        <div class='action-bar'>
          {% if g.current_user in project.stars %}
            <a href="{{ url_for('project.like_action', project_id=project.id, action='unlike') }}">
              <i class="fa fa-star"></i>
            </a>
          {% else %}
            <a href="{{ url_for('project.like_action', project_id=project.id, action='like') }}">
              <i class="fa fa-star-o"></i>
            </a>
          {% endif %}
          &nbsp;
          {% if not g.current_user in project.members %}
            {% if g.current_user.has_applied(project) %}
              <button type="button" class="btn" disabled>
                  Pending
              </button>
            {% elif project.complete==True %}
              <button type="button" class="btn" disabled>
                Complete
              </button>
            {% elif project.open==False %}
              <button type="button" class="btn" disabled>
                Closed
              </button>
            {% elif project in g.current_user.invitations %}
              <button type="button" class="btn" data-toggle="modal" data-target="#modal_project_{{ project.id }}">
                Respond
              </button>
            {% else %}
              <button type="button" class="btn" data-toggle="modal" data-target="#modal_project_{{ project.id }}">
                Join
              </button>
            {% endif %}
          {% else %}
            <button type="button" class="btn" data-toggle="modal" data-target="#modal_project_{{ project.id }}">
                Leave
            </button>
          {% endif %}
          &nbsp;
          {{ render_share_button(project, 'project') }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
{%- endmacro %}


{% macro render_mid_project_card(project) -%}
<div class="col-md-4">
  <div class="card mb-2">
    <div class="card-body">
      <p class="float-right info-nums">
        {{ project.members.all()|length  }}
        <i class='far fa-user-circle'></i>
        <br>
        {{ project.stars.all()|length }}
        <i class="fa fa-star"></i>
      </p>
      <div class='card-head little'>
        {{ render_project_name(project, g.current_user) }}
        <a href='user={{ project.owner.code }}'>
          <p class='owner'>
            {{ project.owner.name }}
            {% set badge = project.owner.choose_badge('project') %}
            {% if badge %}
              {{ render_badge_icon(badge) }}
            {% endif %}
          </p>
        </a>
      </div>
      <p class='oneliner'>
        {{ project.oneliner }}
      </p>
    </div>
  </div>
</div>
{% endmacro -%}



{% macro render_small_project_card(project) -%}
<div class="col-md-4">
  <div class="card mb-2">
    <div class="card-body">
      <div class='float-right'>
        {% if g.current_user==project.owner %}
          {% set pending = project.pending.all()|length %}
          {{ pending }}
          {% if pending>0 %}
            <i class="fa fa-bell" aria-hidden="true"></i>
          {% else %}
            <i class="fa fa-bell-o" aria-hidden="true"></i>
          {% endif %}
          <br>
        {% endif %}
        {{ project.stars.all()|length }}
        <i class="fa fa-star"></i>
      </div>
      <div class='card-head tiny'>
        {{ render_project_name(project, g.current_user) }}
      </div>
      <!-- summary -->
      <p class='oneliner'>
        {{ project.oneliner }}
      </p>
    </div>
  </div>
</div>
{% endmacro -%}
