{% from 'macros/cards/badge.html' import render_badge_icon %}
{% from 'macros/cards/components.html' import render_share_button %}

<!-- PROJECTS -->
{% macro render_project_name(project, user) -%}
  {% if user.is_authenticated %}
    <a class='project-name' href='project={{ project.code }}'>
  {% else %}
    <a class='project-name' href='/login'>
  {% endif %}
    <h5>
      {{ project.name }}
      {% if project.complete %}
        <i class="fa fa-check-circle" aria-hidden="true" style='color:#00FF5D;'></i>
      {% elif not project.open %}
        <i class="fa fa-lock" aria-hidden="true" style='color:#F4D510;'></i>
      {% elif project.recently_active() %}
        <i class="fa fa-circle" aria-hidden="true" style='color:#00FF5D;'></i>
      {% endif %}
      {% if project.competition %}
        <i class="fa fa-trophy" aria-hidden="true" style='color:gold;'></i>
      {% endif %}
    </h5>
  </a>
{% endmacro -%}


{% macro render_project_action_bar(project) -%}
  {% if g.current_user.is_authenticated %}
    {% set star_id = 'star_{project_id}'.format(project_id=project.id) %}
    {% set count_id = 'starcount_{project_id}'.format(project_id=project.id) %}
    {% set url = url_for('project.like_action', project_id=project.id) %}
    <div class='action-bar'>
      <a onclick="toggleStar({{ project.id }}, '{{ url }}', '{{ star_id }}', '{{ count_id }}')">
        {% if g.current_user.has_starred(project) %}
          <i id='{{ star_id }}' class="fa fa-star"></i>
        {% else %}
          <i id='{{ star_id }}' class="fa fa-star-o"></i>
        {% endif %}
      </a>
      &nbsp;
      {% if not g.current_user in project.members %}
        {% if g.current_user.has_applied(project) %}
          <button type="button" class="btn" disabled>
              Pending
          </button>
        {% elif project.complete==True %}
          <button type="button" class="btn" disabled>
            Complete
          </button>
        {% elif project.open==False %}
          <button type="button" class="btn" disabled>
            Closed
          </button>
        {% elif project in g.current_user.invitations %}
          <button type="button" class="btn" data-toggle="modal" data-target="#modal_project_{{ project.id }}">
            Respond
          </button>
          {{ render_join_modal(project) }}
        {% else %}
          <button type="button" class="btn" data-toggle="modal" data-target="#modal_project_{{ project.id }}">
            Join
          </button>
          {{ render_join_modal(project) }}
        {% endif %}
      {% else %}
        <button type="button" class="btn" data-toggle="modal" data-target="#modal_project_{{ project.id }}">
            Leave
        </button>
        {{ render_join_modal(project) }}
      {% endif %}
      &nbsp;
      {{ render_share_button(project, 'project') }}
    </div>
  {% endif %}
{% endmacro -%}


{% macro render_project_invitation_bar(project) -%}
  <div class='action-bar'>
    <a class='float-left' href="{{ url_for('user.reject_collaboration', project_id=project.id) }}">
      <button class='btn'>Reject</button>
    </a>
    <a class='float-right' href="{{ url_for('user.accept_collaboration', project_id=project.id) }}">
      <button class='btn'>Accept</button>
    </a>
  </div>
{% endmacro -%}


{% macro render_big_project_card(project, render_action_bar_fn=render_project_action_bar) -%}
<div class="col-md-4">
  <div class="card mb-2">
    <div class="card-body">
      <div class='float-right info-nums'>
        {{ project.members.all()|length }} / {{ project.team_size }}
        <i class='far fa-user-circle'></i>
        <br>
        <p id='starcount_{{ project.id }}'>{{ project.stars.all()|length }} <i class="fa fa-star"></i></p>
      </div>
      <div class='card-head'>
        {{ render_project_name(project, g.current_user) }}
        <a href='user={{ project.owner.code }}'>
          <p class='owner'>
            {{ project.owner.name }}
            {% set badge = project.owner.choose_badge('project') %}
            {% if badge %}
              {{ render_badge_icon(badge) }}
            {% endif %}
          </p>
        </a>
      </div>
      <hr class="my-4">
      <!-- summary -->
      <div class='card-text'>
        <p class='oneliner'>
          {{ project.oneliner }}
        </p>
        <p style='color:rgba(0,0,0,0.7);'>{{ project.summary }}</p>
      </div>
      <div class='card-foot float-left'>
        {% if project.estimated_time %}
          <p style="padding-bottom:0px; margin-bottom:0px;">
            <i class="fa fa-clock-o"></i>
            {{ calc_days_since(g.now(), project.posted_on) }} / {{ project.estimated_time }}
            days
          </p>
        {% endif %}
        <div>
          {% for subject in project.subjects|reverse %}
            <a href='/subject={{ subject.code }}'>
              {% if loop.index>1 %}
              ,
              {% endif %}
              <p class='subject-tag' style='background:{{ subject.color }};'>
                {{ subject.name }}
              </p>
            </a>
          {% endfor %}
        </div>
      </div>
      {% if g.current_user.is_authenticated %}
        <br><br>
        <hr class="my-4">
        {{ render_action_bar_fn(project) }}
      {% endif %}
    </div>
  </div>
</div>
{%- endmacro %}


{% macro render_mid_project_card(project) -%}
<div class="col-md-4">
  <div class="card mb-2">
    <div class="card-body">
      <p class="float-right info-nums">
        {{ project.members.all()|length  }}
        <i class='far fa-user-circle'></i>
        <br>
        {{ project.stars.all()|length }}
        <i class="fa fa-star"></i>
      </p>
      <div class='card-head little'>
        {{ render_project_name(project, g.current_user) }}
        <a href='user={{ project.owner.code }}'>
          <p class='owner'>
            {{ project.owner.name }}
            {% set badge = project.owner.choose_badge('project') %}
            {% if badge %}
              {{ render_badge_icon(badge) }}
            {% endif %}
          </p>
        </a>
      </div>
      <p class='oneliner'>
        {{ project.oneliner }}
      </p>
    </div>
  </div>
</div>
{% endmacro -%}


{% macro render_small_project_card(project) -%}
<div class="col-md-4">
  <div class="card mb-2">
    <div class="card-body">
      <div class='float-right'>
        {% if g.current_user==project.owner %}
          {% set pending = project.pending.all()|length %}
          {{ pending }}
          {% if pending>0 %}
            <i class="fa fa-bell" aria-hidden="true"></i>
          {% else %}
            <i class="fa fa-bell-o" aria-hidden="true"></i>
          {% endif %}
          <br>
        {% endif %}
        {{ project.stars.all()|length }}
        <i class="fa fa-star"></i>
      </div>
      <div class='card-head tiny'>
        {{ render_project_name(project, g.current_user) }}
      </div>
      <!-- summary -->
      <p class='oneliner'>
        {{ project.oneliner }}
      </p>
    </div>
  </div>
</div>
{% endmacro -%}


{% macro render_project_invitation_card(project) %}
  {{ render_big_project_card(project, render_project_invitation_bar) }}
{% endmacro -%}


<!-- MODALS -->
{% macro render_join_modal(project) -%}
{% set modal_id = "modal_project_{project_id}".format(project_id=project.id) %}
<div id='{{ modal_id }}' class="modal fade" role="dialog" style='z-index:9999;'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href='/project={{ project.code }}' style='color:black;'>
          <h5>{{ project.name }}</h5>
        </a>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
    {% if project in g.current_user.invitations %}
      <div class="modal-body">
          You have been invited to join <a href='/project={{ project.code }}'>{{ project.name }}</a>.
          Accept below to join!
      </div>
      <div class="modal-footer">
        <a class='delete-btn task-btn float-left'
        style='background: transparent;'
        href="{{ url_for('user.reject_collaboration', project_id=project.id) }}">
          <button class='btn'>Decline</button>
        </a>
        <a class='complete-btn task-btn float-right'
            style='background: transparent;'
            href="{{ url_for('user.accept_collaboration', project_id=project.id) }}">
          <button class='btn'>Accept</button>
        </a>

      </div>
    {% elif not g.current_user in project.members %}
      <form action="{{ url_for('project.join_project', project_id=project.id) }}" method='post'>
        {{ g.project_application.hidden_tag() }}
        <div class="modal-body">
          {% if project.requires_application %}
            <p>"{{ project.application_question }}"</p>
              {{ g.project_application.response(class='join-input', placeholder='Response', required=True) }}
          {% else %}
            <p>Welcome to {{ project.name }}! Click to join.</p>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button class='btn'>Join</button>
        </div>
      </form>
    {% else %}
      <form action="{{ url_for('project.leave_project', project_id=project.id) }}" method='post'>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="modal-body">
            {% if project.owner==g.current_user %}
              {% if project.members.all()|length>1 %}
                <p style='color:red;'>
                  WARNING: To leave {{ project.name }}, you will have to transfer
                  all control of the project. You may be unable to join again.
                </p>
                <label for="new_owner">Select new project owner to leave:</label>
                <br>
                <select name="new_owner" id="new_owner" class='select-clean'>
                  {% for member in project.members %}
                    {% if not member==project.owner %}
                      <option value="{{ member.id }}">{{ member.name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              {% else %}
                <p style='color:red;'>
                  WARNING: If you leave {{ project.name }}, there will be no
                  members left and the project will be deleted. Are you sure
                  you want to leave?
                </p>
              {% endif %}
            {% elif project.complete==True %}
              <p style='color:red;'>
                WARNING: {{ project.name }} has been marked as complete. If you
                leave you will not be able to join again unless this status is
                changed. Are you sure you want to leave?
              </p>
            {% elif project.open==False %}
              <p style='color:red;'>
                WARNING: {{ project.name }} has been marked as closed. If you
                leave you will not be able to join again unless this status is
                changed. Are you sure you want to leave?
              </p>
            {% elif project.requires_application==True %}
              <p style='color:red;'>
                WARNING: If you leave {{ project.name }}, you will have to
                apply to join again. Are you sure you want to leave?</p>
            {% else %}
              <p>Are you sure you want to leave {{ project.name }}?</p>
            {% endif %}
          </div>
          <div class="modal-footer">
            <button class='btn'>Leave</button>
          </div>
        </form>
    {% endif %}
    </div>
  </div>
</div>
<script>
  $('#{{ modal_id }}').appendTo('body');
</script>
{%- endmacro %}


{% macro render_edit_project_modal(project, edit_form) -%}
<div id="edit_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h5>Edit {{ project.name }}</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      {% if project.complete==False %}
        <form id='editForm' method='post'>
          <div class="modal-body">
            <!-- token -->
            {{ edit_form.csrf_token }}
            <!-- DESCRIPTION -->
            <center>
              <h6 style='text-decoration:underline;'>Description</h6>
            </center>
            <!-- name -->
            {{ edit_form.name.label }}:<br>
            {{ edit_form.name(class='edit-input', value=project.name) }}
            {% if edit_form.name.errors %}
              <p class='warning'>{{ edit_form.name.errors[0] }}</p>
            {% endif %}
            <hr class='my-2'><br>
            <!-- oneliner -->
            {{ edit_form.oneliner.label }}:<br>
            {{ edit_form.oneliner(class='edit-input', value=project.oneliner) }}
            {% if edit_form.oneliner.errors %}
              <p class='warning'>{{ edit_form.oneliner.errors[0] }}</p>
            {% endif %}
            <hr class='my-2'><br>
            <!-- summary -->
            {{ edit_form.summary.label }}:<br>
            {{ edit_form.summary(class='edit-input', value=project.summary) }}
            {% if edit_form.summary.errors %}
              <p class='warning'>{{ edit_form.summary.errors[0] }}</p>
            {% endif %}
            <hr class='my-2'><br>
            <!-- MANAGEMENT -->
            <center>
              <h6 style='text-decoration:underline;'>Management</h6>
            </center>
            <div class='row' style='text-align:center;'>
              <div class='col'>
                <span>
                  Team Size:<br>
                  <i class='far fa-user-circle'></i>
                  {{ project.members.all()|length }} /
                  <input type='number' step=1 min='{{ project.members.all()|length }}'
                      max='{{ edit_form.team_size.render_kw["max"] }}' value="{{ project.team_size }}"
                      name='{{ edit_form.team_size.name }}'/>
                </span>
              </div>
              <div class='col'>
                <span>
                  Estimated Time:<br>
                  <i class="fa fa-clock-o"></i>
                  {{ project.elasped() }} /
                  <input type='number' step=1 min='{{ project.elasped() }}'
                      max='{{ project.elasped() + edit_form.estimated_time.render_kw["max"] }}'
                      value="{{ project.estimated_time }}"
                      name='{{ edit_form.estimated_time.name }}'></input>
                </span>
              </div>
            </div>
            <br>
            <hr class='my-2'><br>
            <!-- ACTIONS -->
            <center>
              <h6 style='text-decoration:underline;'>Actions</h6>
            </center>
            <div class='row' style='text-align:center;'>
              <div class='col'>
                <button type='button' data-toggle='modal' data-target='#complete_modal' class='btn'>
                  Complete
                </button>
              </div>
              <div class='col'>
                <button type='button' data-toggle='modal' data-target='#open_modal' class='btn'>
                  {% if project.open %}
                    Close
                  {% else %}
                    Open
                  {% endif %}
                </button>
              </div>
              <div class='col'>
                {% if project.open %}
                  <button type='button' data-toggle='modal' data-target='#requires_application_modal' class='btn'>
                {% else %}
                  <button type='button' data-toggle='modal' data-target='#requires_application_modal' class='btn' disabled>
                {% endif %}
                    Edit App.
                  </button>
              </div>
            </div>
          </div>
          <div class="modal-footer row m-3">
            <button type='button' data-toggle='modal' data-target='#modal_project_{{ project.id }}' class='btn delete-btn col float-left'>
              Leave Project
            </button>
            <button class='btn col'>Change</button>
          </div>
        </form>
      {% else %}
        <form action="{{ url_for('project.uncomplete_project', project_id=project.id) }}" method='post'>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="modal-body">
            <button class='btn col'>
              Mark Incomplete
            </button>
          </div>
        </form>
      {% endif %}
    </div>
  </div>
</div>
{% endmacro -%}


{% macro render_complete_modal(project) -%}
<div id="complete_modal" class="modal fade" role="dialog" style='z-index:9999;'>
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h5>Complete {{ project.name }}</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form action="{{ url_for('project.complete_project', project_id=project.id) }}" method='post'>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="modal-body">
          <p>
            Congratulations on completing {{ project.name }}! In light of your
            amazing work, we may want to share your project on TheProjectProject's
            social media or put you in touch with funding/award opportunities.
            We will reach out to ask permission if this is the case. You will be
            able to edit the completed setting should you want to work more on
            {{ project.name }} later.
          </p>
        </div>
        <div class="modal-footer">
          <button class='btn' id='complete-btn'>Complete</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endmacro -%}


{% macro render_open_modal(project) -%}
<div id="open_modal" class="modal fade" role="dialog" style='z-index:9997;'>
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        {% if project.open %}
          <h5>Close {{ project.name }}</h5>
          {% set action = 'close' %}
        {% else %}
          <h5>Open {{ project.name }}</h5>
          {% set action = 'open' %}
        {% endif %}
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form action="{{ url_for('project.change_project_open', project_id=project.id, action=action) }}" method='post'>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="modal-body">
          <p>
            {% if project.open %}
              You are tyring to close {{ project.name }}. This will not
              remove current members, but will prevent other members from joining
              and will hide {{ project.name }} from other's recommended feed.
            {% else %}
              You are trying to open {{ project.name }}. This will allow other users
              to see the project in their recommended feed and apply. To edit application
              settings, please check the "Edit App" button.
            {% endif %}
          </p>
        </div>
        <div class="modal-footer">
          <button class='btn'>
            {% if project.open %}
              Close Project
            {% else %}
              Open Project
            {% endif %}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endmacro -%}


{% macro render_requires_application_modal(project, edit_application_form) -%}
<div id="requires_application_modal" class="modal fade" role="dialog" style='z-index:9997;'>
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        {% if project.requires_application %}
          <h5>Edit Application: {{ project.name }}</h5>
          {% set action = 'edit' %}
        {% else %}
          <h5>Add Application: {{ project.name }}</h5>
          {% set action = 'add' %}
        {% endif %}
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form action="{{ url_for('project.add_application', project_id=project.id) }}" method='post'>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="modal-body">
            {% if action=='add' %}
              <p>
              You are trying to add an application to {{ project.name }}. This
              will require applicants to respond to your application question
              and allow you to choose who can join the project. You can edit this
              in the project settings.
              </p>
              <br>
            {% endif %}
            <p>Application Question</p>
            {{ edit_application_form.csrf_token()  }}
            {{ edit_application_form.application_question(class='join-input', value=project.application_question, required=True) }}
            <br>
            {% if action=='edit' %}
              <small style='color:red;'>
                WARNING: If you remove the application, pending users will
                automatically be accepted.
              </small>
            {% endif %}
        </div>
        <div class="modal-footer">
          {% if action!='add' %}
            <button type='submit' formaction="{{ url_for('project.remove_application_requirement', project_id=project.id) }}" class='btn delete-btn col'>
              Remove Application
            </button>
          {% endif %}
          <button class='btn col'>
            {% if action=='add' %}
              Add
            {% else %}
              Edit
            {% endif %}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endmacro -%}
