{% from 'macros/cards/badge.html' import render_badge_icon %}
{% from 'macros/cards/components.html' import render_share_button %}

<!-- PROJECTS -->
{% macro render_project_name(project, user) -%}
  {% if user.is_authenticated %}
    <a class='project-name' href='project={{ project.code }}'>
  {% else %}
    <a class='project-name' href='/login'>
  {% endif %}
    <h5>
      {{ project.name }}
      {% if project.complete %}
        <i class="fa fa-check-circle" aria-hidden="true" style='color:#00FF5D;'></i>
      {% elif not project.open %}
        <i class="fa fa-lock" aria-hidden="true" style='color:#F4D510;'></i>
      {% elif project.recently_active() %}
        <i class="fa fa-circle" aria-hidden="true" style='color:#00FF5D;'></i>
      {% endif %}
    </h5>
  </a>
{% endmacro -%}


{% macro render_project_action_bar(project) -%}
  <div class='action-bar'>
    {% if g.current_user in project.stars %}
      <a href="{{ url_for('project.like_action', project_id=project.id, action='unlike') }}">
        <i class="fa fa-star"></i>
      </a>
    {% else %}
      <a href="{{ url_for('project.like_action', project_id=project.id, action='like') }}">
        <i class="fa fa-star-o"></i>
      </a>
    {% endif %}
    &nbsp;
    {% if not g.current_user in project.members %}
      {% if g.current_user.has_applied(project) %}
        <button type="button" class="btn" disabled>
            Pending
        </button>
      {% elif project.complete==True %}
        <button type="button" class="btn" disabled>
          Complete
        </button>
      {% elif project.open==False %}
        <button type="button" class="btn" disabled>
          Closed
        </button>
      {% elif project in g.current_user.invitations %}
        <button type="button" class="btn" data-toggle="modal" data-target="#modal_project_{{ project.id }}">
          Respond
        </button>
        {{ render_join_modal(project) }}
      {% else %}
        <button type="button" class="btn" data-toggle="modal" data-target="#modal_project_{{ project.id }}">
          Join
        </button>
        {{ render_join_modal(project) }}
      {% endif %}
    {% else %}
      <button type="button" class="btn" data-toggle="modal" data-target="#modal_project_{{ project.id }}">
          Leave
      </button>
      {{ render_join_modal(project) }}
    {% endif %}
    &nbsp;
    {{ render_share_button(project, 'project') }}
  </div>
{% endmacro -%}


{% macro render_big_project_card(project) -%}
<div class="col-md-4">
  <div class="card mb-2">
    <div class="card-body">
      <div class='float-right info-nums'>
        {{ project.members.all()|length }} / {{ project.team_size }}
        <i class='far fa-user-circle'></i>
        <br>
        {{ project.stars.all()|length }}
        <i class="fa fa-star"></i>
      </div>
      <div class='card-head'>
        {{ render_project_name(project, g.current_user) }}
        <a href='user={{ project.owner.code }}'>
          <p class='owner'>
            {{ project.owner.name }}
            {% set badge = project.owner.choose_badge('project') %}
            {% if badge %}
              {{ render_badge_icon(badge) }}
            {% endif %}
          </p>
        </a>
      </div>
      <hr class="my-4">
      <!-- summary -->
      <div class='card-text'>
        <p class='oneliner'>
          {{ project.oneliner }}
        </p>
        <p style='color:rgba(0,0,0,0.7);'>{{ project.summary }}</p>
      </div>
      <div class='card-foot float-left'>
        <p style="padding-bottom:0px; margin-bottom:0px;">
          <i class="fa fa-clock-o"></i>
          {{ calc_days_since(g.now(), project.posted_on) }} / {{ project.estimated_time }}
          days
        </p>
        <div>
          {% for subject in project.subjects|reverse %}
            <a href='/subject={{ subject.code }}'>
              {% if loop.index>1 %}
              ,
              {% endif %}
              <p class='subject-tag' style='background:{{ subject.color }};'>
                {{ subject.name }}
              </p>
            </a>
          {% endfor %}
        </div>
      </div>
      {% if g.current_user.is_authenticated %}
        <br><br>
        <hr class="my-4">
        {{ render_project_action_bar(project) }}
      {% endif %}
    </div>
  </div>
</div>
{%- endmacro %}


{% macro render_mid_project_card(project) -%}
<div class="col-md-4">
  <div class="card mb-2">
    <div class="card-body">
      <p class="float-right info-nums">
        {{ project.members.all()|length  }}
        <i class='far fa-user-circle'></i>
        <br>
        {{ project.stars.all()|length }}
        <i class="fa fa-star"></i>
      </p>
      <div class='card-head little'>
        {{ render_project_name(project, g.current_user) }}
        <a href='user={{ project.owner.code }}'>
          <p class='owner'>
            {{ project.owner.name }}
            {% set badge = project.owner.choose_badge('project') %}
            {% if badge %}
              {{ render_badge_icon(badge) }}
            {% endif %}
          </p>
        </a>
      </div>
      <p class='oneliner'>
        {{ project.oneliner }}
      </p>
    </div>
  </div>
</div>
{% endmacro -%}



{% macro render_small_project_card(project) -%}
<div class="col-md-4">
  <div class="card mb-2">
    <div class="card-body">
      <div class='float-right'>
        {% if g.current_user==project.owner %}
          {% set pending = project.pending.all()|length %}
          {{ pending }}
          {% if pending>0 %}
            <i class="fa fa-bell" aria-hidden="true"></i>
          {% else %}
            <i class="fa fa-bell-o" aria-hidden="true"></i>
          {% endif %}
          <br>
        {% endif %}
        {{ project.stars.all()|length }}
        <i class="fa fa-star"></i>
      </div>
      <div class='card-head tiny'>
        {{ render_project_name(project, g.current_user) }}
      </div>
      <!-- summary -->
      <p class='oneliner'>
        {{ project.oneliner }}
      </p>
    </div>
  </div>
</div>
{% endmacro -%}


<!-- MODALS -->
{% macro render_join_modal(project) -%}
{% set modal_id = "modal_project_{project_id}".format(project_id=project.id) %}
<div id='{{ modal_id }}' class="modal fade" role="dialog" style='z-index:9999;'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href='/project={{ project.code }}' style='color:black;'>
          <h5>{{ project.name }}</h5>
        </a>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
    {% if project in g.current_user.invitations %}
      <div class="modal-body">
          You have been invited to join <a href='/project={{ project.code }}'>{{ project.name }}</a>.
          Accept below to join!
      </div>
      <div class="modal-footer">
        <a class='delete-btn task-btn float-left'
        style='background: transparent;'
        href="{{ url_for('user.reject_collaboration', project_id=project.id) }}">
          <button class='btn'>Decline</button>
        </a>
        <a class='complete-btn task-btn float-right'
            style='background: transparent;'
            href="{{ url_for('user.accept_collaboration', project_id=project.id) }}">
          <button class='btn'>Accept</button>
        </a>

      </div>
    {% elif not g.current_user in project.members %}
      <form action="{{ url_for('project.join_project', project_id=project.id) }}" method='post'>
        {{ g.project_application.hidden_tag() }}
        <div class="modal-body">
          {% if project.requires_application %}
            <p>"{{ project.application_question }}"</p>
              {{ g.project_application.response(class='join-input', placeholder='Response', required=True) }}
          {% else %}
            <p>Welcome to {{ project.name }}! Click to join.</p>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button class='btn'>Join</button>
        </div>
      </form>
    {% else %}
      <form action="{{ url_for('project.leave_project', project_id=project.id) }}" method='post'>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="modal-body">
            {% if project.owner==g.current_user %}
              {% if project.members.all()|length>1 %}
                <p style='color:red;'>
                  WARNING: To leave {{ project.name }}, you will have to transfer
                  all control of the project. You may be unable to join again.
                </p>
                <label for="new_owner">Select new project owner to leave:</label>
                <br>
                <select name="new_owner" id="new_owner" class='select-clean'>
                  {% for member in project.members %}
                    {% if not member==project.owner %}
                      <option value="{{ member.id }}">{{ member.name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              {% else %}
                <p style='color:red;'>
                  WARNING: If you leave {{ project.name }}, there will be no
                  members left and the project will be deleted. Are you sure
                  you want to leave?
                </p>
              {% endif %}
            {% elif project.complete==True %}
              <p style='color:red;'>
                WARNING: {{ project.name }} has been marked as complete. If you
                leave you will not be able to join again unless this status is
                changed. Are you sure you want to leave?
              </p>
            {% elif project.open==False %}
              <p style='color:red;'>
                WARNING: {{ project.name }} has been marked as closed. If you
                leave you will not be able to join again unless this status is
                changed. Are you sure you want to leave?
              </p>
            {% elif project.requires_application==True %}
              <p style='color:red;'>
                WARNING: If you leave {{ project.name }}, you will have to
                apply to join again. Are you sure you want to leave?</p>
            {% else %}
              <p>Are you sure you want to leave {{ project.name }}?</p>
            {% endif %}
          </div>
          <div class="modal-footer">
            <button class='btn'>Leave</button>
          </div>
        </form>
    {% endif %}
    </div>
  </div>
</div>
<script>
  $('#{{ modal_id }}').appendTo('body');
</script>
{%- endmacro %}
