{% macro render_add_question_card(project_id) -%}
  {% set cover_id = 'Question_Cover'.format(fname=name) %}
  {% set input_id = 'Question_Input'.format(fname=name) %}
  <div id='ask-question-card' class='card mb-2'>
    <div class='card-body card-cover' id='{{ cover_id }}' onclick="toggleInput('{{ cover_id }}','{{ input_id }}')" style='color:black; text-align:center;'>
      <i class="fas fa-question-circle fa-2x"></i>
      <h5>Add A Question</h5>
    </div>
    <div class='card-body' id='{{ input_id }}' style='color:black; text-align:center; display:none;'>
      <center><i class="fas fa-question-circle" style='display:inline;'></i></center>
      <form id='ask-question-form'>
        <label for="question">Question:</label>
        <input id='ask-question-form-question' type="text" name="question" list="question_suggestions" class='select-clean'
          required>
        <datalist id="question_suggestions">
          {% for question in g.project.suggest_questions() %}
            <option value='{{ question }}'>
          {% endfor %}
        </datalist>
        <br><br>
        {% if g.project.is_member(g.current_user) %}
          <label for="answer">Answer:</label>
          <input id='ask-question-form-answer' type='text' name='answer' class='select-clean'></input>
        {% endif %}
        <div class='float-right'>
          <button class='complete-btn task-btn float-right' type='submit' style='background:transparent;border:0px;margin-bottom:0px; display:inline-block;'>
              <i class="fa fa-check-circle" aria-hidden="true"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- listener for form submit todo: move to cardbox.js -->
  <script>
    ask_form = document.getElementById('ask-question-form');
    ask_form.addEventListener('submit', function (e) {
      url = Flask.url_for(
              'project.add_question',
              {'project_id'    :   String('{{ project.id }}')}
      );
      ask_form = document.getElementById('ask-question-form');
      question = document.getElementById('ask-question-form-question');
      answer = document.getElementById('ask-question-form-answer');
      // json question only if no answer else both
      if (answer==null) {
        data = JSON.stringify({'question' : question.value});
      }
      else {
        data = JSON.stringify({
          'question'  :   question.value,
          'answer'    :   answer.value
        });
      }
      // submit ajax
      $.ajax({
        type        :     'POST',
        url         :     url,
        dataType    :     'json',
        contentType :     'application/json',
        data        :     data
      }).done(
        function (payload) {
          if (payload['success']==true) {
            // WARNING: relies on questions in cardbox with postfix=questions
            question_list = document.getElementById('cardbox-list-questions');
            question_list.innerHTML += payload['html'];
            question.value = '';
            answer.value = '';
          } else {
            document.getElementById('ask-question-card').style['border-color'] = 'red';
          }
        }
      );
      // prevent default submission
      e.preventDefault();
    });
  </script>
{% endmacro -%}


{% macro render_question_card(question, project='detect') -%}
  {% if project=='detect' %}
    {% set project = question.project %}
  {% endif %}
  {% set border_style = 'red' if not question.answer else 'green' %}
  <div id='question-{{ question.id }}' class='card mb-2' style='border-color: {{ border_style }};'>
    <div class='card-body'>
      <div class='card-head'>
        <p style='padding-bottom:1px;'>
          {{ question.question }}
        </p>
      </div>
      {% if not project.is_member(g.current_user) %}
        <p style='margin-bottom:0px;'>
          {% if question.answer %}
            {{ question.answer }}
          {% else %}
            Project members haven't answered this yet.
          {% endif %}
        </p>
      {% else %}
        <form id='answerform-{{ question.id }}' style='margin-bottom:0px;'>
            {% if question.answer %}
              <input style='margin-bottom:0px;' name='answer' class='select-clean' value='{{ question.answer }}' onfocus="document.getElementById('question-{{ question.id }}').style['border-color'] = 'blue';">
            {% else %}
              <input style='margin-bottom:0px;' name='answer' class='select-clean' placeholder='Write your answer here...'>
            {% endif %}
          </input>
          <div class='float-right'>
            <div class='delete-btn task-btn'
                style='background: transparent; display: inline-block;'
                onclick="delete_question('{{ project.id }}', '{{ question.id }}')">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </div>
            <button class='complete-btn task-btn float-right' type='submit' style='background:transparent;border:0px;margin-bottom:0px;'>
                <i class="fa fa-check-circle" aria-hidden="true"></i>
            </button>
          </div>
        </form>
        <script>
          answer_form = document.getElementById('answerform-{{ question.id }}');
          answer_form.addEventListener('submit', function (e) {
            url = Flask.url_for(
                    'project.edit_answer',
                    {
                      'project_id'    :   String('{{ project.id }}'),
                      'question_id'   :   String('{{ question.id }}')
                    }
            );
            answer = document.getElementById('answerform-{{ question.id }}').getElementsByTagName('input')[0];
            data = JSON.stringify({'answer' : answer.value});
            $.ajax({
              type        :     'POST',
              url         :     url,
              dataType    :     'json',
              contentType :     'application/json',
              data        :     data
            }).done(
              function (payload) {
                question = document.getElementById('question-' + '{{ question.id }}');
                if (payload['success']==true) {
                  question.style['border-color'] = 'green';
                } else {
                  question.style['border-color'] = 'red';
                }
              }
            );
            // prevent default submission
            e.preventDefault();
          });
        </script>
      {% endif %}
    </div>
  </div>
{% endmacro -%}
