{% macro render_add_question_card() -%}
  {% set cover_id = 'Question_Cover'.format(fname=name) %}
  {% set input_id = 'Question_Input'.format(fname=name) %}
  <div class='card mb-2'>
    <div class='card-body card-cover' id='{{ cover_id }}' onclick="toggleInput('{{ cover_id }}','{{ input_id }}')" style='color:black; text-align:center;'>
      <i class="fas fa-question-circle fa-2x"></i>
      <h5>Add A Question</h5>
    </div>
    <div class='card-body' id='{{ input_id }}' style='color:black; text-align:center; display:none;'>
      <center><i class="fas fa-question-circle" style='display:inline;'></i></center>
      <form action="{{ url_for('project.add_question', project_id=g.project.id) }}" method='post'>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <label for="question">Question:</label>
        <input type="text" name="question" list="question_suggestions" class='select-clean'
          required>
        <datalist id="question_suggestions">
          {% for question in g.project.suggest_questions() %}
            <option value='{{ question }}'>
          {% endfor %}
        </datalist>
        <br><br>
        {% if g.project.is_member(g.current_user) %}
          <label for="answer">Answer:</label>
          <input type='text' name='answer' class='select-clean'></input>
        {% endif %}
        <div class='float-right'>
          <button class='complete-btn task-btn float-right' type='submit' style='background:transparent;border:0px;margin-bottom:0px; display:inline-block;'>
              <i class="fa fa-check-circle" aria-hidden="true"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
{% endmacro -%}


{% macro render_question_card(question) -%}
  {% set border_style = 'red' if not question.answer else 'green' %}
  <div id='question-{{ question.id }}' class='card mb-2' style='border-color: {{ border_style }};'>
    <div class='card-body'>
      <div class='card-head'>
        <p style='padding-bottom:1px;'>
          {{ question.question }}
        </p>
      </div>
      {% if not g.project.is_member(g.current_user) %}
        <p style='margin-bottom:0px;'>
          {% if question.answer %}
            {{ question.answer }}
          {% else %}
            Project members haven't answered this yet.
          {% endif %}
        </p>
      {% else %}
        <form id='answerform-{{ question.id }}' style='margin-bottom:0px;'>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            {% if question.answer %}
              <input style='margin-bottom:0px;' name='answer' class='select-clean' value='{{ question.answer }}'>
            {% else %}
              <input style='margin-bottom:0px;' name='answer' class='select-clean' placeholder='Write your answer here...'>
            {% endif %}
          </input>
          <div class='float-right'>
            <a class='delete-btn task-btn'
                style='background: transparent;'
                href="{{ url_for('project.delete_question', project_id=g.project.id, question_id=question.id) }}">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </a>
            <button class='complete-btn task-btn float-right' type='submit' style='background:transparent;border:0px;margin-bottom:0px;'>
                <i class="fa fa-check-circle" aria-hidden="true"></i>
            </button>
          </div>
        </form>
        <!-- TODO: move this script to external js maybe -->
        <script>
          answer_form = document.getElementById('answerform-{{ question.id }}');
          answer_form.addEventListener('submit', function (e) {
            alert('THIS')
            url = Flask.url_for(
                    'project.edit_answer',
                    {
                      'project_id'    :   String(project_id),
                      'question_id'   :   String(question_id)
                    }
            );
            answer_text = answer_form.getElementsByName('answer')[0].value;
            data = JSON.stringify({'answer':answer_text});
            $.ajax({
              type        :     'POST',
              url         :     url,
              dataType    :     'json',
              contentType :     'application/json',
              data        :     data
            }).done(
              function (payload) {
                if (payload['success']==true) {
                  question = document.getElementById('question-' + question_id);
                  question.style.border_color = 'green';
                }
              }
            );
            // prevent default submission
            e.preventDefault();
          });
          // inject our CSRF token into AJAX request
          var csrf_token = "{{ csrf_token() }}";
          $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                  if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                      xhr.setRequestHeader("X-CSRFToken", csrf_token);
                  }
              }
          });
        </script>
      {% endif %}
    </div>
  </div>
{% endmacro -%}
