{% macro render_subject_card(subject) -%}
<div class="col-md-4">
  <a class='project-name' href='subject={{ subject.code }}'>
    <div class="card mb-2">
      <div class="card-body"
      style='background: {{ subject.color }}'>
        <p class="float-right" style='color:white;'>
          {{ subject.projects.all()|length  }}
          <i class='fa fa-circle'></i>
          <br>
          {{ subject.users|length  }}
          <i class='fa fa-user-circle'></i>
        </p>
        <div class='card-head tiny'>
          <h5 style='color:white;'>{{ subject.name }}</h5>
        </div>
      </div>
    </div>
  </a>
</div>
{% endmacro -%}


{% macro render_user_subject(user_subject) -%}
{% set subject = user_subject.subject %}
<div class="col-md-4">
  <a class='project-name' href='subject={{ subject.code }}'>
    <div class="card mb-2">
      <div class="card-body"
      style='background: {{ subject.color }}'>
        <p class="float-right" style='color:white;'>
          {{ user_subject.number  }}
          <i class='fa fa-flask'></i>
        </p>
        <div class='card-head tiny'>
          <h5 style='color:white;'>{{ subject.name }}</h5>
        </div>
      </div>
    </div>
  </a>
</div>
{% endmacro -%}


{% macro render_subject_tag(subject) -%}
  <p class='subject-tag' id='subject-tag-{{ subject.id }}'
    data='{{ subject.id }}' style='background:{{ subject.color }};'>
    {{ subject.name }}
  </p>
{% endmacro -%}


{% macro render_subject_tag(subject) -%}
  <p class='subject-tag' id='subject-tag-{{ subject.id }}'
    data='{{ subject.id }}' selected='false' style='background:{{ subject.color }};'>
    {{ subject.name }}
  </p>
{% endmacro -%}
