{% macro render_todo_task(task) -%}
<div id='task-{{ task.id }}' class="list-group-item list-group-item-action flex-column align-items-start">
  <h6 class="mb-1">{{ task.text }}</h6>
  <div class="d-flex w-100 justify-content-between">
    <small>
      Requested by
      <a href='user={{ task.author.code }}' class="mb-1">
        {% if task.author %}
          <u>{{ task.author.name }}</u>
        {% else %}
          Anonymous
        {% endif %}
      </a>
      {{ task.post_stamp | ago }}
    </small>
  </div>
  <!-- action bar -->
  {% if task.project.is_member(g.current_user) %}
    <div class='action-bar'>
      {% if g.current_user==task.author %}
        <div class='hoverable'>
          <div class='delete-btn task-btn float-left' onclick="change_task_status('{{ task.project.id }}', '{{ task.id }}', action='delete')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
          </div>
          <span class='tooltiptext'>Delete Task</span>
        </div>
      {% endif %}
      <div class='complete-btn task-btn float-right' onclick="change_task_status('{{ task.project.id }}', '{{ task.id }}', action='complete')">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
      </div>
    </div>
  {% endif %}
</div>
{% endmacro -%}


{% macro render_complete_task(task) -%}
<div id='task-{{ task.id }}' class="list-group-item list-group-item-action flex-column align-items-start">
  <h6 class="mb-1">{{ task.text }}</h6>
  <div class="d-flex w-100 justify-content-between">
    <small>Completed
      {% if (task.workers|length > 0) %}
        by
        {% for worker in task.workers %}
            {% if loop.index==(task.workers|length) %}
              <a href='user={{ worker.code }}' class='user-name'>
                {{ worker.name }}
              </a>
            {% elif (task.workers|length)==2 %}
              <a href='user={{ worker.code }}' class='user-name'>
                {{ worker.name }}
              </a>
              and
            {% else %}
              <a href='user={{ worker.code }}' class='user-name'>
                {{ worker.name }}
              </a>
            {% endif %}
        {% endfor %}
      {% endif %}
      {{ task.complete_stamp | ago }}
    </small>
  </div>
  <!-- action bar -->
  {% if task.project.is_member(g.current_user) %}
    <div class='action-bar'>
      {% if g.current_user in task.workers %}
        <div class='hoverable'>
          <div class='back-btn task-btn float-left' onclick="change_task_status('{{ task.project.id }}', '{{ task.id }}', action='back')">
            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
          </div>
          <span class='tooltiptext'>Actually, I Didn't Help</span>
        </div>
      {% else %}
        <div class='complete-btn task-btn float-right' onclick="change_task_status('{{ task.project.id }}', '{{ task.id }}', action='complete')">
          <i class="fa fa-check-circle" aria-hidden="true"></i>
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
{% endmacro -%}


{% macro render_complete_task_sparse(task) -%}
<div class="list-group-item list-group-item-action flex-column align-items-start">
  <h6 class="mb-1">{{ task.text }}</h6>
  <div class="d-flex w-100 justify-content-between">
    <small>
      Completed {{ task.complete_stamp | ago }} for
      <a href='project={{ task.project.code }}' class='user-name'>
        {{ task.project.name }}
      </a>
    </small>
  </div>
</div>
{% endmacro -%}
