{% from 'macros/cards/badge.html' import render_badge_icon %}
{% from 'macros/cards/components.html' import render_share_button %}
{% from 'components/form_macros.html' import render_multiselect %}
{% from 'macros/cards/subject.html' import render_subject_tag %}


<!-- collaboration -->
{% macro render_collaborate_button(user) -%}
  {% if g.current_user!=user %}
    <button type="button" class="btn" data-toggle="modal" data-target="#modal_user_{{ user.id }}">
        Collab
    </button>
    {{ render_collaborate_modal(user) }}
  {% else %}
    <a class="btn" href='{{ user.get_url() }}/true'>
        Edit
    </a>
    <script>
      $('#edit_modal').appendTo('body');
    </script>
  {% endif %}
{% endmacro -%}


<!-- action bar -->
{% macro render_user_action_bar(user) -%}
  {% if g.current_user.is_authenticated %}
    <div class='action-bar'>
      <center>
        {% if g.current_user!=user %}
          <div class='hoverable'>
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            <span class='tooltiptext'>
              <a data-toggle='modal' data-target='#report_modal_{{ user.id }}'>
                Report User
              </a>
            </span>
            {{ render_report_modal(user) }}
          </div>
        {% else %}
          <form action="{{ url_for('user.flash_encouragement') }}" style='display:inline;' method='post'>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <button style='background:transparent; color: #F82B91; border:0;'>
              <i class="fa fa-heart" aria-hidden="true"></i>
            </button>
          </form>
        {% endif %}
        &nbsp;
        {{ render_collaborate_button(user) }}
        &nbsp;
        {{ render_share_button(user, 'user') }}
      </center>
    </div>
  {% endif %}
{% endmacro -%}


<!-- user card -->
{% macro render_user_card(user, carousel_type='search') -%}
  <div class="card mb-2">
    <div class="card-body">
      <div class='float-right info-nums'>
        {{ user.xp }} XP
      </div>
      <div class='card-head tiny'>
        <a class='project-name' href="{{ url_for('user.user_page', code=user.code) }}">
          <h5>
            {{ user.name }}
            {% set badge = user.choose_badge(carousel_type) %}
            {% if badge %}
              {{ render_badge_icon(badge) }}
            {% endif %}
            {% if user.recently_active() %}
              <i class="fa fa-circle fa-sm" style='color:#00FF5D;'></i>
            {% endif %}
          </h5>
        </a>
      </div>
      <div class='card-oneline' style=''>
        <p class='oneliner'>{{ user.about }}</p>
      </div>
      <div class='card-foot float-left'>
        {% for user_subject in user.subjects[:5] %}
          {% set subject = user_subject.subject %}
          <a href='/subject={{ subject.code }}'>
            {% if loop.index>1 %}
            ,
            {% endif %}
            {{ render_subject_tag(subject) }}
          </a>
        {% endfor %}
      </div>
      <br>
      <hr class="my-2">
      {{ render_user_action_bar(user) }}
    </div>
  </div>
{% endmacro -%}

{% macro render_invitation_card(user) -%}
  <div class="card mb-2">
    <div class="card-body">
      <div class='card-head tiny'>
        <a class='project-name' href='user={{ user.code }}'>
          <h5>
            {{ user.name }}
            {% set badge = user.choose_badge('member') %}
            {% if badge %}
              {{ render_badge_icon(badge) }}
            {% endif %}
            {% if user.recently_active() %}
              <i class="fa fa-circle fa-sm" style='color:#00FF5D;'></i>
            {% endif %}
          </h5>
        </a>
      </div>
      <center>
        <a class='task-btn' href="{{ url_for('user.withdraw_collaboration', user_id=user.id, project_id=g.project.id) }}">
          <button class='btn'>Withdraw</button>
        </a>
      </center>
    </div>
  </div>
{% endmacro -%}

<!-- card for users who are members of project -->
{% macro render_member_card(user) -%}
  <div class="card mb-2">
    <div class="card-body">
      <div class='card-head tiny'>
        <a class='project-name' href='user={{ user.code }}'>
          <h5>
            {{ user.name }}
            {% set badge = user.choose_badge('member') %}
            {% if badge %}
              {{ render_badge_icon(badge) }}
            {% endif %}
            {% if user.recently_active() %}
              <i class="fa fa-circle fa-sm" style='color:#00FF5D;'></i>
            {% endif %}
          </h5>
        </a>
      </div>
      <div class='row'>
        {% if not g.project.is_owner(user) %}
          <div class='col float-left' style='padding:0px;'>
            <a href="{{ url_for('project.remove_member', user_id=user.id, project_id=g.project.id) }}">
              <button class='btn'>Remove</button>
            </a>
          </div>
          <div class='col float-right' style='text-align:right; padding:0px;'>
            <a href="{{ url_for('project.make_owner', user_id=user.id, project_id=g.project.id) }}">
              <button class='btn'>Make Owner</button>
            </a>
          </div>
        {% else %}
          <div class='col' style='padding:0px;'>
            <center>
              <button data-toggle='modal' data-target='#modal_project_{{ g.project.id }}' class='btn'>
                Leave
              </button>
            </center>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro -%}


<!-- MODALS -->
{% macro render_collaborate_modal(user, target_project=None) -%}
  {% if g.current_user.is_authenticated %}
    {% set modal_id = "modal_user_{user_id}".format(user_id=user.id) %}
    <div id="{{ modal_id }}" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <a href='user={{ user.code }}' style='color:black;'>
              <h5>{{ user.name }}</h5>
            </a>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          {% if (g.current_user.owned.count())>0 %}
            <form action="{{ url_for('user.collaborate', target_user_id=user.id) }}" method='post'>
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <div class="modal-body">
                {% if not user.available %}
                  <small style='color:red;'>
                    WARNING: {{ user.name }} has marked themself as unavailable.
                    You may still send an invitation, but they may
                    not be able to participate at the moment.
                  </small>
                  <br><br>
                {% endif %}
                <label for="new_owner">Select project on which to collaborate with {{ user.name }}:</label>
                <br>
                <select name="selected_project" id="selected_project" class='select-clean'>
                  {% for project in g.current_user.owned %}
                    {% if (project.complete!=True) and (project.open==True) and (user not in project.members) and (user not in project.invitations )%}
                      {% if project==target_project %}
                        <option value="{{ project.id }}" selected>{{ project.name }}</option>
                      {% else %}
                        <option value="{{ project.id }}">{{ project.name }}</option>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </select>
                <br><br>
                <p>{{ user.name }} will be sent an invitation
                  and will be able to join without applying.
                </p>
              </div>
              <div class="modal-footer">
                <button class='btn'>Collaborate</button>
              </div>
            </form>
          {% else %}
            <div class="modal-body">
              <p>Cannot invite {{ user.name }} to collaborate because
                you do not own any projects! Try <a href='/add_project'>adding a project</a> first.
              </p>
            </div>
            <div class="modal-footer">
              <a href='/add_project'>
                <button class='btn'>Add Project</button>
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <script>
      $('#{{ modal_id }}').appendTo('body');
    </script>
  {% endif %}
{% endmacro -%}



<!-- MODAL FOR EDITING USER ACCOUNT -->
{% macro render_edit_user_modal(user, edit_form) -%}
<div id="edit_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h5>Edit Your Account</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form id='editForm' method='post'>
        <div class="modal-body">
          <!-- token -->
          {{ edit_form.csrf_token }}
          <!-- ABOUT -->
          <center>
            <h6 style='text-decoration:underline;'>About</h6>
          </center>
          <!-- name -->
          {{ edit_form.name.label }}:<br>
          {{ edit_form.name(class='edit-input', value=user.name) }}
          {% if edit_form.name.errors %}
            <p class='warning'>{{ edit_form.name.errors[0] }}</p>
          {% endif %}
          <hr class='my-2'><br>
          <!-- about -->
          {{ edit_form.about.label }}:<br>
          {{ edit_form.about(class='edit-input', value=user.about) }}
          {% if edit_form.about.errors %}
            <p class='warning'>{{ edit_form.about.errors[0] }}</p>
          {% endif %}
          <hr class='my-2'><br>
          {{ edit_form.subjects.label }}:<br>
          {% set subject_ids = [] %}
          {% for user_subject in user.selected_subjects() %}
            {% if user_subject.user_selected %}
              {% if subject_ids.append(user_subject.subject.id) %}
              {% endif %}
            {% endif %}
          {% endfor %}
          {{ render_multiselect(edit_form.subjects, 1, 0, subject_ids) }}
          {% if edit_form.subjects.errors %}
            <p class='warning'>{{ edit_form.subjects.errors[0] }}</p>
          {% endif %}
          <hr class='my-4'>
          <!-- PASSWORD -->
          <center>
            <h6 style='text-decoration:underline;'>Change Password</h6>
          </center>
          {% for password_field in [edit_form.password, edit_form.confirm] %}
            {{ password_field.label }}:<br>
            {{ password_field(class='edit-input') }}
            {% if password_field.errors %}
              <p class='warning'>{{ password_field.errors[0] }}</p>
            {% endif %}
            {% if loop.index==1 %}
              <hr class='my-2'><br>
            {% endif %}
          {% endfor %}
          <hr class='my-2'><br>
          {% if user.available %}
            <a href="{{ url_for('user.mark_unavailable') }}" class='btn col'>
              Mark Unavailable
            </a>
            <small>
              Unavailable users can still join and work on projects, but they won't be recommended to other project owners.
            </small>
          {% else %}
            <a href="{{ url_for('user.mark_available') }}" class='btn col'>
              Mark Available
            </a>
            <small>
              Available users can be recommended to other project owners.
            </small>
          {% endif %}
        </div>
        <div class="modal-footer row m-3">
          <button type='button' data-toggle='modal' data-target='#delete_account_modal' class='btn delete-btn col float-left'>
            Delete Account
          </button>
          <button action='submit' class='btn col'>Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endmacro -%}


<!-- MODAL FOR DELETING USER ACCOUNT -->
{% macro render_delete_account_modal(user) -%}
<div id="delete_account_modal" class="modal fade" role="dialog" style='z-index:9999;'>
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h5>Delete Your Account</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form action="{{ url_for('user.delete_user') }}" method='post'>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="modal-body">
          <p style='color: red;'>
            WARNING: You are trying to delete your account. THIS CANNOT BE
            UNDONE (and also it will make us very sad, but that's okay).
          </p>
          <p>
            You will need to choose a new owner for all of your shared projects.
            Your solo projects will be permanently deleted.
          </p>
          {% for project in user.owned %}
            {% if project.members.all()|length > 1 %}
            <label for="new_owner">Select new owner for {{ project.name }}:</label>
            <br>
            <select name="new_owner_{{ project.id }}"
              id="new_owner_{{ project.id }}" class='select-clean'>
              {% for member in project.members %}
                {% if not member==project.owner %}
                  <option value="{{ member.id }}">{{ member.name }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <br><br>
            {% endif %}
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button class='btn delete-btn'>Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endmacro -%}


{% macro render_report_modal(user) -%}
{% set modal_id = 'report_modal_{user_id}'.format(user_id=user.id) %}
<div id="{{ modal_id }}" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href='user={{ user.code }}' style='color:black;'>
          <h5>Report {{ user.name }}:</h5>
        </a>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form action="{{ url_for('user.report_user', target_user_id=user.id) }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="modal-body">
            <p>
              TheProjectProject is intended to be a safe, welcoming place` full of innovation
              and passion. We take violations of our community guidelines very seriously,
              and thank you for reporting this potential infraction. Please tell us
              what happened:
            </p>
            <br>
            <input type='text' name='report_text' id='report_text' maxlength=250 class='join-input' required/>
            <small><center>Limit: 250 characters</center></small>
            <br>
            <p>
              This report is totally anonymous: {{ user.name }} will not
              be given any information without your permission. If necessary, we
              we may want to follow up with you as we investigate.
            </p>
        </div>
        <div class="modal-footer">
          <button class='btn'>Submit Report</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  $('#{{ modal_id }}').appendTo('body');
</script>
{% endmacro -%}
