{% from 'macros/badges.html' import render_badge_icon %}

<!-- PROJECTS -->
{% macro render_project_name(project, user) -%}
{% if user.is_authenticated %}
  <a class='project-name' href='project={{ project.code }}'>
{% else %}
  <a class='project-name' href='/login'>
{% endif %}
  <h5>
    {{ project.name }}
    {% if project.complete %}
      <i class="fa fa-check-circle" aria-hidden="true" style='color:#00FF5D;'></i>
    {% elif not project.open %}
      <i class="fa fa-lock" aria-hidden="true" style='color:#F4D510;'></i>
    {% elif project.recently_active() %}
      <i class="fa fa-circle" aria-hidden="true" style='color:#00FF5D;'></i>
    {% endif %}
  </h5>
</a>
{% endmacro -%}


{% macro render_big_project_card(project) -%}
<div class="col-md-4">
  <div class="card mb-2">
    <div class="card-body">
      <div class='float-right info-nums'>
        {{ project.members.all()|length }} / {{ project.team_size }}
        <i class='far fa-user-circle'></i>
        <br>
        {{ project.stars.all()|length }}
        <i class="fa fa-star"></i>
      </div>
      <div class='card-head'>
        {{ render_project_name(project, g.current_user) }}
        <a href='user={{ project.owner.code }}'>
          <p class='owner'>
            {{ project.owner.name }}
            {% set badge = project.owner.choose_badge('project') %}
            {% if badge %}
              {{ render_badge_icon(badge) }}
            {% endif %}
          </p>
        </a>
      </div>
      <hr class="my-4">
      <!-- summary -->
      <div class='card-text'>
        <p class='oneliner'>
          {{ project.oneliner }}
        </p>
        <p style='color:rgba(0,0,0,0.7);'>{{ project.summary }}</p>
      </div>
      <div class='card-foot float-left'>
        <p style="padding-bottom:0px; margin-bottom:0px;">
          <i class="fa fa-clock-o"></i>
          {{ calc_days_since(g.now(), project.posted_on) }} / {{ project.estimated_time }}
          days
        </p>
        <div>
          {% for subject in project.subjects|reverse %}
            <a href='/subject={{ subject.code }}'>
              {% if loop.index>1 %}
              ,
              {% endif %}
              <p class='subject-tag' style='background:{{ subject.color }};'>
                {{ subject.name }}
              </p>
            </a>
          {% endfor %}
        </div>
      </div>
      {% if g.current_user.is_authenticated %}
        <br><br>
        <hr class="my-4">
        <div class='action-bar'>
          {% if g.current_user in project.stars %}
            <a href="{{ url_for('project.like_action', project_id=project.id, action='unlike') }}">
              <i class="fa fa-star"></i>
            </a>
          {% else %}
            <a href="{{ url_for('project.like_action', project_id=project.id, action='like') }}">
              <i class="fa fa-star-o"></i>
            </a>
          {% endif %}
          &nbsp;
          {% if not current_user in project.members %}
            {% if current_user.has_applied(project) %}
              <button type="button" class="btn" disabled>
                  Pending
              </button>
            {% elif project.complete==True %}
              <button type="button" class="btn" disabled>
                Complete
              </button>
            {% elif project.open==False %}
              <button type="button" class="btn" disabled>
                Closed
              </button>
            {% elif project in current_user.invitations %}
              <button type="button" class="btn" data-toggle="modal" data-target="#modal_project_{{ project.id }}">
                Respond
              </button>
            {% else %}
              <button type="button" class="btn" data-toggle="modal" data-target="#modal_project_{{ project.id }}">
                Join
              </button>
            {% endif %}
          {% else %}
            <button type="button" class="btn" data-toggle="modal" data-target="#modal_project_{{ project.id }}">
                Leave
            </button>
          {% endif %}
          &nbsp;
          {{ render_project_share_button(project) }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
{%- endmacro %}
