{%
  from 'macros/cards/question.html' import
    render_add_question_card, render_question_card
  with context
%}
{%
  from 'macros/cards/link.html' import
    render_add_link_card, render_project_link_card, render_private_link
  with context
%}

{%
  set card_renders = dict([
    ('add-question',          render_add_question_card),
    ('question',              render_question_card),
    ('add-link',              render_add_link_card),
    ('project-link',          render_project_link_card),
    ('private-link',          render_private_link)
  ])
%}

{%
  set add_cards = dict([
    ('question',      render_add_question_card),
    ('link',          render_add_link_card)
  ])
%}


{% macro render_cardbox(id_postfix, card_type, data, label=False, add_card=False) -%}
  {% if add_card %}

  {% endif %}
{% endmacro -%}
