{%
  from 'macros/cards/question.html' import
    render_add_question_card, render_question_card
  with context
%}
{%
  from 'macros/cards/link.html' import
    render_add_link_card, render_project_link_card, render_private_link
  with context
%}

{%
  set card_renders = dict([
    ('question',              render_question_card),
    ('project-link',          render_project_link_card),
    ('private-link',          render_private_link)
  ])
%}

{%
  set add_cards = dict([
    ('question',      render_add_question_card),
    ('link',          render_add_link_card)
  ])
%}


{% macro render_cardbox(id_postfix, card_type, data, add_card=False) -%}
  {% set render_fn = card_renders[card_type] %}
  <div id='cardbox-{{ id_postfix }}' class='cardbox'>
    {% if add_card %}
      {{ add_cards[card_type]() }}
    {% endif %}
    <div id='cardbox-list-{{ id_postfix }}' class='about-col'>
      {% for elt in data %}
        {{ render_fn(elt) }}
      {% endfor %}
    </div>
  </div>
{% endmacro -%}
