{% from 'macros/cards/project.html' import
    render_big_project_card, render_mid_project_card, render_small_project_card,
    render_project_invitation_card
  with context %}
{%
  from 'macros/cards/user.html' import
  render_user_card, render_invitation_card, render_member_card
  with context
%}
{% from 'macros/cards/competition.html' import render_competition_card with context %}
{%
  from 'macros/cards/badge.html' import
    render_user_badge_card, render_badge_card
  with context
%}
{%
  from 'macros/cards/subject.html' import
    render_subject_card, render_user_subject
  with context %}
{%
  from 'macros/cards/application.html' import
    render_application_card, render_project_application_card
   with context
%}

{% from 'macros/icon.html' import icon_types %}

<!-- CACHE RENDER CARD FUNCTIONS -->
{%
  set card_renders = dict([
    ('project-big',           render_big_project_card),
    ('project-mid',           render_mid_project_card),
    ('project-small',         render_small_project_card),
    ('user',                  render_user_card),
    ('invitation',            render_invitation_card),
    ('project-invitation',    render_project_invitation_card),
    ('application',           render_application_card),
    ('project-application',   render_project_application_card),
    ('member',                render_member_card),
    ('competition',           render_competition_card),
    ('user-badge',            render_user_badge_card),
    ('badge',                 render_badge_card),
    ('subject',               render_subject_card),
    ('user-subject',          render_user_subject),
    ('company',               render_big_company_card)
  ])
%}
<!-- /RENDER CARD FUNCTIONS -->

{%
  macro render_carousel(id_postfix, card_type, data, label=False, interval=4000,
                        icon_type=False, redirect_empty=False,
                        override_partition=False, tooltip=False)
-%}
  <!-- CACHE -->
  {% set carousel_id = 'carousel-{id_postfix}'.format(id_postfix=id_postfix) %}
  {% set render_fn = card_renders[card_type] %}
  {% set n = (data|length) if data else 0 %}
  <!-- metas -->
  <meta id="n_to_show_{{ carousel_id }}" data-name="n_to_show" data-other="{% if override_partition %}{{ override_partition|safe }}{% else %}3{% endif %}">
  <!-- /CACHE -->
  {% if n==0 and not redirect_empty %}
  {% else %}
    <!-- HEADER -->
    {% if label %}
      <h4 class='tabname-big'>
        {{ label }}
        {% if icon_type %}
          <i class='{{ icon_types[icon_type] }}'></i>
          {{ n }}
        {% endif %}
      </h4>
      <hr class='my-1'>
    {% endif %}
    <!-- /HEADER -->
    <!-- BODY -->
    <!-- desktop requests -->
    {% if not request.MOBILE %}
      <div id='{{ carousel_id }}' class='glider'>
        {% for elt in data %}
          {{ render_fn(elt) }}
        {% endfor %}
      </div>
      <!-- controls -->
      {% if ((n>3) and not override_partition) or (override_partition and (n>override_partition)) %}
        <div id='dots-{{ carousel_id }}' role="tablist" class="dots"></div>
      {% endif %}
      <!-- initialize -->
      <script>
      new Glider(document.querySelector('#{{ carousel_id }}'), {
        slidesToShow: parseInt($('#n_to_show_{{ carousel_id }}').data()['other']),
        slidesToScroll: 1,
        // speed aggravator - higher is slower
        duration: .5,
        draggable: false,
        rewind: true,
        dots: '#dots-{{ carousel_id }}'
        });
      </script>
    <!-- mobile requests -->
    {% else %}
      {% for elt in data %}
        {{ render_fn(elt) }}
      {% endfor %}
    {% endif %}
    {% if n==0 and redirect_empty %}
      <div style='text-align:center;'>
        <a type="button" class='add_button' href="{{ redirect_empty }}">
          <i class="fa fa-plus-circle fa-3x add_button" aria-hidden="true"></i>
        </a>
      </div>
    {% endif %}
    {% if tooltip %}
      <div id='tooltip-{{ id_postfix }}' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip }}">
      </div>
    {% endif %}
    <!-- /BODY -->
  {% endif %}
{% endmacro -%}
