{% from 'macros/cards/project.html' import
    render_big_project_card, render_mid_project_card, render_small_project_card,
    render_project_invitation_card
  with context %}
{%
  from 'macros/cards/user.html' import
  render_user_card, render_invitation_card, render_member_card
  with context
%}
{% from 'macros/cards/competition.html' import render_competition_card with context %}
{%
  from 'macros/cards/badge.html' import
    render_user_badge_card, render_badge_card
  with context
%}
{%
  from 'macros/cards/subject.html' import
    render_subject_card, render_user_subject
  with context %}
{%
  from 'macros/cards/application.html' import
    render_application_card, render_project_application_card
   with context
%}

{% from 'macros/icon.html' import icon_types %}

<!-- CACHE RENDER CARD FUNCTIONS -->
{%
  set card_renders = dict([
    ('project-big',           render_big_project_card),
    ('project-mid',           render_mid_project_card),
    ('project-small',         render_small_project_card),
    ('user',                  render_user_card),
    ('invitation',            render_invitation_card),
    ('project-invitation',    render_project_invitation_card),
    ('application',           render_application_card),
    ('project-application',   render_project_application_card),
    ('member',                render_member_card),
    ('competition',           render_competition_card),
    ('user-badge',            render_user_badge_card),
    ('badge',                 render_badge_card),
    ('subject',               render_subject_card),
    ('user-subject',          render_user_subject)
  ])
%}
<!-- /RENDER CARD FUNCTIONS -->


<!-- CAROUSEL -->
{%
  macro render_carousel(id_postfix, card_type, data, label=False, interval=4000,
                        icon_type=False, redirect_empty=False,
                        override_partition=False, tooltip=False)
-%}
  <!-- CACHE -->
  {% set carousel_id = 'carousel-{id_postfix}'.format(id_postfix=id_postfix) %}
  {% set render_fn = card_renders[card_type] %}
  {% set n = (data|length) if data else 0 %}
  <!-- HEADER -->
  {% if n==0 and not redirect_empty %}
  {% else %}
    {% if label %}
      <h4 class='tabname-big'>
        {{ label }}
        {% if icon_type %}
          <i class='{{ icon_types[icon_type] }}'></i>
          {{ n }}
        {% endif %}
      </h4>
      <hr class='my-1'>
    {% endif %}
    <!-- BODY -->
    <!-- web requests -->
    {% if not request.MOBILE %}
      <!-- partition data -->
      {% if not override_partition %}
        {% set tabs = partition_query(data) %}
      {% else %}
        {% set tabs = partition_query(data, override_partition) %}
      {% endif %}
      <!-- carousel -->
      <div id='{{ carousel_id }}' class='carousel slide carousel-multi-item' data-ride='carousel'>
        <div class='carousel-inner' role='listbox'>
          {% for tab in tabs %}
            {% if tab|length > 1 %}
              <div class='carousel-item {% if loop.index==1 %}active{% endif %}'>
                <div class='row'>
                  {% for elt in tab %}
                    {{ render_fn(elt) }}
                  {% endfor %}
                </div>
              </div>
            {% else %}
              <div class='carousel-item {% if loop.index==1 %}active{% endif %}'>
                {{ render_fn(tab[0]) }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <!-- multi-page case -->
      {% if tabs|length > 1 %}
        <!-- cache ids -->
        {% set counter_id = 'counter-{id_postfix}'.format(id_postfix=id_postfix) %}
        {% set storage_index = 'index-{id_postfix}'.format(id_postfix=id_postfix) %}
        <!-- controls -->
        <div class="controls-top">
          <a class="btn-floating" href="#{{ carousel_id }}" data-slide="prev">
            <i class="fa fa-chevron-circle-left fa-lg"></i>
          </a>
          <p id='{{ counter_id }}' class='counter'>1</p>
          <a class="btn-floating" href="#{{ carousel_id }}" data-slide="next" onclick="$('#tooltip-{{ id_postfix }}').tooltip('hide');">
            <i class="fa fa-chevron-circle-right fa-lg"></i>
          </a>
        </div>
        <!-- scroll scripts -->
        <script>
          // set scroll speed
          $('#{{ carousel_id }}').carousel({
            interval: {{ interval }}
          })
          // cache scroll iterator and update counter
          $('#{{ carousel_id }}').on('slid.bs.carousel', function () {
            var count_index = $('#{{ carousel_id }} div.active').index() + 1
            sessionStorage.setItem('{{ storage_index }}', count_index);
            $('#{{ counter_id }}').html(count_index);
          });
          // TODO: fix rescroll and or add ajax for like and project actions
          // rescroll on refresh
          count_index = sessionStorage.getItem('{{ storage_index }}')
          if (count_index) {
            document.getElementById('{{ carousel_id }}').carousel(1*count_index);
          }
        </script>
      {% endif %}
    <!-- mobile -->
    {% else %}
      {% for elt in data %}
        {{ render_fn(elt) }}
      {% endfor %}
    {% endif %}
    {% if n==0 and redirect_empty %}
      <div style='text-align:center;'>
        <a type="button" href="{{ redirect_empty }}">
          <i class="fa fa-plus-circle fa-3x add_button" aria-hidden="true"></i>
        </a>
      </div>
    {% endif %}
    {% if tooltip %}
      <div id='tooltip-{{ id_postfix }}' data-toggle="tooltip" data-placement="bottom" title="{{ tooltip }}">
      </div>
    {% endif %}
  {% endif %}
{% endmacro -%}
<!-- /CAROUSEL -->
