{% macro render_message(message, sent_by_me='idk') -%}
  {% if sent_by_me=='idk' %}
    {% set sent_by_me = (message.sender==g.current_user) %}
  {% endif %}
  <div class="message {% if sent_by_me %}me{% else %}other{% endif %}">
    <p style='margin:0px;'>{{ message.text }}</p>
    <span class="time-right" style="display: none;">
      {{ message.sender.name }} | {{ message.timestamp | time_to_str_new }}
    </span>
  </div>
{% endmacro -%}


{% macro render_channel(channel) -%}
  {% set name = channel.name(g.current_user) %}
  <link rel="stylesheet" href="/css/project_styles.css">
  <div class="chat-popup">
    <button type="button" id='openBtn' class="btn open-button" onclick="openForm()">
      {{ name }}
    </button>
    <form class="form-container" id="myForm" onsubmit="send_message({{ channel.id }}); return false;">
      <button type="button" class="btn cancel" onclick="closeForm()">{{ name }}</button>
      <div class='messages' id='messages'>
        {% for message in channel.messages|reverse %}
          {{ render_message(message) }}
        {% endfor %}
      </div>
      <div class='post_form'>
        {{ g.message_form.text(id='messageText', class='post-input', autocomplete='off') }}
        <button type="submit">Send</button>
      </div>
    </form>
    <script>
      $.ajaxSetup({
        headers: {'X-CSRFToken': '{{ csrf_token() }}'}
      })
      function send_message(channel_id) {
        var text = document.getElementById('messageText').value;
        var form_data = JSON.stringify({'channel_id':channel_id, 'text':text});
        $.ajax({
          url: "{{ url_for('message.send_message') }}",
          type: 'POST',
          dataType: 'json',
          contentType: 'application/json',
          data: form_data,
          success: function(data) {
            var messages = document.getElementById('messages');
            document.getElementById('messageText').value = '';
            messages.innerHTML += data['html'];
            messages.scrollTo(0, messages.scrollHeight);
          }
        })
      }
    </script>
  </div>
{% endmacro -%}
