{% macro render_chat(user_channel) -%}
  <div class="chat-popup">
    <button type="button" class="btn open-button" onclick="openForm()">Open</button>
    <form action="/action_page.php" class="form-container" id="myForm">
      <h1>Chat</h1>

      <label for="msg"><b>Message</b></label>
      <textarea placeholder="Type message.." name="msg" required></textarea>

      <button type="submit" class="btn">Send</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
  </div>
{% endmacro -%}
