{% macro render_chat(user_channel) -%}
  {% set channel = user_channel.channel %}
  <link rel="stylesheet" href="/css/project_styles.css">
  <div class="chat-popup">
    <button type="button" id='openBtn' class="btn open-button" onclick="openForm()">
      {{ user_channel.name() }}
    </button>
    <form action="{{ url_for('message.send_message', channel_id=channel.id) }}" method='post' class="form-container" id="myForm">
      <button type="button" class="btn cancel" onclick="closeForm()">{{ user_channel.name() }}</button>
      <div class='messages'>
        {% for message in channel.messages|reverse %}
          {% set sent_by_me = (message.sender==current_user) %}
          <div class="message {% if sent_by_me %}me{% else %}other{% endif %}">
            <p style='margin:0px;'>{{ message.text }}</p>
            <span class="time-right" style="display: none;">
              {{ time_to_str(message.timestamp) }}
            </span>
          </div>
        {% endfor %}
      </div>

      {{ g.message_form.csrf_token }}
      <div class='post_form'>
        {{ g.message_form.text(class='post-input', autocomplete='off') }}
        <button type="submit">Send</button>
      </div>
    </form>
  </div>
  <script>
  $('#myForm').stop ().animate ({
      scrollTop: $('#myForm')[0].scrollHeight
  });
  </script>
{% endmacro -%}
