{%
  set icon_types = dict([
    ('project',           'fa fa-circle'),
    ('project-member',    'fa fa-circle-o'),
    ('user',              'fa fa-user-circle'),
    ('subject',           'fa fa-flask'),
    ('notification',      'fa fa-bell'),
    ('sent',              'fa fa-paper-plane'),
    ('competition',       'fa fa-trophy'),
    ('todo',              'fa fa-clock-o'),
    ('complete',          'fa fa-check-circle'),
    ('recommended',       'fas fa-search'),
    ('company',           'fa fa-briefcase')
  ])
%}
