{%
  from 'macros/cards/task.html' import
    render_todo_task, render_complete_task, render_complete_task_sparse
  with context
%}
{% from 'macros/cards/comment.html' import render_comment with context %}
{% from 'macros/cards/notification.html' import render_notification with context %}

{% from 'macros/chat.html' import render_channel_card with context %}

{% from 'macros/icon.html' import icon_types %}


{%
  set card_renders = dict([
    ('todo-task',             render_todo_task),
    ('complete-task',         render_complete_task),
    ('complete-task-sparse',  render_complete_task_sparse),
    ('comment',               render_comment),
    ('notification',          render_notification),
    ('channel',               render_channel_card)
  ])
%}

{%
  set box_classes = dict([
    ('default',      'list-group'),
    ('small',        'list-group list-small'),
    ('big',          'list-group list-big'),
    ('null',         'list-group')
  ])
%}

{% macro render_listbox(id_postfix, card_type, data, label=False, icon_type=False, empty_message=False, n_override=False, size='default', form=False, background='default') -%}
  {% set render_fn = card_renders[card_type] %}
  {% set n = (data|length) if data else 0 %}
  {% set boxclass =  box_classes[size] %}
  {% if label %}
    {% if size != 'small' %}
      <h4 class='tabname-big'>
    {% else %}
      <h6 class='tabname-big'>
    {% endif %}
      {{ label }}
      {% if icon_type %}
        <i class='{{ icon_types[icon_type] }}'></i>
        <span id='n-{{ id_postfix }}'>
          {% if n_override is sameas false %}
            {{ n }}
          {% else %}
            {{ n_override }}
          {% endif %}
        </span>
      {% endif %}
    {% if size != 'small' %}
      </h4>
    {% else %}
  </h6>
    {% endif %}
  {% endif %}
  <div class='{{ boxclass }}' id='listbox-{{ id_postfix }}'
    {% if background!='default' %}style='background: {{ background }};'{% endif %}>
    {% if n==0 and empty_message %}
      <p id='empty-message-{{ id_postfix }}' class='empty-text'>{{ empty_message }}</p>
    {% else %}
      {% for elt in data %}
        {{ render_fn(elt) }}
      {% endfor %}
    {% endif %}
  </div>
  {% if form %}
    <form class='post_form' id='form-{{ id_postfix }}'>
      {{ form.hidden_tag() }}
      {% set input_id = 'input-{id_postfix}'.format(id_postfix=id_postfix) %}
      {{
        form.text(
          id=input_id, class='post-input', placeholder=form.text.render_kw['placeholder'],
          max=form.text.render_kw['max'], autocomplete='off'
        )
      }}
      <button class='chat-action'>
        <i class="fas fa-arrow-right" style="color: #FF5D00;"></i>
      </button>
    </form>
    <!-- script for adding form results to listbox -->
    <script>
      document.getElementById('form-' + '{{ id_postfix }}').addEventListener('submit', function (e) {
        form_text = document.getElementById('input-' + '{{ id_postfix }}');
        data = JSON.stringify({'text' : form_text.value})
        $.ajax({
          type  :   'POST',
          url   :   "{{ form.text.render_kw['action'] }}",
          dataType: 'json',
          contentType: 'application/json',
          data  :   data,
          success:  function(payload) {
            // clear form text
            form_text.value = '';
            // get listbox content
            var listbox = document.getElementById('listbox-' + '{{ id_postfix }}');
            // hide empty message if there is one
            empty_message = document.getElementById('empty-message-{{ id_postfix }}');
            if (empty_message!==null) {
              empty_message.remove();
            }
            // update count if there is one
            n_count = document.getElementById('n-{{ id_postfix }}');
            if (n_count!==null) {
              n_count.innerHTML = payload['count'];
            }
            // add html to listbox content
            listbox.innerHTML += payload['html'];
            // scroll to bottom of listbox
            listbox.scrollTo(0, listbox.scrollHeight);
          }
        });
        // prevent default submission
        e.preventDefault();
      });
      // inject our CSRF token into AJAX request
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
              }
          }
      });
    </script>
  {% endif %}
{% endmacro -%}
