{% from 'macros/cards/project.html' import
    render_big_project_card, render_mid_project_card, render_small_project_card,
    render_project_invitation_card
  with context %}
{%
  from 'macros/cards/user.html' import
  render_user_card, render_invitation_card, render_member_card
  with context
%}
{% from 'macros/cards/competition.html' import render_competition_card with context %}
{%
  from 'macros/cards/badge.html' import
    render_user_badge_card, render_badge_card
  with context
%}
{%
  from 'macros/cards/subject.html' import
    render_subject_card, render_user_subject
  with context %}
{%
  from 'macros/cards/application.html' import
    render_application_card, render_project_application_card
   with context
%}

{% from 'macros/icon.html' import icon_types %}

<!-- CACHE RENDER CARD FUNCTIONS -->
{%
  set card_renders = dict([
    ('project-big',           render_big_project_card),
    ('project-mid',           render_mid_project_card),
    ('project-small',         render_small_project_card),
    ('user',                  render_user_card),
    ('invitation',            render_invitation_card),
    ('project-invitation',    render_project_invitation_card),
    ('application',           render_application_card),
    ('project-application',   render_project_application_card),
    ('member',                render_member_card),
    ('competition',           render_competition_card),
    ('user-badge',            render_user_badge_card),
    ('badge',                 render_badge_card),
    ('subject',               render_subject_card),
    ('user-subject',          render_user_subject)
  ])
%}
<!-- /RENDER CARD FUNCTIONS -->

{% macro render_carousel() -%}

{% endmacro -%}
