{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  <link type="text/css" href="css/about_styles.css" rel="stylesheet">
{% endblock %}


{% block content %}
  <ul id="categories" class="clr">
    <li>
      <div>
        <div class='cover dark-purple-background'><h5>A Community Of Builders</h5></div>
        <h1>
          We are an application-based community of college
          innovators.
        </h1>
        <p>
          Members share and collaborate on project ideas in a variety of fields.
        </p>
      </div>
    </li>
  	<li>
      <div>
        <div class='cover yellow-background'><h5>Get Stuff Done</h5></div>
        <h1>What if you could complete a different project every week?</h1>
        <p>
          Whether it's bringing your unique skillset to a passionate team or
          recruiting experts to work on one of your own ideas, we give you the
          tools to move faster than ever before.
        </p>
      </div>
    </li>
    <li>
      <div>
        <div class='cover pink-background'><h5>Funding and Fame</h5></div>
        <h1>
          We are here to help you however we can, be it connecting you to
          funding opportunities, industry experts, or helpful resources.
        </h1>
        <p>
          Our team 
        </p>
      </div>
    </li>
    <li>
      <div>
        <div class='cover orange-background'><h5>Sponsored Competitions</h5></div>
        <h1>This is a title</h1>
        <p>Some sample text about the article this hexagon leads to</p>
      </div>
    </li>
    <li>
      <div>
        <div class='cover light-purple-background'><h5>Share Your Ideas</h5></div>
        <h1>This is a title</h1>
        <p>Some sample text about the article this hexagon leads to</p>
      </div>
    </li>
    <li>
      <div>
        <div class='cover blue-background'><h5>Change The World</h5></div>
        <h1>This is a title</h1>
        <p>Some sample text about the article this hexagon leads to</p>
      </div>
    </li>
    <li>
      <div>
        <div class='cover green-background'><h5>Meet Passionate People</h5></div>
        <h1>This is a title</h1>
        <p>Some sample text about the article this hexagon leads to</p>
      </div>
    </li>
    <li>
      <div>
        <div class='cover dark-purple-background'><h5>Protect Your Privacy</h5></div>
        <h1>This is a title</h1>
        <p>Some sample text about the article this hexagon leads to</p>
      </div>
    </li>
    <li class="pusher"></li>
  </ul>
{% endblock %}
