{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  <link type="text/css" href="css/about_styles.css" rel="stylesheet">
{% endblock %}


{% block content %}
  <ul id="categories" class="clr">
  	<li>
        <div>
          <div class='test'><h4>A Project Every Week</h4></div>
          <h1>What if you could complete a new project every week?</h1>
          <p>With the help of </p>
      </div>
    </li>
      <li>
        <div>
          <img src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt=""/>
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
      </div>
    </li>
    <li>
        <div>
          <img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""/>
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
      </div>
    </li>
    <li>
        <div>
          <img src="https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg" alt=""/>
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
      </div>
    </li>
    <li>
        <div>
          <img src="https://farm7.staticflickr.com/6217/6216951796_e50778255c.jpg" alt=""/>
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
      </div>
    </li>
    <li>
        <div>
          <img src="https://farm7.staticflickr.com/6083/6055581292_d94c2d90e3.jpg" alt=""/>
          <h1>This is a title</h1>
          <p>Some sample text about the article this hexagon leads to</p>
      </div>
    </li>
  </ul>
{% endblock %}
