{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}

<div class='big-box container justify-content-center'>
  <h1>contact us.</h1>
  <a href='mailto:admin@theprojectproject.io'>
    <div class='box apply' id='apply'>
      email us.
    </div>
  </a>
  <br>
  <a href='https://medium.com/@admin_55598'>
    <div class='box login' onclick='login()' id='login'>
      blog.
    </div>
  </a>
  <br>
  <a href='https://www.instagram.com/the.projectproject/'>
    <div class='box login' onclick='login()' id='login'>
      social.
    </div>
  </a>
  <br>
  <a href='https://linkedin.com/company/theprojectproject'>
    <div class='box login' onclick='login()' id='login'>
      linkedin.
    </div>
  </a>
</div>

{% endblock %}
