{% extends "base.html" %}

{% block title %}Terms{% endblock %}

{% block content %}

<div class='about container text-left'>
  <center>
    <h1 style='text-decoration: underline;'>terms and conditions.</h1>
  </center>
  TheProjectProject (the Site) is a safe and welcoming space for creators
  to connect.
  Hatred, intolerance, and theft fly directly in the face of our mission and will
  be met with swift reprecussions. There is zero tolerance for the violation of
  our community guidelines, and consequences will range from expulsion to legal
  action.
  <ul>
    <li class='list-bullet'>
      Theft:
    </li>
    TheProjectProject cares deeply that members feel faith in the community.
    Project creators must feel empowered to share their ideas without fear of
    having those ideas stolen. As such, we will investigate allegations of theft
    intensively.

    <li class='list-bullet'>
      Hate Speech:
    </li>
    Any hateful or ill-motivated speech on the platform will result in immediate
    expulsion.

    <li class='list-bullet'>
      Hacking:
    </li>
    Hacking of the Site is strictly forbidden and will result
    in expulsion and potential legal action. Hacking includes any effort to
    alter or harm site security, stability, or function, to obtain
    private information, or to crawl the website with the use of bots.
    The only exception is White Hat Hacking for the explicit purpose of
    improving site security. In this case, the hacker must first obtain written
    permission from the Administrative Board and not share any details of the
    hack without recieving written permussion from the Board.

    <li class='list-bullet'>
      Harmful Content:
    </li>
    Harmful content is defined as any content posted on the site that might
    cause harm to any person or group to a reasonable degree of likelihood.
    This includes any incitations of violence or project ideas that might lead
    to harm or disruption. Illegal projects are explicitly forbidden.
    Consequences may range from project removal to expulsion.

    <li class='list-bullet'>
      Misrepresentation:
    </li>
    Misrepresentation of credentials or project results taints the repute of the
    community and any allegations will be investigated. Consequences may range
    from a written reprimand to project removal to expulsion.
    <li class='list-bullet'>
      Right of Explusion:
    </li>
    The Site retains the right to remove any member and/or creations
    thereof from the Site. There is no burden placed upon the Site to justify
    or explain removal.
    <li class='list-bullet'>
      Ownership and Privacy:
    </li>
    Information shared to the Site is private: attempts to share or aggregate
    information beyond the boundaries definied by the Site's login wall and
    reasonable community—driven use is forbidden. This includes scraping, analytics,
    and compilation with respect to information on the Site. Site members agree to
    delegate all issues of privacy and ownership resolution to the Site and not to
    implicate or take action against the Site with respect to such issues. They
    understand that, while the Site will take action to prevent such issues,
    their occurence reflects an inherent possiblity in the usage of the Site, and
    is not the fault of the Site.
  </ul>

If you have any questions about these terms, would like to suggest changes, or
feel that you or another member might have violated them, please
<a href='contact'>contact us</a>!
</div>


{% endblock %}
