{% extends "base.html" %}
{% from 'components/form_macros.html' import render_multiselect %}

{% block title %}Apply{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- custom stylesheets -->
  <link type="text/css" href="/css/add_styles.css" rel="stylesheet">
  <link type="text/css" href="/css/form_styles.css" rel="stylesheet">
  <link type='text/css' href='/css/select_styles.css' rel='stylesheet'>
  <link type='text/css' href='/css/slider_styles.css' rel='stylesheet'>
{% endblock %}


{% block content %}

<form class='big-box container justify-content-center' id='apply_form' method='post'>
  <center>
  {% for elt in form %}
    <!-- csrf token -->
    {% if elt.type == 'CSRFTokenField' %}
      {{ elt }}
      {% if elt.errors %}
        <div class="warning">You have submitted an invalid CSRF token.</div>
      {% endif %}
    <!-- boolean field -->
    {% elif elt.type=='BooleanField' %}
      <div class="row input-segment formtab">
        <h6 style="display: inline;">
          I have read and accept the <a href='terms' target="_blank">terms</a>.
        </h6>
        <div class="input-control">
          <input id="toggle-off-q1" class="toggle toggle-left"
                name='{{ elt.name }}' value="true" type="radio">
          <label for="toggle-off-q1" class="btn">
            <span class='presskey'>Y</span>
            Yes
          </label>
        </div>
        {% if elt.errors %}
          <div class="warning">You must accept the terms to apply.</div>
        {% endif %}
      </div>
    <!-- select multiple field -->
    {% elif elt.type=='SelectMultipleField' %}
      <div class="row input-segment formtab">
        <h4 style="display: inline;">{{ elt.label }}</h4>
        <div class='boop'>
          <i style="font-size:24px; color:white;" class="fa">&#xf059;</i>
          <span class="tooltiptext">{{ elt.description }}</span>
        </div>
        <br>
        {% set tags = 1 if not request.MOBILE else 0 %}
        {{ render_multiselect(elt, tags, 1) }}
      </div>
    {% else %}
      <div class="row input-segment formtab">
        <h4 style="display: inline;">{{ elt.label }}</h4>
        {% if elt.description %}
          <div class='boop'>
            <i style="font-size:24px; color:white;" class="fa">&#xf059;</i>
            <span class="tooltiptext">{{ elt.description}}</span>
          </div>
        {% endif %}
        <br>
        {% if not elt.errors %}
          {{ elt(class='input valid', placeholder=elt.render_kw['placeholder']) }}
        {% else %}
          {{ elt(class='input invalid') }}
          <p class='warning'>{{ elt.errors[0] }}</p>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
  <div style="overflow:auto; width:95%;">
    <div class='float-left'>
      <button class='formtab_button' type="button" id="prevBtn" onclick="nextPrev(-1)">
        <span class='presskey' style='margin-bottom:1px;'>
          Shift + Tab
        </span>
        Back
      </button>
    </div>
    <div class='float-right'>
      <button class='formtab_button' type="button" id="nextBtn" onclick="nextPrev(1)">
        <span class='presskey' style='margin-bottom:1px;'>
          Enter
        </span>
        Next
      </button>
    </div>
  </div>
  <div style="text-align:center;margin-top:40px;">
    {% for elt in form %}
      {% if not elt.name in ["csrf_token"] %}
        {% if elt.errors in [[], ()] %}
          <span class="step"></span>
        {% else %}
          <span class="step invalid"></span>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</center>
</form>

<script>
  function submit() {
    document.getElementById("apply_form").submit();
  };

  var currentformtab = {{ start_on }}; // Current formtab is set to be the first formtab (0)
  showformtab(currentformtab); // Display the current formtab

  function showformtab(n) {
    // This function will display the specified formtab of the form ...
    var x = document.getElementsByClassName("formtab");
    x[n].style.display = "block";
    x[n].getElementsByTagName('input')[0].focus();
    // ... and fix the Previous/Next buttons:
    if (n == 0) {
      document.getElementById("prevBtn").style.display = "none";
    } else {
      document.getElementById("prevBtn").style.display = "inline";
    }
    if (n == (x.length - 1)) {
      document.getElementById("nextBtn").innerHTML = "Submit";
    } else {
      document.getElementById("nextBtn").innerHTML = "Next";
    }
    // ... and run a function that displays the correct step indicator:
    fixStepIndicator(n)
  }

  function nextPrev(n) {
    // This function will figure out which formtab to display
    var x = document.getElementsByClassName("formtab");
    // Exit the function if any field in the current formtab is invalid:
    if (n == 1 && !validateForm()) return false;
    // Can't go backwards on first formtab
    if (n == -1 && currentformtab==0) return false;
    // Hide the current formtab:
    x[currentformtab].style.display = "none";
    // Increase or decrease the current formtab by 1:
    currentformtab = currentformtab + n;
    // if you have reached the end of the form... :
    if (currentformtab >= x.length) {
      //...the form gets submitted:
      submit();
      return false;
    }
    // Otherwise, display the correct formtab:
    showformtab(currentformtab);
  }

  $(document).keydown(function(e) {
    // formtab is clicked
    if (e.keyCode==9) {
      // shift is also down = backward
      if (e.shiftKey) {
        e.preventDefault();
        nextPrev(-1);
      }
      // just formtab = forward
      else {
        e.preventDefault();
        nextPrev(1);
      }
    }
    else if (e.keyCode==13) {
      nextPrev(1);
    }
    else if (e.keyCode==89) {
      // WARNING: CHANGE TO BE ON BOOLEAN FIELD formtab IF NUM FIELDS CHANGES
      if (currentformtab==4) {
        $('input[type="radio"]').not(':checked').prop("checked", true);
      }
    }
  });

  function validateForm() {
    // This function deals with validation of the form fields
    var x, y, i, valid = true;
    x = document.getElementsByClassName("formtab");
    y = x[currentformtab].getElementsByTagName("input");
    // A loop that checks every input field in the current formtab:
    for (i = 0; i < y.length; i++) {
      // If field has input tag
      if (y[i].id!="") {
        // If a field is empty...
        if (y[i].value == "") {
          // add an "invalid" class to the field if not interests
          y[i].className += " invalid";
          // and set the current valid status to false:
          valid = false;
        }
      }
    }
    // If the valid status is true, mark the step as finished and valid:
    if (valid) {
      document.getElementsByClassName("step")[currentformtab].className += " finish";
    }
    else {
      document.getElementsByClassName("step")[currentformtab].className += " invalid";
    }
    return true; // return the valid status
  }

  function fixStepIndicator(n) {
    // This function removes the "active" class of all steps...
    var i, x = document.getElementsByClassName("step");
    //... and adds the "active" class to the current step:
    x[n].className = "step active";
  }
</script>


{% endblock %}
