{% extends "base.html" %}
{% from 'macros/forms/field.html' import render_fields %}
{% from 'macros/forms/form.html' import render_form, render_form_control %}

{% block title %}Login{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- custom stylesheets -->
  <link type="text/css" href="/css/add_styles.css" rel="stylesheet">
  <link type="text/css" href="/css/form_styles.css" rel="stylesheet">
  <link type='text/css' href='/css/select_styles.css' rel='stylesheet'>
  <link type='text/css' href='/css/slider_styles.css' rel='stylesheet'>
{% endblock %}


{% block content %}

<div class='big-box container justify-content-center'>
  <form id='login_form'>
    {{ render_field(form) }}
    {{ render_form_control }}
  </form>

  {% for elt in form %}
    <!-- csrf token -->
    {% if elt.type == 'CSRFTokenField' %}
      {{ elt }}
      {% if elt.errors %}
        <div class="warning">You have submitted an invalid CSRF token.</div>
      {% endif %}
    {% else %}
      <div class="row input-segment tab">
        <h4 style="display: inline;">{{ elt.label }}</h4>
        {% if elt.name=='password' %}
          <div class='boop'>
            <i style="font-size:24px; color:white;" class="fa">&#xf059;</i>
            <span class="tooltiptext">
              <a href="{{ url_for('auth.reset') }}">Reset Password</a>
            </span>
          </div>
        {% endif %}
        <br>
        {% if not elt.errors %}
          {{ elt(class='input valid', placeholder=elt.render_kw['placeholder']) }}
        {% else %}
          {{ elt(class='input invalid') }}
          <p class='warning'>{{ elt.errors[0] }}</p>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
  <div style="overflow:auto; width:95%;">
      <div style="float:right;">
        <button type="button" id="prevBtn"
                onclick="nextPrev(-1)">Back</button>
        <button type="button" id="nextBtn"
                onclick="nextPrev(1)">Next</button>
      </div>
  </div>
  <div style="text-align:center;margin-top:40px;">
    {% for elt in form %}
      {% if not elt.name in ["csrf_token"] %}
        {% if elt.errors in [[], ()] %}
          <span class="step"></span>
        {% else %}
          <span class="step invalid"></span>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</center>
</form>

<script>
  var currentTab = {{ start_on }};
  showTab(currentTab);

  $(document).keydown(function(e) {
    var field = getCurrentTab();
    var field_type = field.getAttribute('data-field-type');
    field_keydown(e, field);
  })
</script>


{% endblock %}
