{% extends "base.html" %}
{% from 'macros/forms/field.html' import render_fields %}
{% from 'macros/forms/form.html' import render_form, render_form_control %}

{% block title %}Login{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- custom stylesheets -->
  <link type="text/css" href="/css/add_styles.css" rel="stylesheet">
  <link type="text/css" href="/css/form_styles.css" rel="stylesheet">
  <link type='text/css' href='/css/select_styles.css' rel='stylesheet'>
  <link type='text/css' href='/css/slider_styles.css' rel='stylesheet'>
{% endblock %}


{% block content %}

<div class='big-box container justify-content-center'>
  <form id='login_form'>
    {{ render_fields(form) }}
    {{ render_form_control() }}
  </form>
</div>

<script src='js/form.js'></script>

<script>
  var currentTab = {{ start_on }};
  showTab(currentTab);

  $(document).keydown(function(e) {
    var field = getCurrentTab();
    var field_type = field.getAttribute('data-field-type');
    field_keydown(e, field);
  })

  document.getElementById('login_form').addEventListener(
    'submit',
    function(e) {
      submit_form('login_form', Flask.url_for('auth.login'));
      e.preventDefault();
    }
  )
</script>

{% endblock %}
