{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  <form class='big-box justify-content-center' method='post'>
    {{ form.csrf_token }}
    <h4 style="display: inline;">{{ form.email.label }}</h4>
    <br>
    {{ form.email(class='input valid', placeholder=form.email.render_kw['placeholder']) }}
    {% if form.email.errors %}
      <br><br>
      <p class='warning'>{{ form.email.errors[0] }}</p>
    {% endif %}
  </form>
{% endblock %}
