{% extends 'base.html' %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  <form class='big-box justify-content-center' method='post'>
    {{ form.csrf_token }}
    <div class="row input-segment">
      {% for elt in form %}
        {% if elt.type=='CSRFTokenField' %}
        {% else %}
          <center>
            <h4 style="display: inline;">{{ elt.label }}</h4>
          </center>
          <br>
          {% if not elt.errors %}
            {{ elt(class='input valid') }}
          {% else %}
            {{ elt(class='input invalid') }}
            <div class='warning'>{{ elt[0] }}</div>
          {% endif %}
          <br>
        {% endif %}
      {% endfor %}
    </div>
  </form>
{% endblock %}
