{% extends 'base.html' %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  <form class='big-box justify-content-center' method='post'>
    {{ form.csrf_token }}
    <div class="row input-segment">
      <h4 style="display: inline;">{{ form.email.label }}</h4>
      <br>
      {% if not form.errors %}
        {{ form.email(class='input valid', placeholder=form.email.render_kw['placeholder']) }}
      {% else %}
        {{ form.email(class='input invalid') }}
        <div class='warning'>{{ form.errors[0] }}</div>
      {% endif %}
    </div>
  </form>
{% endblock %}
