{% from 'macros/carousels.html' import render_carousel with context %}

{% extends "home_base.html" %}

{% block title %}{{ competition.name }}{% endblock %}

{% block head %}
  {{ super() }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="css/scroll_styles.css">
    <link rel="stylesheet" href="css/project_styles.css">
    <link rel='stylesheet' href="css/badge_styles.css">
{% endblock %}

{% block content %}
<div class='container my-1' style='min-width:90%; padding-top:10px;'>
  {{ macros.render_competition_card(competition) }}
  {{ render_carousel(
      label='Projects',
      id_postfix='project',
      card_type='project-big',
      data=competition.projects,
      icon_type='project',
      redirect_empty='/add_project')
  }}
</div>
{% endblock %}


<!--
<div>
  {% for tab in recommended %}
    {% for project in tab %}
      {{ macros.render_join_modal(current_user, project, project_application) }}
    {% endfor %}
  {% endfor %}
</div> -->
