{% from 'macros/cards/competition.html' import render_competition_card %}
{% from 'macros/carousels.html' import render_carousel with context %}

{% extends "home_base.html" %}

{% block title %}{{ competition.name }}{% endblock %}

{% block head %}
  {{ super() }}
  <!-- custom css -->
  <link rel="stylesheet" href="/css/scroll_styles.css">
  <link rel="stylesheet" href="/css/project_styles.css">
{% endblock %}

{% block content %}
<div class='container my-1 main'>
  {{ render_competition_card(competition) }}
  {{
    render_carousel(
      label='Projects',
      id_postfix='project',
      card_type='project-big',
      data=submissions,
      icon_type='project',
      redirect_empty="{{ url_for('project.add_project', competition_id=competition.id) }}")
  }}
</div>
<script src="js/stars.js"></script>
{% endblock %}
