{% from 'cookie.html' import cookie %}

<!-- desktop imports TODO: think abt not importing w mobile or smth -->
{% from 'macros/chat.html' import render_channel with context %}

<!-- cache -->
<!-- TODO: replace is add with active page -->
{% set is_add = is_add | default(false) %}

<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <!-- metas -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,
                                    initial-scale=1,
                                    shrink-to-fit=no">
      <meta name="author" content="Landon Smith">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{% block title %}{% endblock %} | TheProjectProject</title>
      <!-- css -->
      <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      <link href="/vendor/fontawesome-free/css/all.css" rel="stylesheet">
      <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
      <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
      <!-- glider -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
      <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
      <!-- custom stylesheets -->
      <link type="text/css" href="/css/stylesheet.css" rel="stylesheet">
      <link type="text/css" href="/css/home_styles.css" rel="stylesheet">
      <link type="text/css" href="/css/badge_styles.css" rel='stylesheet'>
      <link type="text/css" href="/css/chat_styles.css" rel='stylesheet'>
      <link type="text/css" href="/css/form_styles.css" rel='stylesheet'>
      <!-- favicon -->
      <link rel="shortcut icon" href="img/logo.ico" type="image/x-icon">
      <link rel="icon" href="/img/logo.ico" type="image/x-icon">
      <!-- cookie for analytics -->
      {{ cookie() }}
      <!-- js glue for building endpoints -->
      {{ JSGlue.include() }}
    {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger"
          href={% if current_user.is_authenticated %}"/home"{% else %}'/'{% endif %}>
          <div class='small-head'>
            <h4>TheProjectProject</h4>
          </div>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% if g.search_form %}
              <form class="form-inline my-2 my-sm-0" action="{{ url_for('hub.search') }}" method='get'>
                {{ g.search_form.search(style='display:inline;', class="mr-sm-2 search-bar", placeholder="search...") }}
              </form>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" id='add-project' href="{{ url_for('add.add_page') }}" data-toggle="tooltip" data-placement="bottom" title="Try adding a project you've already worked on to showcase your skills or an idea you have to start building!">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x icon-background"></i>
                  <i class="fas fa-plus fa-stack-1x icon-top"></i>
                </span>
                <span class='mobile-show'>
                  add
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('badge.perk_page') }}">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x icon-background"></i>
                  <i class="fas fa-trophy fa-stack-1x icon-top"></i>
                </span>
                <span class='mobile-show'>
                  perks
                </span>
              </a>
            </li>
            {% if current_user.admin %}
              <li class="nav-item">
                <a class="nav-link" href="/admin">
                  <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                    <i class="fa fa-user-plus fa-stack-1x icon-top"></i>
                  </span>
                  <span class='mobile-show'>
                    admin
                  </span>
                </a>
              </li>
            {% endif %}
            <!-- mobile redirects to other page -->
            {% if current_user.is_authenticated %}
              {% set message_dropdown = (not request.MOBILE and not is_add) %}
              <li class="nav-item dropdown">
                <a id="messagesBtn" class="nav-link dropdown-toggle" {% if not message_dropdown %}href="{{ url_for('message.messages') }}"{% else %}href='#' onclick="open_message_dropdown();" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% endif %}>
                  <!-- messages -->
                  <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                    <i class="fas fa-comment fa-stack-1x icon-top"></i>
                  </span>
                  {% set n_unseen = current_user.new_messages(return_messages=False) %}
                  {% set display = 'none' if (n_unseen == 0) else 'inline-block' %}
                  <span id='nMessageBadge' class='badge' style='display: {{ display | safe }} ;'>
                      {{ n_unseen }}
                  </span>
                  <span class='mobile-show'>
                    messages
                  </span>
                </a>
                {% if message_dropdown %}
                  <div class="dropdown-menu" id='messagesDropdown' aria-labelledby="messageDropdownMenuLink">
                    <div class='dropdown-item searchbox'>
                      <input class='select-clean' type="text" placeholder="search..." id="messagesSearch" onkeyup="filterFunction('messagesSearch', 'messagesDropdown')">
                    </div>
                    <div id='channelList'>
                      Loading messages...
                    </div>
                  </div>
                {% endif %}
              </li>
              <!-- user/settings page -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{ current_user.get_url() }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                    <i class="fa fa-user fa-stack-1x icon-top"></i>
                  </span>
                  {% set n_unseen = current_user.n_unseen() %}
                  {% if n_unseen > 0 %}
                    <span class="badge">
                      {{ n_unseen }}
                    </span>
                  {% endif %}
                  <span class='mobile-show'>
                    {{ current_user.name }}
                  </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ current_user.get_url() }}">Profile</a>
                  <a class="dropdown-item" href="{{ url_for('notification.notifications') }}">
                    Notifications
                    {% if n_unseen > 0 %}
                      <span class="badge">{{ n_unseen }}</span>
                    {% endif %}
                  </a>
                  <a class="dropdown-item" href="{{ url_for('base.contact') }}">
                    Contact
                  </a>
                  <a class="dropdown-item" href="{{ url_for('auth.logout') }}">
                    Log Out
                  </a>
                </div>
              </li>
            {% else %}
              <li class="nav-item dropdown" style='list-style-type:none;'>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                    <i class="fa fa-user-plus fa-stack-1x icon-top"></i>
                  </span>
                </a>
                <div class="dropdown-content">
                  <a href="/apply">Apply</a>
                  <a href="/login">Login</a>
                </div>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- add padding below navbar for mobile -->
    <!-- <p id='nav-pad' style='padding:0px!important;margin:0px!important;'/> -->

    <!-- flash messages -->
    {% if current_user.is_authenticated %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages|reverse %}
            <div class="toast" role="alert" style='position: fixed; z-index:9999;' aria-live="assertive" aria-atomic="true" data-autohide="false">
              <div class="toast-header">
                <button type="button" class="float-right close" data-dismiss="toast" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="toast-body">
                {{ message }}
              </div>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <!-- notification messages -->
      {% for notification in g.notifications %}
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style='position: fixed; z-index:9999;' data-autohide='false'>
            <div class="toast-header">
              <i class="fa fa-exclamation-circle orange" aria-hidden="true"></i>
              &nbsp;
              <strong class="mr-auto">{{ notification.name }}</strong>
              <small>{{ notification.timestamp | ago }}</small>
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% if notification.text %}
              <a href='{{ notification.redirect }}'>
                <div class="toast-body">
                  {{ notification.text }}
                </div>
              </a>
            {% else %}
              <div class="toast-body">
                {{ notification.text }}
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    {% endif %}

    {% block content %} {% endblock %}

    <!-- block for fully-realized channels -->
    <div id='messageBox'>
      {% block messages %}
        <div style='display: hidden;'></div>
      {% endblock %}
    </div>


    <!-- TODO: implement script block here -->
    {% block scripts %}
    {% endblock %}

    <script src="js/listbox.js"></script>
    <script src="js/cardbox.js"></script>

    {% if current_user.is_authenticated %}
      <script src="js/chat.js"></script>
      <script src="js/search.js"></script>
      <script>
        // start polling for new messages (every 5 seconds at the momemnt)
        var new_message_poller = setInterval(poll_new_messages, 5000);
        window.new_message_poller = new_message_poller;
      </script>
    {% endif %}

    <script>
      $.ajaxSetup({
        headers: {'X-CSRFToken': '{{ csrf_token() }}'}
      })
    </script>

    <script>
      $('.toast').toast('show');
    </script>

  </body>
</html>
