{% from 'cookie.html' import cookie %}

<!-- desktop imports TODO: think abt not importing w mobile or smth -->
{% from 'macros/chat.html' import render_channel with context %}

<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <!-- metas -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,
                                    initial-scale=1,
                                    shrink-to-fit=no">
      <meta name="author" content="Landon Smith">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{% block title %}{% endblock %} | TheProjectProject</title>
      <!-- css -->
      <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      <link href="/vendor/fontawesome-free/css/all.css" rel="stylesheet">
      <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
      <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
      <!-- glider -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
      <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
      <!-- custom stylesheets -->
      <link type="text/css" href="/css/stylesheet.css" rel="stylesheet">
      <link type="text/css" href="/css/home_styles.css" rel="stylesheet">
      <link type="text/css" href="/css/badge_styles.css" rel='stylesheet'>
      <!-- favicon -->
      <link rel="shortcut icon" href="img/logo.ico" type="image/x-icon">
      <link rel="icon" href="/img/logo.ico" type="image/x-icon">
      {{ cookie() }}
    {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger"
          href={% if current_user.is_authenticated %}"/home"{% else %}'/'{% endif %}>
          <div class='small-head'>
            <h4>TheProjectProject</h4>
          </div>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% if g.search_form %}
              <form class="form-inline my-2 my-sm-0" action="{{ url_for('hub.search') }}" method='get'>
                {{ g.search_form.search(style='display:inline;', class="mr-sm-2 search-bar", placeholder="search...") }}
              </form>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" id='add-project' href="/add_project" data-toggle="tooltip" data-placement="bottom" title="Try adding a project you've already worked on to showcase your skills or an idea you have to start building!">
                add project
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('badge.perk_page') }}">
                perks
              </a>
            </li>
            {% if current_user.admin %}
              <li class="nav-item">
                <a class="nav-link" href="/admin">admin</a>
              </li>
            {% endif %}
            {% if current_user.is_authenticated %}
              <!-- messages -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  messages
                </a>
                <div class="dropdown-menu" aria-labelledby="messageDropdownMenuLink">
                  {% for uc in current_user.channels %}
                    <div class="dropdown-item" onclick="open_channel('{{ uc.channel.id }}');">
                      {{ uc.channel.name(current_user, html=False) }}
                      {% set n_unseen = uc.n_unseen() %}
                      {% if n_unseen > 0 %}
                        <span class="badge" style='background:#FF5D00;; vertical-align:top;'>{{ n_unseen }}</span>
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              </li>

              <!-- user/settings page -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{ current_user.get_url() }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ current_user.name }}
                  {% set n_unseen = current_user.n_unseen() %}
                  {% if n_unseen > 0 %}
                    <span class="badge" style='background:#FF5D00; vertical-align:top;'>
                      {{ n_unseen }}
                    </span>
                  {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ current_user.get_url() }}">Profile</a>
                  <a class="dropdown-item" href="{{ url_for('notification.notifications') }}">
                    Notifications
                    {% if n_unseen > 0 %}
                      <span class="badge" style='background:#FF5D00;; vertical-align:top;'>{{ n_unseen }}</span>
                    {% endif %}
                  </a>
                  <a class="dropdown-item" href='/contact'>Contact</a>
                  <a class="dropdown-item" href="/logout">Log Out</a>
                </div>
              </li>
            {% else %}
              <li class="nav-item" style='list-style-type:none;'>
                <div class="dropdown">
                  <button class="dropbtn" style="border:0px; display:inline;">
                    sign up
                  </button>
                  <div class="dropdown-content">
                    <a href="/apply">Apply</a>
                    <a href="/login">Login</a>
                  </div>
                </div>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- add padding below navbar for mobile -->
    <!-- <p id='nav-pad' style='padding:0px!important;margin:0px!important;'/> -->

    <!-- flash messages -->
    {% if current_user.is_authenticated %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages|reverse %}
            <div class="toast" role="alert" style='position: fixed; z-index:9999;' aria-live="assertive" aria-atomic="true" data-autohide="false">
              <div class="toast-header">
                <button type="button" class="float-right close" data-dismiss="toast" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="toast-body">
                {{ message }}
              </div>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <!-- notification messages -->
      {% for notification in g.notifications %}
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style='position: fixed; z-index:9999;' data-autohide='false'>
            <div class="toast-header">
              <i class="fa fa-exclamation-circle orange" aria-hidden="true"></i>
              &nbsp;
              <strong class="mr-auto">{{ notification.name }}</strong>
              <small>{{ notification.timestamp | ago }}</small>
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% if notification.text %}
              <a href='{{ notification.redirect }}'>
                <div class="toast-body">
                  {{ notification.text }}
                </div>
              </a>
            {% else %}
              <div class="toast-body">
                {{ notification.text }}
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    {% endif %}

    {% block content %} {% endblock %}

    <!-- show render empty message box for nonmobile users -->
    {% if not request.MOBILE %}
      <link type="text/css" href="/css/chat_styles.css" rel='stylesheet'>
      <div id='messageBox'>
        {% block messages %}
          <div style='display: hidden;'></div>
        {% endblock %}
      </div>
    {% endif %}


    <!-- TODO: implement script block here -->
    {% block scripts %}
    {% endblock %}

    <script>
      function toggleMessages() {
        alert('toggle');
      }
    </script>

    <script src="js/chat.js"></script>

    <!-- CHAT BOX -->
    <script>
      function poll_channel(channel_id, since) {
        const data = {
          'since'   :   String(since),
          'channel' :   String(channel_id)
        };
        const searchParams = new URLSearchParams(data);
        $.ajax('{{ url_for('message.check_messages') }}?' + searchParams).done(
            function(message_data) {
                since = message_data['since'];
                new_messages = message_data['new_messages'];
                for (var i = 0; i < new_messages.length; i++) {
                    messages.innerHTML += new_messages[i];
                    messages.scrollTo(0, messages.scrollHeight);
            }
          }
        );
      }

      var polling_interval = 1000;
      var intervalFunction = setInterval(function(channel_id, since) {

      }, polling_interval);

      function openForm(channel_id) {
        var messages = document.getElementById('messages');
        document.getElementById("myForm").style.display = "block";
        document.getElementById('openBtn').style.display = 'none';
        // scroll to bottom of messages
        messages.scrollTo(0, messages.scrollHeight);
        // start polling
        intervalFunction(channel_id, 0);
      }

      function closeForm() {
        document.getElementById("myForm").style.display = "none";
        document.getElementById('openBtn').style.display = 'block';
        clearInterval(intervalFunction);
      }

      function clearChat() {
        // document.getElementById('messageBox').innerHTML = '';
        clearInterval(intervalFunction);
      }
    </script>
    <!-- /CHAT BOX -->

    <script>
      $.ajaxSetup({
        headers: {'X-CSRFToken': '{{ csrf_token() }}'}
      })
    </script>

    <script>
      $('.toast').toast('show');
    </script>

  </body>

  <!-- modal block for all page modals  -->
  <!-- TODO: get this actually working -->
  <div id='modals' style='display:hidden;'>
  </div>

</html>
