{% import 'macros.html' as macros %}

<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <!-- metas -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,
                                    initial-scale=1,
                                    shrink-to-fit=no">
      <meta name="description" content="Welcome to the The Project Project!
                                        We're excited to have you.">
      <meta name="author" content="Landon Smith">
      <title>{% block title %}{% endblock %} | TheProjectProject</title>
      <!-- css -->
      <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      <link href="vendor/fontawesome-free/css/all.css" rel="stylesheet">
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
      <link type="text/css" href="css/stylesheet.css" rel="stylesheet">
      <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
      <!-- custom stylesheets -->
      <link type="text/css" href="css/stylesheet.css" rel="stylesheet">
      <link type="text/css" href="css/home_styles.css" rel="stylesheet">
      <link rel='stylesheet' href="css/badge_styles.css">
      <!-- favicon -->
      <link rel="shortcut icon" href="img/logo.ico" type="image/x-icon">
      <link rel="icon" href="/img/logo.png.ico" type="image/x-icon">
    {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/home">
          <div class='small-head'>
            <h4>TheProjectProject</h4>
          </div>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
              <form class="form-inline my-2 my-sm-0" action='/search' method='get'>
                {{ g.search_form(style='display:inline;', class="mr-sm-2 search-bar", placeholder="search...", aria-label="Search") }}
              </form>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="/add_project">add project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('badge.badge_page') }}">perks</a>
            </li>
            {% if current_user.admin %}
            <li class="nav-item">
              <a class="nav-link" href="/admin">admin</a>
            </li>
            {% endif %}
          </ul>
          {% if current_user.is_authenticated %}
            <li class="nav-item" style='list-style-type:none;'>
                <div class="dropdown">
                  <button class="dropbtn" style="border:0px; display:inline;">
                    {{ current_user.name }}
                    {% set n_unseen = current_user.n_unseen() %}
                    {% if n_unseen > 0 %}
                      <span class="badge" style='background:#FF5D00;; vertical-align:top;'>{{ n_unseen }}</span>
                    {% endif %}
                  </button>
                  <div class="dropdown-content">
                    <a href="/user={{ current_user.code }}">Profile</a>
                    <a href="{{ url_for('notification.notifications') }}">
                      Notifications
                      {% if n_unseen > 0 %}
                        <span class="badge" style='background:#FF5D00;; vertical-align:top;'>{{ n_unseen }}</span>
                      {% endif %}
                    </a>
                    <a href='/contact'>Contact</a>
                    <a href="/logout">Log Out</a>
                  </div>
                </div>
              </li>
            {% endif %}
        </div>
      </div>
    </nav>

    <!-- TODO: flash class doesn't work yet -->
    <!-- {% with messages = get_flashed_messages() %}
	    {% if messages %}
	      {% for message in messages %}
          <div class="alert alert-warning alert-dismissible" style='margin:0px;' role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            {{message}}
         </div>
        {% endfor %}
	    {% endif %}
	  {% endwith %} -->

    <!-- add padding below navbar for mobile -->
    <p id='nav-pad' style='padding:0px!important;margin:0px!important;'/>

    {% block content %} {% endblock %}

    <script>
      var h = $('#mainNav').height();
      $('#nav-pad').height(h);
      // document.body.scrollHeight = '1' + 'px';
    </script>

  </body>
</html>
