<!-- CARD COMPONENTS -->
{% macro render_project_name(project, user) -%}
{% if user.is_authenticated %}
  <a class='project-name' href='project={{ project.code }}'>
{% else %}
  <a class='project-name' href='/login'>
{% endif %}
  <h5>
    {{ project.name }}
    {% if project.complete %}
      <i class="fa fa-check-circle" aria-hidden="true" style='color:#00FF5D;'></i>
    {% elif not project.open %}
      <i class="fa fa-lock" aria-hidden="true" style='color:#F4D510;'></i>
    {% elif project.recently_active() %}
      <i class="fa fa-circle" aria-hidden="true" style='color:#00FF5D;'></i>
    {% endif %}
  </h5>
</a>
{% endmacro -%}

<!-- CARDS -->
<!-- project cards -->
{% macro render_big_project_card(current_user, project, now, calc_days_since) -%}
<div class="col-md-4">
  <div class="card mb-2">
    <div class="card-body">
      <div class='float-right info-nums'>
        {{ project.members.all()|length }} / {{ project.team_size }}
        <i class='far fa-user-circle'></i>
        <br>
        {{ project.stars.all()|length }}
        <i class="fa fa-star"></i>
      </div>
      <div class='card-head'>
        {{ render_project_name(project, current_user) }}
        <a href='user={{ project.owner.code }}'>
          <p class='owner'>{{ project.owner.name }}</p>
        </a>
      </div>
      <hr class="my-4">
      <!-- summary -->
      <div class='card-text'>
        <p class='oneliner'>
          {{ project.oneliner }}
        </p>
        <p style='color:rgba(0,0,0,0.7);'>{{ project.summary }}</p>
      </div>
      <div class='card-foot float-left'>
        <p style="padding-bottom:0px; margin-bottom:0px;">
          <i class="fa fa-clock-o"></i>
          {{ calc_days_since(now(), project.posted_on) }} / {{ project.estimated_time }}
          days
        </p>
        <div>
          {% for subject in project.subjects|reverse %}
            <a href='/subject={{ subject.code }}'>
              {% if loop.index>1 %}
              ,
              {% endif %}
              <p class='subject-tag' style='background:{{ subject.color }};'>
                {{ subject.name }}
              </p>
            </a>
          {% endfor %}
        </div>
      </div>
      {% if current_user.is_authenticated %}
        <br><br>
        <hr class="my-4">
        {{ render_project_action_bar(current_user, project) }}
      {% endif %}
    </div>
  </div>
</div>
{%- endmacro %}


{% macro render_mid_project_card(current_user, project, now, calc_days_since) -%}
<div class="col-md-4">
  <div class="card mb-2">
    <div class="card-body">
      <p class="float-right info-nums">
        {{ project.members.all()|length  }}
        <i class='far fa-user-circle'></i>
        <br>
        {{ project.stars.all()|length }}
        <i class="fa fa-star"></i>
      </p>
      <div class='card-head little'>
        {{ render_project_name(project, current_user) }}
        <a href='user={{ project.owner.code }}'>
          <p>{{ project.owner.name }}</p>
        </a>
      </div>
      <p class='oneliner'>
        {{ project.oneliner }}
      </p>
    </div>
  </div>
</div>
{% endmacro -%}


{% macro render_small_project_card(current_user, project, now, calc_days_since) -%}
<div class="col-md-4">
  <div class="card mb-2">
    <div class="card-body">
      <div class='float-right'>
        {% if current_user==project.owner %}
          {% set pending = project.pending.all()|length %}
          {{ pending }}
          {% if pending>0 %}
            <i class="fa fa-bell" aria-hidden="true"></i>
          {% else %}
            <i class="fa fa-bell-o" aria-hidden="true"></i>
          {% endif %}
          <br>
        {% endif %}
        {{ project.stars.all()|length }}
        <i class="fa fa-star"></i>
      </div>
      <div class='card-head tiny'>
        {{ render_project_name(project, current_user) }}
      </div>
      <!-- summary -->
      <p class='oneliner'>
        {{ project.oneliner }}
      </p>
    </div>
  </div>
</div>
{% endmacro -%}

<!-- project card to be shown to anonymous users -->
{% macro render_anon_project_card(project, current_user) -%}
<div class="col-md-4">
  <div class="card mb-2">
    <div class="card-body">
      <p class="float-right info-nums">
        {{ project.members.all()|length  }}
        <i class='far fa-user-circle'></i>
        <br>
        {{ project.stars.all()|length }}
        <i class="fa fa-star"></i>
      </p>
      <div class='card-head little'>
        {{ render_project_name(project, current_user) }}
        <p class='oneliner'>
          {{ project.oneliner }}
        </p>
      </div>
      <div class='card-foot float-left'>
        <div>
          {% for subject in project.subjects|reverse %}
            <a href='/subject={{ subject.code }}'>
              {% if loop.index>1 %}
              ,
              {% endif %}
              <p class='subject-tag' style='background:{{ subject.color }};'>
                {{ subject.name }}
              </p>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro -%}


<!-- subject cards -->
{% macro render_subject_card(subject) -%}
<div class="col-md-4">
  <a class='project-name' href='subject={{ subject.code }}'>
    <div class="card mb-2">
      <div class="card-body"
      style='background: {{ subject.color }}'>
        <p class="float-right" style='color:white;'>
          {{ subject.projects.all()|length  }}
          <i class='fa fa-circle'></i>
          <br>
          {{ subject.users|length  }}
          <i class='fa fa-user-circle'></i>
        </p>
        <div class='card-head tiny'>
          <h5 style='color:white;'>{{ subject.name }}</h5>
        </div>
      </div>
    </div>
  </a>
</div>
{% endmacro -%}


<!-- BUTTONS -->
{% macro render_join_button(current_user, project) -%}
  {% if not current_user in project.members %}
    {% if current_user.has_applied(project) %}
      <button type="button" class="btn" disabled>
          Pending
      </button>
    {% elif project.complete==True %}
      <button type="button" class="btn" disabled>
        Complete
      </button>
    {% elif project.open==False %}
      <button type="button" class="btn" disabled>
        Closed
      </button>
    {% elif project in current_user.invitations %}
      <button type="button" class="btn" data-toggle="modal" data-target="#modal_project_{{ project.id }}">
        Respond
      </button>
    {% else %}
      <button type="button" class="btn" data-toggle="modal" data-target="#modal_project_{{ project.id }}">
        Join
      </button>
    {% endif %}
  {% else %}
    <button type="button" class="btn" data-toggle="modal" data-target="#modal_project_{{ project.id }}">
        Leave
    </button>
  {% endif %}
{% endmacro -%}


{% macro render_collaborate_button(current_user, target_user) -%}
  {% if current_user!=target_user %}
    <button type="button" class="btn" data-toggle="modal" data-target="#modal_user_{{ target_user.id }}">
        Collab
    </button>
  {% else %}
    <button type="button" class="btn" disabled>
        You!
    </button>
  {% endif %}
{% endmacro -%}


{% macro render_project_action_bar(current_user, project) -%}
<div class='action-bar'>
  {% if current_user in project.stars %}
    <a href="{{ url_for('project.like_action', project_id=project.id, action='unlike') }}">
      <i class="fa fa-star"></i>
    </a>
  {% else %}
    <a href="{{ url_for('project.like_action', project_id=project.id, action='like') }}">
      <i class="fa fa-star-o"></i>
    </a>
  {% endif %}
  &nbsp;
  {{ render_join_button(current_user, project) }}
  &nbsp;
  {{ render_project_share_button(project) }}
</div>
{% endmacro -%}



{% macro render_project_share_button(project) -%}
  <!-- TODO: FIX BASE URL SO PROJECT.CODE IS EVAL -->
  {% set base_url = "http://theprojectproject.io/project=" %}
  {% set base_url =  base_url + project.code %}
  <div class='hoverable'>
    <i class="fa fa-share-alt" aria-hidden="false"></i>
    <span class='tooltiptext'>
      <!-- twitter -->
      <a class="twitter-share-button"
          href="https://twitter.com/share?url={{ base_url }}"
          data-size="large">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <!-- facebook -->
      <a class="facebook-share-button"
        href="https://www.facebook.com/sharer/sharer.php?u={{ base_url }}" target="_blank">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </a>
      <!-- linkedin -->
      <a class="linkedin-share-button"
          href="https://www.linkedin.com/sharing/share-offsite/?url={{ base_url }}"
          target="_blank">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </a>
      <!-- email -->
      <a class="email-share-button"
          href="mailto:?subject={{ project.name }} on TheProjectProject&body=Check out {{ project.name }} on TheProjectProject:%0D%0A{{ base_url }}">
          <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
    </span>
  </div>
{% endmacro -%}


<!-- MODALS -->
{% macro render_join_modal(current_user, project, project_application) -%}
<div id="modal_project_{{ project.id }}" class="modal fade" role="dialog" style='z-index:9999;'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href='project={{ project.code }}' style='color:black;'>
          <h5>{{ project.name }}</h5>
        </a>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
    {% if project in current_user.invitations %}
      <div class="modal-body">
          You have been invited to join <a href='/project={{ project.code }}'>{{ project.name }}</a>.
          Accept below to join!
      </div>
      <div class="modal-footer">
        <a class='delete-btn task-btn float-left'
        style='background: transparent;'
        href="{{ url_for('user.reject_collaboration', project_id=project.id) }}">
          <button class='btn'>Decline</button>
        </a>
        <a class='complete-btn task-btn float-right'
            style='background: transparent;'
            href="{{ url_for('user.accept_collaboration', project_id=project.id) }}">
          <button class='btn'>Accept</button>
        </a>

      </div>
    {% elif not current_user in project.members %}
      <form action="{{ url_for('project.join_project', project_id=project.id) }}" method='post'>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="modal-body">
          {% if project.requires_application %}
            <p>"{{ project.application_question }}"</p>
              {{ project_application.hidden_tag() }}
              {{ project_application.response(class='join-input', placeholder='Response', required=True) }}
          {% else %}
            <p>Welcome to {{ project.name }}! Click to join.</p>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button class='btn'>Join</button>
        </div>
      </form>
    {% else %}
      <form action="{{ url_for('project.leave_project', project_id=project.id) }}" method='post'>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="modal-body">
            {% if project.owner==current_user %}
              {% if project.members.all()|length>1 %}
                <p style='color:red;'>
                  WARNING: To leave {{ project.name }}, you will have to transfer
                  all control of the project. You may be unable to join again.
                </p>
                <label for="new_owner">Select new project owner to leave:</label>
                <br>
                <select name="new_owner" id="new_owner" class='select-clean'>
                  {% for member in project.members %}
                    {% if not member==project.owner %}
                      <option value="{{ member.id }}">{{ member.name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              {% else %}
                <p style='color:red;'>
                  WARNING: If you leave {{ project.name }}, there will be no
                  members left and the project will be deleted. Are you sure
                  you want to leave?
                </p>
              {% endif %}
            {% elif project.complete==True %}
              <p style='color:red;'>
                WARNING: {{ project.name }} has been marked as complete. If you
                leave you will not be able to join again unless this status is
                changed. Are you sure you want to leave?
              </p>
            {% elif project.open==False %}
              <p style='color:red;'>
                WARNING: {{ project.name }} has been marked as closed. If you
                leave you will not be able to join again unless this status is
                changed. Are you sure you want to leave?
              </p>
            {% elif project.requires_application==True %}
              <p style='color:red;'>
                WARNING: If you leave {{ project.name }}, you will have to
                apply to join again. Are you sure you want to leave?</p>
            {% else %}
              <p>Are you sure you want to leave {{ project.name }}?</p>
            {% endif %}
          </div>
          <div class="modal-footer">
            <button class='btn'>Leave</button>
          </div>
        </form>
    {% endif %}
    </div>
    </div>
  </div>
{%- endmacro %}



{% macro render_report_modal(target_user) -%}
<div id="report_modal_{{ target_user.id }}" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href='user={{ target_user.code }}' style='color:black;'>
          <h5>Report {{ target_user.name }}:</h5>
        </a>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form action="{{ url_for('user.report_user', target_user_id=target_user.id) }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="modal-body">
            <p>
              TheProjectProject is intended to be a safe, welcoming place full of innovation
              and passion. We take violations of our community guidelines very seriously,
              and thank you for reporting this potential infraction. Please tell us
              what happened:
            </p>
            <br>
            <input type='text' name='report_text' id='report_text' maxlength=250 class='join-input' required/>
            <small><center>Limit: 250 characters</center></small>
            <br>
            <p>
              This report is totally anonymous: {{ target_user.name }} will not
              be given any information without your permission. If necessary, we
              we may want to follow up with you as we investigate.
            </p>
        </div>
        <div class="modal-footer">
          <button class='btn'>Submit Report</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endmacro -%}


{% macro render_edit_project_modal(project, edit_form, completion_data) -%}
<div id="edit_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h5>Edit {{ project.name }}</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      {% if project.complete==False %}
        <form id='editForm' method='post'>
          <div class="modal-body">
            <!-- token -->
            {{ edit_form.csrf_token }}
            <!-- DESCRIPTION -->
            <center>
              <h6 style='text-decoration:underline;'>Description</h6>
            </center>
            <!-- name -->
            {{ edit_form.name.label }}:<br>
            {{ edit_form.name(class='edit-input', value=project.name) }}
            {% if edit_form.name.errors %}
              <p class='warning'>{{ edit_form.name.errors[0] }}</p>
            {% endif %}
            <hr class='my-2'><br>
            <!-- oneliner -->
            {{ edit_form.oneliner.label }}:<br>
            {{ edit_form.oneliner(class='edit-input', value=project.oneliner) }}
            {% if edit_form.oneliner.errors %}
              <p class='warning'>{{ edit_form.oneliner.errors[0] }}</p>
            {% endif %}
            <hr class='my-2'><br>
            <!-- summary -->
            {{ edit_form.summary.label }}:<br>
            {{ edit_form.summary(class='edit-input', value=project.summary) }}
            {% if edit_form.summary.errors %}
              <p class='warning'>{{ edit_form.summary.errors[0] }}</p>
            {% endif %}
            <hr class='my-2'><br>
            <!-- MANAGEMENT -->
            <center>
              <h6 style='text-decoration:underline;'>Management</h6>
            </center>
            <div class='row' style='text-align:center;'>
              <div class='col'>
                <span>
                  Team Size:<br>
                  <i class='far fa-user-circle'></i>
                  {{ project.members.all()|length }} /
                  <input type='number' step=1 min='{{ project.members.all()|length }}'
                      max='{{ edit_form.team_size.render_kw["max"] }}' value="{{ project.team_size }}"
                      name='{{ edit_form.team_size.name }}'/>
                </span>
              </div>
              <div class='col'>
                <span>
                  Estimated Time:<br>
                  <i class="fa fa-clock-o"></i>
                  {{ completion_data['elapsed'] }} /
                  <input type='number' step=1 min='{{ completion_data["elapsed"] }}'
                      max='{{ completion_data["elapsed"] + edit_form.estimated_time.render_kw["max"] }}'
                      value="{{ project.estimated_time }}"
                      name='{{ edit_form.estimated_time.name }}'></input>
                </span>
              </div>
            </div>
            <br>
            <hr class='my-2'><br>
            <!-- ACTIONS -->
            <center>
              <h6 style='text-decoration:underline;'>Actions</h6>
            </center>
            <div class='row' style='text-align:center;'>
              <div class='col'>
                <button type='button' data-toggle='modal' data-target='#complete_modal' class='btn'>
                  Complete
                </button>
              </div>
              <div class='col'>
                <button type='button' data-toggle='modal' data-target='#open_modal' class='btn'>
                  {% if project.open %}
                    Close
                  {% else %}
                    Open
                  {% endif %}
                </button>
              </div>
              <div class='col'>
                {% if project.open %}
                  <button type='button' data-toggle='modal' data-target='#requires_application_modal' class='btn'>
                {% else %}
                  <button type='button' data-toggle='modal' data-target='#requires_application_modal' class='btn' disabled>
                {% endif %}
                    Edit App.
                  </button>
              </div>
            </div>
          </div>
          <div class="modal-footer row m-3">
            <button type='button' data-toggle='modal' data-target='#modal_project_{{ project.id }}' class='btn delete-btn col float-left'>
              Leave Project
            </button>
            <button class='btn col'>Change</button>
          </div>
        </form>
      {% else %}
        <form action="{{ url_for('project.uncomplete_project', project_id=project.id) }}" method='post'>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="modal-body">
            <button class='btn col'>
              Mark Incomplete
            </button>
          </div>
        </form>
      {% endif %}
    </div>
  </div>
</div>
{% endmacro -%}


{% macro render_complete_modal(project) -%}
<div id="complete_modal" class="modal fade" role="dialog" style='z-index:9999;'>
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h5>Complete {{ project.name }}</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form action="{{ url_for('project.complete_project', project_id=project.id) }}" method='post'>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="modal-body">
          <p>
            Congratulations on completing {{ project.name }}! In light of your
            amazing work, we may want to share your project on TheProjectProject's
            social media or put you in touch with funding/award opportunities.
            We will reach out to ask permission if this is the case. You will be
            able to edit the completed setting should you want to work more on
            {{ project.name }} later.
          </p>
        </div>
        <div class="modal-footer">
          <button class='btn' id='complete-btn'>Complete</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endmacro -%}


{% macro render_open_modal(project) -%}
<div id="open_modal" class="modal fade" role="dialog" style='z-index:9997;'>
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        {% if project.open %}
          <h5>Close {{ project.name }}</h5>
          {% set action = 'close' %}
        {% else %}
          <h5>Open {{ project.name }}</h5>
          {% set action = 'open' %}
        {% endif %}
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form action="{{ url_for('project.change_project_open', project_id=project.id, action=action) }}" method='post'>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="modal-body">
          <p>
            {% if project.open %}
              You are tyring to close {{ project.name }}. This will not
              remove current members, but will prevent other members from joining
              and will hide {{ project.name }} from other's recommended feed.
            {% else %}
              You are trying to open {{ project.name }}. This will allow other users
              to see the project in their recommended feed and apply. To edit application
              settings, please check the "Edit App" button.
            {% endif %}
          </p>
        </div>
        <div class="modal-footer">
          <button class='btn'>
            {% if project.open %}
              Close Project
            {% else %}
              Open Project
            {% endif %}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endmacro -%}


{% macro render_requires_application_modal(project, edit_application_form) -%}
<div id="requires_application_modal" class="modal fade" role="dialog" style='z-index:9997;'>
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        {% if project.requires_application %}
          <h5>Edit Application: {{ project.name }}</h5>
          {% set action = 'edit' %}
        {% else %}
          <h5>Add Application: {{ project.name }}</h5>
          {% set action = 'add' %}
        {% endif %}
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form action="{{ url_for('project.add_application', project_id=project.id) }}" method='post'>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="modal-body">
            {% if action=='add' %}
              <p>
              You are trying to add an application to {{ project.name }}. This
              will require applicants to respond to your application question
              and allow you to choose who can join the project. You can edit this
              in the project settings.
              </p>
              <br>
            {% endif %}
            <p>Application Question</p>
            {{ edit_application_form.csrf_token()  }}
            {{ edit_application_form.application_question(class='join-input', value=project.application_question, required=True) }}
            <br>
            {% if action=='edit' %}
              <small style='color:red;'>
                WARNING: If you remove the application, pending users will
                automatically be accepted.
              </small>
            {% endif %}
        </div>
        <div class="modal-footer">
          {% if action!='add' %}
            <button type='submit' formaction="{{ url_for('project.remove_application_requirement', project_id=project.id) }}" class='btn delete-btn col'>
              Remove Application
            </button>
          {% endif %}
          <button class='btn col'>
            {% if action=='add' %}
              Add
            {% else %}
              Edit
            {% endif %}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endmacro -%}


<!-- USER MACROS -->
<!-- USER CARD FOR DISPLAY IN CAROUSEL -->
{% macro render_user_card(current_user, user, carousel_type='search') -%}
<div class="col-md-4">
  <div class="card mb-2">
    <div class="card-body">
      <div class='card-head tiny'>
        <a class='project-name' href='user={{ user.code }}'>
          <h5>
            {{ user.name }}
            {% set badge = user.choose_badge(carousel_type) %}
            {% if badge %}
              {{ badge.name }}
            {% endif %}
            {% if user.recently_active() %}
              <i class="fa fa-circle fa-sm" style='color:#00FF5D;'></i>
            {% endif %}
          </h5>
        </a>
      </div>
      <div class='card-oneline' style=''>
        <p class='oneliner'>
          {{ user.about }}
        </p>
      </div>
      <div class='card-foot float-left'>
        {% for s in user.subjects[:5] %}
          <a href='/subject={{ s.subject.code }}'>
            {% if loop.index>1 %}
            ,
            {% endif %}
            <p class='subject-tag' style='background:{{ s.subject.color }};'>
              {{ s.subject.name }}
            </p>
          </a>
        {% endfor %}
      </div>
      <br>
      <hr class="my-2">
      {{ render_user_action_bar(current_user, user) }}
    </div>
  </div>
</div>
{% endmacro -%}


<!-- USER ACTION BAR FOR RELATIONSHIP ACTIONS -->
{% macro render_user_action_bar(current_user, target_user) -%}
<div class='action-bar'>
      {% if current_user!= target_user %}
        <div class='hoverable'>
          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          <span class='tooltiptext'>
            <a data-toggle='modal' data-target='#report_modal_{{ target_user.id }}'>
              Report User
            </a>
          </span>
        </div>
      {% else %}
        <form action="{{ url_for('user.flash_encouragement') }}" style='display:inline;' method='post'>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <button style='background:transparent; color: #F82B91; border:0;'>
            <i class="fa fa-heart" aria-hidden="true"></i>
          </button>
        </form>
      {% endif %}
    &nbsp;
    {{ render_collaborate_button(current_user, target_user) }}
    &nbsp;
    {{ render_user_share_button(target_user) }}
</div>
{% endmacro -%}

<!-- SHARE BUTTON FOR USER PAGE -->
{% macro render_user_share_button(user) -%}
  <div class='hoverable'>
    <i class="fa fa-share-alt" aria-hidden="false"></i>
    <span class='tooltiptext'>
      <a class="twitter-share-button"
          href="https://twitter.com/share?url=https://theprojectproject.io/user={{ user.code }}"
          data-size="large">
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
      </a>
      <a class="linkedin-share-button"
          href="https://twitter.com/share?url=https://theprojectproject.io/user={{ user.code }}"
          data-size="large">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </a>
      <a class="facebook-share-button"
          href="https://twitter.com/share?url=https://theprojectproject.io/"
          data-size="large">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </a>
      <a class="email-share-button"
          href="mailto:?subject={{ user.name }} on TheProjectProject&body=Check out {{ user.name }}'s profile on TheProjectProject:%0D%0Ahttps://theprojectproject.io/user={{ user.code }}!">
          <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
    </span>
  </div>
{% endmacro -%}

<!-- COLLABORATE MODAL FOR EXTENDING INVITATIONS TO USER -->
{% macro render_collaborate_modal(current_user, target_user, target_project=None) -%}
<div id="modal_user_{{ target_user.id }}" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <a href='user={{ target_user.code }}' style='color:black;'>
          <h5>{{ target_user.name }}</h5>
        </a>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      {% if (current_user.owned.count())>0 %}
      <form action="{{ url_for('user.collaborate', target_user_id=target_user.id) }}" method='post'>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="modal-body">
          <label for="new_owner">Select project on which to collaborate with {{ target_user.name }}:</label>
          <br>
          <select name="selected_project" id="selected_project" class='select-clean'>
            {% for project in current_user.owned %}
              {% if (project.complete!=True) and (project.open==True) and (target_user not in project.members) and (target_user not in project.invitations )%}
                {% if project==target_project %}
                  <option value="{{ project.id }}" selected>{{ project.name }}</option>
                {% else %}
                  <option value="{{ project.id }}">{{ project.name }}</option>
                {% endif %}
              {% endif %}
            {% endfor %}
          </select>
          <br><br>
          <p>{{ target_user.name }} will be sent an invitation
            and will be able to join without applying.
          </p>
        </div>
        <div class="modal-footer">
          <button class='btn'>Collaborate</button>
        </div>
      </form>
      {% else %}
        <div class="modal-body">
          <p>Cannot invite {{ target_user.name }} to collaborate because
            you do not own any projects! Try <a href='/add_project'>adding a project</a> first.
          </p>
        </div>
        <div class="modal-footer">
          <a href='/add_project'>
            <button class='btn'>Add Project</button>
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endmacro -%}


<!-- MODAL FOR EDITING USER ACCOUNT -->
{% macro render_edit_user_modal(user, edit_form) -%}
<div id="edit_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h5>Edit Your Account</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form id='editForm' method='post'>
        <div class="modal-body">
          <!-- token -->
          {{ edit_form.csrf_token }}
          <!-- ABOUT -->
          <center>
            <h6 style='text-decoration:underline;'>About</h6>
          </center>
          <!-- name -->
          {{ edit_form.name.label }}:<br>
          {{ edit_form.name(class='edit-input', value=user.name) }}
          {% if edit_form.name.errors %}
            <p class='warning'>{{ edit_form.name.errors[0] }}</p>
          {% endif %}
          <hr class='my-2'><br>
          <!-- user -->
          {{ edit_form.url.label }}:<br>
          {{ edit_form.url(class='edit-input', value=user.url) }}
          {% if edit_form.url.errors %}
            <p class='warning'>{{ edit_form.url.errors[0] }}</p>
          {% endif %}
          <hr class='my-2'><br>
          <!-- about -->
          {{ edit_form.about.label }}:<br>
          {{ edit_form.about(class='edit-input', value=user.about) }}
          {% if edit_form.about.errors %}
            <p class='warning'>{{ edit_form.about.errors[0] }}</p>
          {% endif %}
          <hr class='my-4'>
          <!-- PASSWORD -->
          <center>
            <h6 style='text-decoration:underline;'>Change Password</h6>
          </center>
          {% for password_field in [edit_form.password, edit_form.confirm] %}
            {{ password_field.label }}:<br>
            {{ password_field(class='edit-input') }}
            {% if password_field.errors %}
              <p class='warning'>{{ password_field.errors[0] }}</p>
            {% endif %}
            {% if loop.index==1 %}
              <hr class='my-2'><br>
            {% endif %}
          {% endfor %}
        </div>
        <div class="modal-footer row m-3">
          <button type='button' data-toggle='modal' data-target='#delete_account_modal' class='btn delete-btn col float-left'>
            Delete Account
          </button>
          <button class='btn col'>Change</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endmacro -%}


<!-- MODAL FOR DELETING USER ACCOUNT -->
{% macro render_delete_account_modal(user) -%}
<div id="delete_account_modal" class="modal fade" role="dialog" style='z-index:9999;'>
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h5>Delete Your Account</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form action="{{ url_for('user.delete_user') }}" method='post'>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="modal-body">
          <p style='color: red;'>
            WARNING: You are trying to delete your account. THIS CANNOT BE
            UNDONE (and also it will make us very sad, but that's okay).
          </p>
          <p>
            You will need to choose a new owner for all of your shared projects.
            Your solo projects will be permanently deleted.
          </p>
          {% for project in user.owned %}
            {% if project.members.all()|length > 1 %}
            <label for="new_owner">Select new owner for {{ project.name }}:</label>
            <br>
            <select name="new_owner_{{ project.id }}"
              id="new_owner_{{ project.id }}" class='select-clean'>
              {% for member in project.members %}
                {% if not member==project.owner %}
                  <option value="{{ member.id }}">{{ member.name }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <br><br>
            {% endif %}
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button class='btn delete-btn'>Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endmacro -%}
