<!-- project card to be shown to anonymous users -->
{% macro render_anon_project_card(project) -%}
<div class="col-md-4">
  <div class="card mb-2">
    <div class="card-body">
      <p class="float-right info-nums">
        {{ project.members.all()|length  }}
        <i class='far fa-user-circle'></i>
        <br>
        {{ project.stars.all()|length }}
        <i class="fa fa-star"></i>
      </p>
      <div class='card-head little'>
        {{ render_project_name(project, g.current_user) }}
        <p class='oneliner'>
          {{ project.oneliner }}
        </p>
      </div>
      <div class='card-foot float-left'>
        <div>
          {% for subject in project.subjects|reverse %}
            <a href='/subject={{ subject.code }}'>
              {% if loop.index>1 %}
              ,
              {% endif %}
              <p class='subject-tag' style='background:{{ subject.color }};'>
                {{ subject.name }}
              </p>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro -%}
